openapi: 3.2.0
info:
  title: OpenAPI definition Company Details API
  version: v0
servers:
- url: https://apis.egencia.com/openconnect/api
  description: API Server
tags:
- name: Company Details
paths:
  /v1/companies:
    get:
      tags:
      - Company Details
      description: 'Request Parameters


        Attribute


        Type


        Description


        Query Parameters


        name

        String

        Company name to search for (optional)


        company_id

        Long

        Specific company ID (optional)


        status

        List<String>

        Filter by company status(es) (optional)


        start

        Integer

        Pagination start index (default: 0, optional)


        sfid

        String

        Salesforce ID (optional)


        count

        Integer

        Number of results per page (default: 100, max: 100, optional)


        sort_by

        List<String>

        Fields to sort by (default: ["company_name"], optional)


        sort_direction

        String

        Sort direction: "ASC" or "DESC" (default: "ASC", optional)


        has_finance_consultant

        Boolean

        Filter by finance consultant presence (optional)


        comcode

        Long

        Company code filter (optional)


        Examples:


        Searching companies with multiple filters:


        GET https://apis-eu-west-1.lab.egencia.cloud/openconnect/api/v1/companies?name=Acme&status=ACTIVE&count=50&sort_by=company_name&sort_direction=ASC

        -> 200 OK

        {

        "companies": [

        {

        "company_id": 60806,

        "company_name": "Acme Corp"

        },

        {

        "company_id": 60807,

        "company_name": "Acme Industries"

        }

        ],

        "total_results": 2,

        "start": 0,

        "count": 50

        }'
      operationId: searchCompanies
      parameters:
      - name: name
        in: query
        description: Company name to search for
        required: false
        schema:
          type: string
      - name: company_id
        in: query
        description: Specific company ID
        required: false
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: Filter by company status(es)
        required: false
        schema:
          type: array
          items:
            type: string
      - name: start
        in: query
        description: 'Pagination start index (default: 0)'
        required: false
        schema:
          type: integer
          format: int32
      - name: sfid
        in: query
        description: Salesforce ID
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: 'Number of results per page (default: 100, max: 100)'
        required: false
        schema:
          type: integer
          format: int32
      - name: sort_by
        in: query
        description: 'Fields to sort by (default: ["company_name"])'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: sort_direction
        in: query
        description: 'Sort direction: "ASC" or "DESC" (default: "ASC")'
        required: false
        schema:
          type: string
      - name: has_finance_consultant
        in: query
        description: Filter by finance consultant presence
        required: false
        schema:
          type: boolean
      - name: comcode
        in: query
        description: Company code filter
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: <b>Success</b>, indicating that the search request has succeeded. Returns a list of companies matching the criteria.
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Company_Search_Response'
        '401':
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired'
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Company_Search_Response'
        '400':
          description: '<b>Bad Request</b> : invalid query parameters'
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Company_Search_Response'
      summary: Search companies
      x-summary-source: derived
  /v1/companies/{company_id}:
    get:
      tags:
      - Company Details
      description: 'Request Parameters


        Attribute


        Type


        Description


        metadata


        companyId

        Integer

        Id of the company for which Company Display Name needs to be fetched


        Examples:


        Retrieving Company Display Name for company_id : 60806


        GET https://apis-eu-west-1.lab.egencia.cloud/openconnect/api/v1/companies/{companyId}

        -> 200 OK

        {

        "company_id": 60806,

        "company_name": "TMS Demo Aus"

        }'
      operationId: retrieveCompany
      parameters:
      - name: company_id
        in: path
        description: Company Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: <b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Company_Display_Name'
        '401':
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired'
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Company_Display_Name'
        '404':
          description: '<b>Not Found</b> : the resource does not exist.'
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Company_Display_Name'
      summary: Retrieve company
      x-summary-source: derived
components:
  schemas:
    Company_Search_Response:
      type: object
      description: Company search results with pagination information
      properties:
        count:
          type: integer
          format: int32
          description: Number of results returned
        start:
          type: integer
          format: int32
          description: Start index for pagination
        totalResults:
          type: integer
          format: int32
          description: Total number of results found
        companies:
          type: array
          description: List of companies matching search criteria
          items:
            $ref: '#/components/schemas/Company_Display_Name'
    PhoneNumber:
      type: object
      properties:
        number:
          type: string
        label:
          type: string
    ActivationStatusAudit:
      type: object
      properties:
        changedBy:
          type: integer
          format: int64
        changedAt:
          type: integer
          format: int64
        oldStatus:
          type: string
          enum:
          - PENDING_ACTIVATION
          - ACTIVE
          - BLOCKED_FOR_BOOKING
          - BLOCKED_FOR_BOOKING_AND_INVOICING
          - DISABLED
          - DEACTIVATED
        newStatus:
          type: string
          enum:
          - PENDING_ACTIVATION
          - ACTIVE
          - BLOCKED_FOR_BOOKING
          - BLOCKED_FOR_BOOKING_AND_INVOICING
          - DISABLED
          - DEACTIVATED
        salesforceCaseNumber:
          type: string
    User:
      type: object
      properties:
        tuid:
          type: integer
          format: int64
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        userId:
          type: string
        email:
          type: string
        alternateEmail:
          type: string
        role:
          type: string
          enum:
          - ACCOUNT_MANAGER
          - BILLING_CONTACT
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
    Address:
      type: object
      properties:
        suite:
          type: string
        street:
          type: string
        addressLine2:
          type: string
        province:
          type: string
        city:
          type: string
        romanizedCity:
          type: string
        country:
          type: string
        countryCode:
          type: string
        postalCode:
          type: string
    Company_Display_Name:
      type: object
      description: ' Company Display Name with ComapnyId'
      properties:
        companyId:
          type: integer
          format: int64
          description: company id
        companyName:
          type: string
          description: Company Display Name
          maxLength: 2147483647
          minLength: 1
        id:
          type: string
        federalTaxId:
          type: string
        status:
          type: string
          enum:
          - READY_TO_CREATE
          - ENABLED
          - DISABLED
          - PENDING
          - DEACTIVATED_FOR_BOOKING
          - READY_FOR_ACTIVATION
          - UNCOMMITED
          - INVALID
          - DELETED
        companyAddress:
          $ref: '#/components/schemas/Address'
        productId:
          type: integer
          format: int64
        category:
          type: string
        travelManager:
          $ref: '#/components/schemas/User'
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        createdBy:
          type: string
        updatedBy:
          type: string
        language:
          type: string
        comcode:
          type: integer
          format: int64
        bookingBlocked:
          type: boolean
        active:
          type: boolean
        global:
          type: boolean
        activationStatus:
          type: string
          enum:
          - PENDING_ACTIVATION
          - ACTIVE
          - BLOCKED_FOR_BOOKING
          - BLOCKED_FOR_BOOKING_AND_INVOICING
          - DISABLED
          - DEACTIVATED
        auditActivationStatus:
          type: array
          items:
            $ref: '#/components/schemas/ActivationStatusAudit'
      required:
      - companyId
      - companyName
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://apis.egencia.com/auth/v1/token
