openapi: 3.2.0
info:
  title: Openconnect Service Approval API
  description: 'Introduction to the Document


    This document provides a detailed overview of the Approval Customisation SPI and how it can be used to customize the approval process as per clients requirements.'
  version: v1.0
servers:
- url: https://apis.egencia.com/openconnect/api
  description: Generated server url
tags:
- name: Approval
  description: Approval interface that will get approval custom detail from external client based on the booking data passed in request
paths:
  /v1/custom-approval:
    post:
      tags:
      - Approval
      description: It will return the custom approval details, for example - approvers and approval required for both the level based on the booking data passed in request
      operationId: getApprovalDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequest'
        required: true
      responses:
        '500':
          description: '<b>Internal Server Error</b> : Failed to execute with custom approval details (1st or 2nd level)'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OpenconnectApprovalErrorResponseBean'
        '400':
          description: '<b>Bad Request</b> : Approval to execute with provided custom approval details (1st or 2nd level)'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OpenconnectApprovalErrorResponseBean'
        '200':
          description: '<b>Ok</b> : Approval to execute with provided custom approval details (1st or 2nd level)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalApprovalDetailsResponse'
        '401':
          description: '<b>Unauthorized</b> : Approval to execute with provided custom approval details (1st or 2nd level)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalApprovalDetailsResponse'
        '403':
          description: '<b>Forbidden</b> : Approval to execute with provided custom approval details (1st or 2nd level)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalApprovalDetailsResponse'
      summary: Get approval details
      x-summary-source: derived
components:
  schemas:
    ExternalApprovalDetail:
      properties:
        level:
          type: string
          description: denotes approver level
          enum:
          - LEVEL_ONE
          - LEVEL_TWO
        required:
          type: boolean
          description: denotes whether approver is required or not
        approvers:
          type: array
          description: denotes list of approver tuids
          items:
            type: string
            description: denotes list of approver tuids
    Traveler:
      description: Stores the traveler information.
      properties:
        email_id:
          type: string
          description: Stores Traveler Email
        price:
          $ref: '#/components/schemas/Price'
        custom_data_fields:
          type: array
          description: Stores CDF information
          items:
            $ref: '#/components/schemas/CustomDataField'
        guest_traveler:
          type: boolean
      required:
      - custom_data_fields
      - email_id
      - price
    ErrorSourceBean:
      description: Source
      properties:
        application_name:
          type: string
          description: Application Name
        error_code:
          type: string
          description: Error Code
        error_description:
          type: string
          description: Error Description
    ErrorResponseDataBean:
      description: Data
      properties:
        attribute:
          type: string
          description: Attribute
        message:
          type: string
          description: Message
        external_attributes:
          type: object
          additionalProperties:
            type: object
    CustomDataField:
      description: Stores CDF information
      properties:
        name:
          type: string
          description: Stores the cdf name
        value:
          type: string
          description: Stores the cdf value
      required:
      - name
      - value
    Company:
      description: Stores the company information.
      properties:
        id:
          type: integer
          format: int32
          description: Stores the company id
        point_of_sale:
          type: string
          description: Stores the point of sale
      required:
      - id
      - point_of_sale
    ApprovalRequest:
      description: Approval request
      properties:
        line_of_business:
          type: string
          description: Stores the lob information.
        company:
          $ref: '#/components/schemas/Company'
        travelers:
          type: array
          description: Stores the traveler information.
          items:
            $ref: '#/components/schemas/Traveler'
      required:
      - company
      - line_of_business
      - travelers
    ExternalApprovalDetailsResponse:
      properties:
        approval_details:
          type: array
          items:
            $ref: '#/components/schemas/ExternalApprovalDetail'
    OpenconnectApprovalErrorResponseBean:
      properties:
        error_code:
          type: string
          description: Error Code
        error_subcode:
          type: string
          description: Error Sub Code
        error_description:
          type: string
          description: Error Description
        detail_error_message:
          type: string
          description: Details about Error Message
        source:
          $ref: '#/components/schemas/ErrorSourceBean'
        data:
          type: array
          description: Data
          items:
            $ref: '#/components/schemas/ErrorResponseDataBean'
    Price:
      description: Price of the booking.
      properties:
        currency:
          type: string
        amount:
          type: number
          format: double
