openapi: 3.2.0
info:
  title: OpenAPI definition Agent Assist Notes API
  version: v0
servers:
- url: https://apis.egencia.com/openconnect/api
  description: API Server
tags:
- name: Agent Assist Notes
paths:
  /v1/companies/{company_id}/agent-assist-notes:
    get:
      tags:
      - Agent Assist Notes
      description: 'Request Parameters


        Attribute


        Type


        Description


        metadata


        companyId

        Integer

        Id of the company for which AgentAssistNotes needs to be fetched


        Examples:


        Retrieving AgentAssistNotes for company_id : 60806


        GET https://apis-eu-west-1.lab.egencia.cloud/openconnect/api/v1/companies/{companyId}/agent-assist-notes

        -> 200 OK

        {

        {

        "company_id": 60806,

        "agent_assist_note": [

        {

        "note_id": "1675325615806-bb28fb98",

        "title": "Travel Managers",

        "message": "travel manager details",

        "created_at": 1675325615806,

        "updated_at": 1678197261234

        },

        {

        "note_id": "1675751952010-15b89dc8",

        "title": "Service Team",

        "message": "Service Teams second ",

        "created_at": 1675751952010,

        "updated_at": 1675762783745

        },

        {

        "note_id": "1680240558150-ef44ae1a",

        "title": "test",

        "message": "tee",

        "created_at": 1680240558150,

        "updated_at": 1680240558150

        },

        {

        "note_id": "1680324192666-a29143f7",

        "title": "ff",

        "message": "hh",

        "created_at": 1680324192666,

        "updated_at": 1680324192666

        },

        {

        "note_id": "1680340488384-85cc5c67",

        "title": "test title 5",

        "message": "test message 6",

        "created_at": 1680340488384,

        "updated_at": 1680340488384

        }

        ]

        }'
      operationId: getAgentAssistNotes
      parameters:
      - name: company_id
        in: path
        description: Company Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '201':
          description: <b>Created</b>, indicating that the submitted creation request has succeed. The response HTTP header <i>Location</i> contains the resource identifier.
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Agent_Assist_Notes'
        '401':
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty3, invalid or expired'
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Agent_Assist_Notes'
        '403':
          description: <b>403 - Forbidden</b>
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Agent_Assist_Notes'
        '422':
          description: '<b>Invalid input</b> : invalid or missing required input.'
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Agent_Assist_Notes'
        '500':
          description: '<b>Internal Server Error</b> : unable to process request'
          content:
            application/json;charset=utf-8:
              schema:
                $ref: '#/components/schemas/Agent_Assist_Notes'
      summary: Get agent assist notes
      x-summary-source: derived
components:
  schemas:
    Agent_Assist_Notes:
      type: object
      description: ' List of Agent Assist Notes'
      properties:
        companyId:
          type: integer
          format: int64
          description: company id
        agent_assist_note:
          type: array
          description: list of Agent Assist Notes
          items:
            $ref: '#/components/schemas/AgentAssistNoteDTO'
      required:
      - companyId
    AgentAssistNoteDTO:
      type: object
      properties:
        noteId:
          type: string
        title:
          type: string
        message:
          type: string
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://apis.egencia.com/auth/v1/token
