openapi: 3.2.0
info:
  title: OpenAPI definition Receipts API
  version: v0
servers:
- url: https://apis.egencia.com/openconnect/api
  description: Generated server url
tags:
- name: Receipts
paths:
  /v1/receipts/{itemId}:
    get:
      description: 'Fetch receipt for a booking item


        Request Parameters


        Attribute


        Type


        Description


        bookingId

        String

        Id corresponding to the trips summary for which you want to fetch each booking item receipts


        itemId

        String

        Id corresponding to the booking item for which we want to fetch receipt


        Response Parameters in case of successful response


        In case of successful response receipt pdf will be send to the partner with 200 OK status


        Response Parameters in case of failure response


        Attribute


        Type


        Description


        code

        String

        Error code in case of receipt failure


        message

        String

        Error message in case of failure


        Below response with 404 Not Found Error HttpStatus


        {

        "error": {

        "code": "EGE-ER-OS-4010",

        "message": "Receipt is unavailable for this booking item."

        }

        }'
      operationId: getReceipt_1
      parameters:
      - in: path
        name: itemId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: <b>OK</b>.
        '400':
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '404':
          description: '<b>Not Found</b> : You are trying to access an invalid or non existent resource.'
        '422':
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Fetch receipt for a booking item
      tags:
      - Receipts
components:
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          tokenUrl: https://apis.egencia.com/auth/v1/token
      type: oauth2
