openapi: 3.2.0
info:
  description: 'Terms & Conditions


    All details on this document are copyrighted and are protected by Egencia copyright laws.'
  title: BI Pos Iata Controller API
  version: v1.0
servers:
- url: https://apis.egencia.com/bi/api
  description: Generated server url
tags:
- name: pos-iata-controller
paths:
  /v1/egencia_iata:
    get:
      description: 'Allows clients to access the IATA codes based on the Point of Sales for different transactions

        obtained from the Transaction API response.


        Request Specifications:


        Attribute

        Required

        Type

        Description


        pos


        Optional

        String

        Point of Sale for which the user wants to get the IATA code.


        Examples:


        Fetching IATA codes for specified Point of Sale


        GET https://apis.egencia.com/bi/api/v1/egencia_iata?pos=France

        -> 200 OK

        [

        {

        "pos":"France",

        "iata":"1234567"

        }

        ]


        Fetching IATA codes for all available Point of Sales


        GET https://apis.egencia.com/bi/api/v1/egencia_iata

        -> 200 OK

        [

        {

        "pos":"France",

        "iata":"1234567"

        },

        {

        "pos":"India",

        "iata":"563489"

        },

        {

        "pos":"United States of America",

        "iata":"824485"

        },

        {

        "pos":"United Kingdom",

        "iata":"4593557"

        },

        {

        "pos":"Australia",

        "iata":"45983645"

        }

        {

        "pos":"Denmark",

        "iata":"9876543"

        },

        {

        "pos":"Norway",

        "iata":"609843"

        }

        ]


        This API will return the Point of Sales and their corresponding IATA Codes'
      operationId: getIATACode
      parameters:
      - description: Point of Sale code to look up. Returns all Point of Sales if not specified
        example: US
        in: query
        name: pos
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IATA_Code_response'
          description: '<b>OK</b> : IATA code(s) returned successfully'
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IATA_Code_response'
          description: '<b>Bad Request</b> : invalid query parameter'
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IATA_Code_response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired'
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IATA_Code_response'
          description: '<b>Forbidden</b> : user does not have the permission to access data'
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IATA_Code_response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Gets IATA code for the specified Point of Sale or all Point of Sales if none…
      tags:
      - pos-iata-controller
components:
  schemas:
    IATA_Code_response:
      description: IATA Code API response based on provided Point of Sale
      properties:
        iata:
          type: string
          description: IATA Code for the particular Point of Sale
        pos:
          type: string
          description: Point of Sale
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          tokenUrl: https://apis.egencia.com/auth/v1/token
      type: oauth2
