openapi: 3.2.0
info:
  title: OpenAPI definition Ecommerce Settings Controller API
  version: v0
servers:
- url: https://apis.egencia.com/openconnect/api
  description: API Server
tags:
- name: ecommerce-settings-controller
paths:
  /v1/companies/ecommerce-settings:
    get:
      tags:
      - ecommerce-settings-controller
      operationId: getSettings
      parameters:
      - name: billing_dk
        in: query
        required: false
        schema:
          type: string
      - name: traveler_dk
        in: query
        required: false
        schema:
          type: string
      - name: setting_type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: <b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ECommerceSettingsApiResponse'
        '401':
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ECommerceSettingsApiResponse'
        '404':
          description: '<b>Not Found</b> : the resource does not exist.'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ECommerceSettingsApiResponse'
      summary: Get settings
      x-summary-source: derived
  /v1/companies/ecommerce-settings/audit:
    get:
      tags:
      - ecommerce-settings-controller
      operationId: getAudit
      parameters:
      - name: start
        in: query
        description: Start Timestamp
        required: true
        schema:
          type: string
          format: date-time
      - name: end
        in: query
        description: End Timestamp
        required: true
        schema:
          type: string
          format: date-time
      - name: setting_type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: <b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ECommerceAuditApiResponse'
        '401':
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ECommerceAuditApiResponse'
        '404':
          description: '<b>Not Found</b> : the resource does not exist.'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ECommerceAuditApiResponse'
      summary: Get audit
      x-summary-source: derived
components:
  schemas:
    ECommerceSetting:
      type: object
      properties:
        settingType:
          type: string
          enum:
          - INVOICE_SETTING
          - PAYMENT_SETTING
          - COMPANY_SETTING
        setting: {}
    ECommerceSettingsApiResponse:
      type: object
      properties:
        ecommerceSettings:
          type: array
          items:
            $ref: '#/components/schemas/ECommerceSetting'
    DkChange:
      type: object
      properties:
        dkNumber:
          type: string
        updatedAt:
          type: string
          format: date-time
        settingType:
          type: string
          enum:
          - INVOICE_SETTING
          - PAYMENT_SETTING
          - COMPANY_SETTING
    ECommerceAuditApiResponse:
      type: object
      properties:
        billingDkChanges:
          type: array
          items:
            $ref: '#/components/schemas/DkChange'
        travelerDkChanges:
          type: array
          items:
            $ref: '#/components/schemas/DkChange'
  securitySchemes:
    oAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://apis.egencia.com/auth/v1/token
