openapi: 3.2.0
info:
  title: Amex Gbt Transaction Service Controller API
  version: v1.0
  description: 'Operations tagged transaction-service-controller across 2 of this provider''s published API definitions: amex-gbt-reporting-api-openapi.json, amex-gbt-service-bi-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://apis.egencia.com/bi/api
  description: Generated server url
tags:
- description: Transaction data operations
  name: transaction-service-controller
paths:
  /v1/transactions:
    post:
      description: "<p>This API call allows the client to submit a request for retrieving transactions for a specified search criteria (All LOB summary).</p>\n<p> Request Specifications: </p>\n<div>\n<table style=\"letter-spacing: 0px; width: 92.2059%; padding: 0px;\" role=\"grid\" resolved=\"\">\n  <colgroup>\n   <col style=\"width: 9.1853%;\">\n   <col>\n   <col style=\"width: 7.7476%;\">\n   <col style=\"width: 83.0671%;\">\n  </colgroup>\n  <thead>\n  <tr>\n   <th data-column=\"0\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Attribute: No sort applied, activate to apply an ascending sort\" style=\"user-select: none;\">\n       <div>Attribute</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"1\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Required/optional: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Required/optional</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"2\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Type: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Type</div>\n   </th>\n   <th data-column=\"3\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Description: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Description</div>\n   </th>\n  </tr>\n  </thead>\n  <tbody aria-live=\"polite\" aria-relevant=\"all\">\n  <tr>\n   <td>start_date, end_date</td>\n   <td>Required</td>\n   <td>String</td>\n   <td>Specific date range for which the transaction data is requested.The date range to fetch the\n       booking transactions data. Timestamp in format: YYYY-MM-DD HH:MM:SS. (Example:\n       2020-05-05 09:00:00) These should come as a pair.Note: Future date is only allowed if the date_type is set as travel_date.\n       <ul>\n           <li>Both start and end date is mandatory. If either start date or end date is missing it will it\n               throw an error\n           </li>\n           <li>Default timezone is UTC</li>\n       </ul>\n   </td>\n  </tr>\n  <tr>\n   <td>locale</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Locale represents the supported language to get the report. Accepted values are: nb-NO, de-DE, en-US,\n       en-CA, es-ES, fr-CA, it-IT, nl-NL, sv-SE, en-AU, da-DK, fr-FR, en-GB (Defult locale is en-US)\n       Note: This value is case sensitive.\n   </td>\n  </tr>\n  <tr>\n   <td>currency_code</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>3 character currency code to get the amount in given currency. Accepted Values are: CHF, ARS, MXN, CLP,\n       ZAR, INR, VND, CNY, THB, AUD, ILS, JPY, PLN, GBP, IDR, PHP, TRY, RUB, AED, HKD, EUR, COP, DKK, CAD, MYR,\n       USD, NOK, SGD, CZK, SEK, NZD, BRL, UAH\n   </td>\n  </tr>\n  <tr>\n   <td>includes</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>To include custom data fields in the response. Custom data fields will now come in response only when\n       requested by users in the include option. Values: [\"cdf\"]\n   </td>\n  </tr>\n  <tr>\n   <td>report_level</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Report level for the LOB's air and train to retrieve data for a specific report level.        \"ticket, segment, leg\" are the three different requests configured by report_level field.         If this data is not provided Ticket Level data will be returned by default\n   </td>\n  </tr>\n  <tr>\n   <td>date_type</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>The date type to search the records. You can search for records based on travel date as well as issue\n       date. \"Issue date\" and \"travel date\" will provide data based on issue date and travel date respectively.\n       If no value is passed as datetype, issue date will be considered by default. Accepted Values are: issue_date,travel_date\n       Note : Issue date cannot be future date. However, travel date can be a future date or past date.\n   </td>\n  </tr>\n  <tr>\n   <td>active_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the records with active ticket status or all records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you can exclude\n       bookings and items that have been cancelled, exchanged, voided, or refunded.\n   </td>\n  </tr>\n  <tr>\n   <td>client_ids</td>\n   <td>Optional</td>\n   <td>List<String></td>\n   <td>       With this parameter, it becomes possible for a client or a partner to specify the \n        companies for which they want the reporting data. It accepts a list of the client ids given in string format.\n       If no value is given, by default data will be returned for all associated companies for the client.\n       Note: Passing incorrect company Id values or non numeric values would return an error.\n   </td>\n  </tr>\n  <tr>\n   <td>reconciled_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the reconciled records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you recieve only the records\n       undergoing reconciliation process.\n   </td>\n  </tr>\n  </tbody>\n</table>\n</div>\n\n<b>Example:</b></br>\n\n<pre>\n<code>\n  POST https://apis.egencia.com/bi/api/v1/transactions\n    {\n       \"start_date\": \"2018-01-01 09:00:00\",\n       \"end_date\": \"2018-05-05 09:00:00\",\n       \"locale\": \"en-US\",\n       \"currency_code\": \"USD\",\n       \"date_type\": \"issue_date\",\n       \"active_records_only\":\"true\",\n       \"client_ids\":[\"10098\",\"13882\",\"19120\"],\n       \"reconciled_records_only\":\"true\"\n    }\n     -> 201 CREATED\n    {\n     \"metadata\": {\n       \"page_limit\": 5000,\n       \"total_records\": 10000,\n       \"total_pages\": 2,\n       \"latest_reconciled_date\": \"2018-04-29 00:00:00\"\n     },\n     \"_links\": {\n       \"first\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=1\"\n       },\n       \"last\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=2\"\n       }\n     },\n     \"report_id\": \"3004fa51-104e-4712-b34d-bf7635eb2958\"\n   }\n</code>\n</pre>\n</br>\n<p>This API will return the metadata (hyperlinks) of the resource from where all the qualified transactions will be fetched in a paginated manner.</p>"
      operationId: queryTransactions
      parameters:
      - description: Set to true to include SGP data in the response
        in: header
        name: SGP-Request
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_data_filters_to_create_a_new_report'
        required: true
      responses:
        '201':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>Created</b>.
        '204':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>No Content</b>.
        '400':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Create paginated transaction queries for all LOBs summary data based on search criteria
      tags:
      - transaction-service-controller
    servers:
    - url: https://apis.egencia.com/bi/api
      description: Generated server url
  /v1/transactions/air:
    post:
      description: "<p>This API call allows the client to submit a request for retrieving transactions for a specified search criteria (Air\n    LOB).</p>\n<p> Request Specifications: </p>\n<div>\n<table style=\"letter-spacing: 0px; width: 92.2059%; padding: 0px;\" role=\"grid\" resolved=\"\">\n  <colgroup>\n   <col style=\"width: 9.1853%;\">\n   <col>\n   <col style=\"width: 7.7476%;\">\n   <col style=\"width: 83.0671%;\">\n  </colgroup>\n  <thead>\n  <tr>\n   <th data-column=\"0\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Attribute: No sort applied, activate to apply an ascending sort\" style=\"user-select: none;\">\n       <div>Attribute</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"1\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Required/optional: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Required/optional</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"2\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Type: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Type</div>\n   </th>\n   <th data-column=\"3\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Description: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Description</div>\n   </th>\n  </tr>\n  </thead>\n  <tbody aria-live=\"polite\" aria-relevant=\"all\">\n  <tr>\n   <td>start_date, end_date</td>\n   <td>Required</td>\n   <td>String</td>\n   <td>Specific date range for which the transaction data is requested.The date range to fetch the\n       booking transactions data. Timestamp in format: YYYY-MM-DD HH:MM:SS. (Example:\n       2020-05-05 09:00:00) These should come as a pair.Note: Future date is only allowed if the date_type is set as travel_date.\n       <ul>\n           <li>Both start and end date is mandatory. If either start date or end date is missing it will it\n               throw an error\n           </li>\n           <li>Default timezone is UTC</li>\n       </ul>\n   </td>\n  </tr>\n  <tr>\n   <td>locale</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Locale represents the supported language to get the report. Accepted values are: nb-NO, de-DE, en-US,\n       en-CA, es-ES, fr-CA, it-IT, nl-NL, sv-SE, en-AU, da-DK, fr-FR, en-GB (Defult locale is en-US)\n       Note: This value is case sensitive.\n   </td>\n  </tr>\n  <tr>\n   <td>currency_code</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>3 character currency code to get the amount in given currency. Accepted Values are: CHF, ARS, MXN, CLP,\n       ZAR, INR, VND, CNY, THB, AUD, ILS, JPY, PLN, GBP, IDR, PHP, TRY, RUB, AED, HKD, EUR, COP, DKK, CAD, MYR,\n       USD, NOK, SGD, CZK, SEK, NZD, BRL, UAH\n   </td>\n  </tr>\n  <tr>\n   <td>includes</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>To include custom data fields and/or co2 in the response. These will now come in response only when\n       requested by users in the include option. Values: [\"cdf\",\"co2\"]\n   </td>\n  </tr>\n  <tr>\n   <td>report_level</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Report level for the LOB's air and train to retrieve data for a specific report level.        \"ticket, segment, leg\" are the three different requests configured by report_level field.         If this data is not provided Ticket Level data will be returned by default\n   </td>\n  </tr>\n  <tr>\n   <td>date_type</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>The date type to search the records. You can search for records based on travel date as well as issue\n       date. \"Issue date\" and \"travel date\" will provide data based on issue date and travel date respectively.\n       If no value is passed as datetype, issue date will be considered by default. Accepted Values are: issue_date,travel_date\n       Note : Issue date cannot be future date. However, travel date can be a future date or past date.\n   </td>\n  </tr>\n  <tr>\n   <td>active_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the records with active ticket status or all records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you can exclude\n       bookings and items that have been cancelled, exchanged, voided, or refunded.\n   </td>\n  </tr>\n  <tr>\n   <td>client_ids</td>\n   <td>Optional</td>\n   <td>List<String></td>\n   <td>       With this parameter, it becomes possible for a client or a partner to specify the \n        companies for which they want the reporting data. It accepts a list of the client ids given in string format.\n       If no value is given, by default data will be returned for all associated companies for the client.\n       Note: Passing incorrect company Id values or non numeric values would return an error.\n   </td>\n  </tr>\n  <tr>\n   <td>reconciled_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the reconciled records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you recieve only the records\n       undergoing reconciliation process.\n   </td>\n  </tr>\n  </tbody>\n</table>\n</div>\n\n<b>Example:</b></br>\n\n<pre>\n<code>\n  POST https://apis.egencia.com/bi/api/v1/transactions/air\n    {\n       \"start_date\": \"2018-01-01 09:00:00\",\n       \"end_date\": \"2018-05-05 09:00:00\",\n       \"locale\": \"en-US\",\n       \"currency_code\": \"USD\",\n       \"report_level\": \"segment\",\n       \"date_type\": \"issue_date\",\n       \"includes\": [\"cdf\",\"co2\"],\n       \"active_records_only\":\"true\",\n       \"client_ids\":[\"10098\",\"13882\",\"19120\"],\n       \"reconciled_records_only\":\"true\"\n    }\n     -> 201 CREATED\n    {\n     \"metadata\": {\n       \"page_limit\": 5000,\n       \"total_records\": 10000,\n       \"total_pages\": 2,\n       \"latest_reconciled_date\": \"2018-04-29 00:00:00\"\n     },\n     \"_links\": {\n       \"first\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=1\"\n       },\n       \"last\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=2\"\n       }\n     },\n     \"report_id\": \"3004fa51-104e-4712-b34d-bf7635eb2958\"\n   }\n</code>\n</pre>\n</br>\n<p>This API will return the metadata (hyperlinks) of the resource from where all the qualified transactions will be\n    fetched in a paginated manner.</p>"
      operationId: queryTransactionsForAir
      parameters:
      - description: Set to true to include SGP data in the response
        in: header
        name: SGP-Request
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_data_filters_to_create_a_new_report'
        required: true
      responses:
        '201':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>Created</b>.
        '204':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>No Content</b>.
        '400':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Create paginated transaction queries for Air LOB data based on search criteria
      tags:
      - transaction-service-controller
    servers:
    - url: https://apis.egencia.com/bi/api
      description: Generated server url
  /v1/transactions/car:
    post:
      description: "<p>This API call allows the client to submit a request for retrieving transactions for a specified search criteria (Car LOB).</p>\n<p> Request Specifications: </p>\n<div>\n<table style=\"letter-spacing: 0px; width: 92.2059%; padding: 0px;\" role=\"grid\" resolved=\"\">\n  <colgroup>\n   <col style=\"width: 9.1853%;\">\n   <col>\n   <col style=\"width: 7.7476%;\">\n   <col style=\"width: 83.0671%;\">\n  </colgroup>\n  <thead>\n  <tr>\n   <th data-column=\"0\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Attribute: No sort applied, activate to apply an ascending sort\" style=\"user-select: none;\">\n       <div>Attribute</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"1\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Required/optional: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Required/optional</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"2\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Type: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Type</div>\n   </th>\n   <th data-column=\"3\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Description: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Description</div>\n   </th>\n  </tr>\n  </thead>\n  <tbody aria-live=\"polite\" aria-relevant=\"all\">\n  <tr>\n   <td>start_date, end_date</td>\n   <td>Required</td>\n   <td>String</td>\n   <td>Specific date range for which the transaction data is requested.The date range to fetch the\n       booking transactions data. Timestamp in format: YYYY-MM-DD HH:MM:SS. (Example:\n       2020-05-05 09:00:00) These should come as a pair.Note: Future date is only allowed if the date_type is set as travel_date.\n       <ul>\n           <li>Both start and end date is mandatory. If either start date or end date is missing it will it\n               throw an error\n           </li>\n           <li>Default timezone is UTC</li>\n       </ul>\n   </td>\n  </tr>\n  <tr>\n   <td>locale</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Locale represents the supported language to get the report. Accepted values are: nb-NO, de-DE, en-US,\n       en-CA, es-ES, fr-CA, it-IT, nl-NL, sv-SE, en-AU, da-DK, fr-FR, en-GB (Defult locale is en-US)\n       Note: This value is case sensitive.\n   </td>\n  </tr>\n  <tr>\n   <td>currency_code</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>3 character currency code to get the amount in given currency. Accepted Values are: CHF, ARS, MXN, CLP,\n       ZAR, INR, VND, CNY, THB, AUD, ILS, JPY, PLN, GBP, IDR, PHP, TRY, RUB, AED, HKD, EUR, COP, DKK, CAD, MYR,\n       USD, NOK, SGD, CZK, SEK, NZD, BRL, UAH\n   </td>\n  </tr>\n  <tr>\n   <td>includes</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>To include custom data fields in the response. Custom data fields will now come in response only when\n       requested by users in the include option. Values: [\"cdf\"]\n   </td>\n  </tr>\n  <tr>\n   <td>report_level</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Report level for the LOB's air and train to retrieve data for a specific report level.        \"ticket, segment, leg\" are the three different requests configured by report_level field.         If this data is not provided Ticket Level data will be returned by default\n   </td>\n  </tr>\n  <tr>\n   <td>date_type</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>The date type to search the records. You can search for records based on travel date as well as issue\n       date. \"Issue date\" and \"travel date\" will provide data based on issue date and travel date respectively.\n       If no value is passed as datetype, issue date will be considered by default. Accepted Values are: issue_date,travel_date\n       Note : Issue date cannot be future date. However, travel date can be a future date or past date.\n   </td>\n  </tr>\n  <tr>\n   <td>active_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the records with active ticket status or all records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you can exclude\n       bookings and items that have been cancelled, exchanged, voided, or refunded.\n   </td>\n  </tr>\n  <tr>\n   <td>client_ids</td>\n   <td>Optional</td>\n   <td>List<String></td>\n   <td>       With this parameter, it becomes possible for a client or a partner to specify the \n        companies for which they want the reporting data. It accepts a list of the client ids given in string format.\n       If no value is given, by default data will be returned for all associated companies for the client.\n       Note: Passing incorrect company Id values or non numeric values would return an error.\n   </td>\n  </tr>\n  </tbody>\n</table>\n</div>\n\n<b>Example:</b></br>\n\n<pre>\n<code>\n  POST https://apis.egencia.com/bi/api/v1/transactions/car\n    {\n       \"start_date\": \"2018-01-01 09:00:00\",\n       \"end_date\": \"2018-05-05 09:00:00\",\n       \"locale\": \"en-US\",\n       \"currency_code\": \"USD\",\n       \"date_type\": \"issue_date\",\n       \"active_records_only\":\"true\"\n       \"client_ids\":[\"10098\",\"13882\",\"19120\"]\n    }\n     -> 201 CREATED\n    {\n     \"metadata\": {\n       \"page_limit\": 5000,\n       \"total_records\": 10000,\n       \"total_pages\": 2\n     },\n     \"_links\": {\n       \"first\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=1\"\n       },\n       \"last\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=2\"\n       }\n     },\n     \"report_id\": \"3004fa51-104e-4712-b34d-bf7635eb2958\"\n   }\n</code>\n</pre>\n</br>\n<p>This API will return the metadata (hyperlinks) of the resource from where all the qualified transactions will be fetched in a paginated manner.</p>"
      operationId: queryTransactionsForCar
      parameters:
      - description: Set to true to include SGP data in the response
        in: header
        name: SGP-Request
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_data_filters_to_create_a_new_report'
        required: true
      responses:
        '201':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>Created</b>.
        '204':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>No Content</b>.
        '400':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Create paginated transaction queries for Car LOB data based on search criteria
      tags:
      - transaction-service-controller
    servers:
    - url: https://apis.egencia.com/bi/api
      description: Generated server url
  /v1/transactions/fees:
    post:
      description: "<p>This API call allows the client to submit a request for retrieving transactions for a specified search criteria (Fee LOB).</p>\n<p> Request Specifications: </p>\n<div>\n<table style=\"letter-spacing: 0px; width: 92.2059%; padding: 0px;\" role=\"grid\" resolved=\"\">\n  <colgroup>\n   <col style=\"width: 9.1853%;\">\n   <col>\n   <col style=\"width: 7.7476%;\">\n   <col style=\"width: 83.0671%;\">\n  </colgroup>\n  <thead>\n  <tr>\n   <th data-column=\"0\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Attribute: No sort applied, activate to apply an ascending sort\" style=\"user-select: none;\">\n       <div>Attribute</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"1\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Required/optional: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Required/optional</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"2\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Type: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Type</div>\n   </th>\n   <th data-column=\"3\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Description: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Description</div>\n   </th>\n  </tr>\n  </thead>\n  <tbody aria-live=\"polite\" aria-relevant=\"all\">\n  <tr>\n   <td>start_date, end_date</td>\n   <td>Required</td>\n   <td>String</td>\n   <td>Specific date range for which the transaction data is requested.The date range to fetch the\n       booking transactions data. Timestamp in format: YYYY-MM-DD HH:MM:SS. (Example:\n       2020-05-05 09:00:00) These should come as a pair.Note: Future date is only allowed if the date_type is set as travel_date.\n       <ul>\n           <li>Both start and end date is mandatory. If either start date or end date is missing it will it\n               throw an error\n           </li>\n           <li>Default timezone is UTC</li>\n       </ul>\n   </td>\n  </tr>\n  <tr>\n   <td>locale</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Locale represents the supported language to get the report. Accepted values are: nb-NO, de-DE, en-US,\n       en-CA, es-ES, fr-CA, it-IT, nl-NL, sv-SE, en-AU, da-DK, fr-FR, en-GB (Defult locale is en-US)\n       Note: This value is case sensitive.\n   </td>\n  </tr>\n  <tr>\n   <td>currency_code</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>3 character currency code to get the amount in given currency. Accepted Values are: CHF, ARS, MXN, CLP,\n       ZAR, INR, VND, CNY, THB, AUD, ILS, JPY, PLN, GBP, IDR, PHP, TRY, RUB, AED, HKD, EUR, COP, DKK, CAD, MYR,\n       USD, NOK, SGD, CZK, SEK, NZD, BRL, UAH\n   </td>\n  </tr>\n  <tr>\n   <td>includes</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>To include custom data fields in the response. Custom data fields will now come in response only when\n       requested by users in the include option. Values: [\"cdf\"]\n   </td>\n  </tr>\n  <tr>\n   <td>active_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the records with active ticket status or all records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you can exclude\n       bookings and items that have been cancelled, exchanged, voided, or refunded.\n   </td>\n  </tr>\n  <tr>\n   <td>client_ids</td>\n   <td>Optional</td>\n   <td>List<String></td>\n   <td>       With this parameter, it becomes possible for a client or a partner to specify the \n        companies for which they want the reporting data. It accepts a list of the client ids given in string format.\n       If no value is given, by default data will be returned for all associated companies for the client.\n       Note: Passing incorrect company Id values or non numeric values would return an error.\n   </td>\n  </tr>\n  </tbody>\n</table>\n</div>\n\n<b>Example:</b></br>\n\n<pre>\n<code>\n  POST https://apis.egencia.com/bi/api/v1/transactions/fees\n    {\n       \"start_date\": \"2018-01-01 09:00:00\",\n       \"end_date\": \"2018-05-05 09:00:00\",\n       \"locale\": \"en-US\",\n       \"currency_code\": \"USD\",\n       \"active_records_only\":\"true\"\n       \"client_ids\":[\"10098\",\"13882\",\"19120\"]\n    }\n     -> 201 CREATED\n    {\n     \"metadata\": {\n       \"page_limit\": 5000,\n       \"total_records\": 10000,\n       \"total_pages\": 2\n     },\n     \"_links\": {\n       \"first\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=1\"\n       },\n       \"last\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=2\"\n       }\n     },\n     \"report_id\": \"3004fa51-104e-4712-b34d-bf7635eb2958\"\n   }\n</code>\n</pre>\n</br>\n<p>This API will return the metadata (hyperlinks) of the resource from where all the qualified transactions will be fetched in a paginated manner.</p>"
      operationId: queryTransactionsForFees
      parameters:
      - description: Set to true to include SGP data in the response
        in: header
        name: SGP-Request
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_data_filters_to_create_a_new_report'
        required: true
      responses:
        '201':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>Created</b>.
        '204':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>No Content</b>.
        '400':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Create paginated transaction queries for Fees LOB data based on search criteria
      tags:
      - transaction-service-controller
    servers:
    - url: https://apis.egencia.com/bi/api
      description: Generated server url
  /v1/transactions/ground:
    post:
      description: "<p>This API call allows the client to submit a request for retrieving transactions for a specified search criteria (Ground LOB).</p>\n<p> Request Specifications: </p>\n<div>\n<table style=\"letter-spacing: 0px; width: 92.2059%; padding: 0px;\" role=\"grid\" resolved=\"\">\n  <colgroup>\n   <col style=\"width: 9.1853%;\">\n   <col>\n   <col style=\"width: 7.7476%;\">\n   <col style=\"width: 83.0671%;\">\n  </colgroup>\n  <thead>\n  <tr>\n   <th data-column=\"0\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Attribute: No sort applied, activate to apply an ascending sort\" style=\"user-select: none;\">\n       <div>Attribute</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"1\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Required/optional: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Required/optional</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"2\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Type: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Type</div>\n   </th>\n   <th data-column=\"3\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Description: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Description</div>\n   </th>\n  </tr>\n  </thead>\n  <tbody aria-live=\"polite\" aria-relevant=\"all\">\n  <tr>\n   <td>start_date, end_date</td>\n   <td>Required</td>\n   <td>String</td>\n   <td>Specific date range for which the transaction data is requested.The date range to fetch the\n       booking transactions data. Timestamp in format: YYYY-MM-DD HH:MM:SS. (Example:\n       2020-05-05 09:00:00) These should come as a pair.Note: Future date is only allowed if the date_type is set as travel_date.\n           <li>Both start and end date is mandatory. If either start date or end date is missing it will it\n               throw an error\n           </li>\n           <li>Default timezone is UTC</li>\n       </ul>\n   </td>\n  </tr>\n  <tr>\n   <td>locale</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Locale represents the supported language to get the report. Accepted values are: nb-NO, de-DE, en-US,\n       en-CA, es-ES, fr-CA, it-IT, nl-NL, sv-SE, en-AU, da-DK, fr-FR, en-GB (Defult locale is en-US)\n       Note: This value is case sensitive.\n   </td>\n  </tr>\n  <tr>\n   <td>currency_code</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>3 character currency code to get the amount in given currency. Accepted Values are: CHF, ARS, MXN, CLP,\n       ZAR, INR, VND, CNY, THB, AUD, ILS, JPY, PLN, GBP, IDR, PHP, TRY, RUB, AED, HKD, EUR, COP, DKK, CAD, MYR,\n       USD, NOK, SGD, CZK, SEK, NZD, BRL, UAH\n   </td>\n  </tr>\n  <tr>\n   <td>includes</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>To include custom data fields in the response. Custom data fields will now come in response only when\n       requested by users in the include option. Values: [\"cdf\"]\n   </td>\n  </tr>\n  <tr>\n   <td>active_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the records with active ticket status or all records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you can exclude\n       bookings and items that have been cancelled, exchanged, voided, or refunded.\n   </td>\n  </tr>\n  <tr>\n   <td>client_ids</td>\n   <td>Optional</td>\n   <td>List<String></td>\n   <td>       With this parameter, it becomes possible for a client or a partner to specify the \n        companies for which they want the reporting data. It accepts a list of the client ids given in string format.\n       If no value is given, by default data will be returned for all associated companies for the client.\n       Note: Passing incorrect company Id values or non numeric values would return an error.\n   </td>\n  </tr>\n  </tbody>\n</table>\n</div>\n\n<b>Example:</b></br>\n\n<pre>\n<code>\n  POST https://apis.egencia.com/bi/api/v1/transactions/ground\n    {\n       \"start_date\": \"2018-01-01 09:00:00\",\n       \"end_date\": \"2018-05-05 09:00:00\",\n       \"locale\": \"en-US\",\n       \"currency_code\": \"USD\",\n       \"active_records_only\":\"true\"\n       \"client_ids\":[\"10098\",\"13882\",\"19120\"]\n    }\n     -> 201 CREATED\n    {\n     \"metadata\": {\n       \"page_limit\": 5000,\n       \"total_records\": 10000,\n       \"total_pages\": 2\n     },\n     \"_links\": {\n       \"first\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=1\"\n       },\n       \"last\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=2\"\n       }\n     },\n     \"report_id\": \"3004fa51-104e-4712-b34d-bf7635eb2958\"\n   }\n</code>\n</pre>\n</br>\n<p>This API will return the metadata (hyperlinks) of the resource from where all the qualified transactions will be fetched in a paginated manner.</p>"
      operationId: queryTransactionsForGround
      parameters:
      - description: Set to true to include SGP data in the response
        in: header
        name: SGP-Request
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_data_filters_to_create_a_new_report'
        required: true
      responses:
        '201':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>Created</b>.
        '204':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>No Content</b>.
        '400':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Create paginated transaction queries for Ground LOB data based on search criteria
      tags:
      - transaction-service-controller
    servers:
    - url: https://apis.egencia.com/bi/api
      description: Generated server url
  /v1/transactions/hotel:
    post:
      description: "<p>This API call allows the client to submit a request for retrieving transactions for a specified search criteria (Hotel LOB).</p>\n<p> Request Specifications: </p>\n<div>\n<table style=\"letter-spacing: 0px; width: 92.2059%; padding: 0px;\" role=\"grid\" resolved=\"\">\n  <colgroup>\n   <col style=\"width: 9.1853%;\">\n   <col>\n   <col style=\"width: 7.7476%;\">\n   <col style=\"width: 83.0671%;\">\n  </colgroup>\n  <thead>\n  <tr>\n   <th data-column=\"0\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Attribute: No sort applied, activate to apply an ascending sort\" style=\"user-select: none;\">\n       <div>Attribute</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"1\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Required/optional: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Required/optional</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"2\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Type: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Type</div>\n   </th>\n   <th data-column=\"3\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Description: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Description</div>\n   </th>\n  </tr>\n  </thead>\n  <tbody aria-live=\"polite\" aria-relevant=\"all\">\n  <tr>\n   <td>start_date, end_date</td>\n   <td>Required</td>\n   <td>String</td>\n   <td>Specific date range for which the transaction data is requested.The date range to fetch the\n       booking transactions data. Timestamp in format: YYYY-MM-DD HH:MM:SS. (Example:\n       2020-05-05 09:00:00) These should come as a pair.Note: Future date is only allowed if the date_type is set as travel_date.\n       <ul>\n           <li>Both start and end date is mandatory. If either start date or end date is missing it will it\n               throw an error\n           </li>\n           <li>Default timezone is UTC</li>\n       </ul>\n   </td>\n  </tr>\n  <tr>\n   <td>locale</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Locale represents the supported language to get the report. Accepted values are: nb-NO, de-DE, en-US,\n       en-CA, es-ES, fr-CA, it-IT, nl-NL, sv-SE, en-AU, da-DK, fr-FR, en-GB (Defult locale is en-US)\n       Note: This value is case sensitive.\n   </td>\n  </tr>\n  <tr>\n   <td>currency_code</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>3 character currency code to get the amount in given currency. Accepted Values are: CHF, ARS, MXN, CLP,\n       ZAR, INR, VND, CNY, THB, AUD, ILS, JPY, PLN, GBP, IDR, PHP, TRY, RUB, AED, HKD, EUR, COP, DKK, CAD, MYR,\n       USD, NOK, SGD, CZK, SEK, NZD, BRL, UAH\n   </td>\n  </tr>\n  <tr>\n   <td>includes</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>To include custom data fields in the response. Custom data fields will now come in response only when\n       requested by users in the include option. Values: [\"cdf\"]\n   </td>\n  </tr>\n  <tr>\n   <td>report_level</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Report level for the LOB's air and train to retrieve data for a specific report level.        \"ticket, segment, leg\" are the three different requests configured by report_level field.         If this data is not provided Ticket Level data will be returned by default\n   </td>\n  </tr>\n  <tr>\n   <td>date_type</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>The date type to search the records. You can search for records based on travel date as well as issue\n       date. \"Issue date\" and \"travel date\" will provide data based on issue date and travel date respectively.\n       If no value is passed as datetype, issue date will be considered by default. Accepted Values are: issue_date,travel_date\n       Note : Issue date cannot be future date. However, travel date can be a future date or past date.\n   </td>\n  </tr>\n  <tr>\n   <td>active_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the records with active ticket status or all records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you can exclude\n       bookings and items that have been cancelled, exchanged, voided, or refunded.\n   </td>\n  </tr>\n  <tr>\n   <td>client_ids</td>\n   <td>Optional</td>\n   <td>List<String></td>\n   <td>       With this parameter, it becomes possible for a client or a partner to specify the \n        companies for which they want the reporting data. It accepts a list of the client ids given in string format.\n       If no value is given, by default data will be returned for all associated companies for the client.\n       Note: Passing incorrect company Id values or non numeric values would return an error.\n   </td>\n  </tr>\n  </tbody>\n</table>\n</div>\n\n<b>Example:</b></br>\n\n<pre>\n<code>\n  POST https://apis.egencia.com/bi/api/v1/transactions/hotel\n    {\n       \"start_date\": \"2018-01-01 09:00:00\",\n       \"end_date\": \"2018-05-05 09:00:00\",\n       \"locale\": \"en-US\",\n       \"currency_code\": \"USD\",\n       \"date_type\": \"issue_date\",\n       \"active_records_only\":\"true\"\n       \"client_ids\":[\"10098\",\"13882\",\"19120\"]\n    }\n     -> 201 CREATED\n    {\n     \"metadata\": {\n       \"page_limit\": 5000,\n       \"total_records\": 10000,\n       \"total_pages\": 2\n     },\n     \"_links\": {\n       \"first\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=1\"\n       },\n       \"last\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=2\"\n       }\n     },\n     \"report_id\": \"3004fa51-104e-4712-b34d-bf7635eb2958\"\n   }\n</code>\n</pre>\n</br>\n<p>This API will return the metadata (hyperlinks) of the resource from where all the qualified transactions will be fetched in a paginated manner.</p>"
      operationId: queryTransactionsForHotel
      parameters:
      - description: Set to true to include SGP data in the response
        in: header
        name: SGP-Request
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_data_filters_to_create_a_new_report'
        required: true
      responses:
        '201':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>Created</b>.
        '204':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>No Content</b>.
        '400':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Create paginated transaction queries for Hotel LOB data based on search criteria
      tags:
      - transaction-service-controller
    servers:
    - url: https://apis.egencia.com/bi/api
      description: Generated server url
  /v1/transactions/train:
    post:
      description: "<p>This API call allows the client to submit a request for retrieving transactions for a specified search criteria (Train LOB).</p>\n<p> Request Specifications: </p>\n<div>\n<table style=\"letter-spacing: 0px; width: 92.2059%; padding: 0px;\" role=\"grid\" resolved=\"\">\n  <colgroup>\n   <col style=\"width: 9.1853%;\">\n   <col>\n   <col style=\"width: 7.7476%;\">\n   <col style=\"width: 83.0671%;\">\n  </colgroup>\n  <thead>\n  <tr>\n   <th data-column=\"0\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Attribute: No sort applied, activate to apply an ascending sort\" style=\"user-select: none;\">\n       <div>Attribute</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"1\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Required/optional: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Required/optional</div>\n   </th>\n   <th colspan=\"1\"\n       data-column=\"2\" tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\"\n       aria-sort=\"none\" aria-label=\"Type: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Type</div>\n   </th>\n   <th data-column=\"3\"\n       tabindex=\"0\" scope=\"col\" role=\"columnheader\" aria-disabled=\"false\" unselectable=\"on\" aria-sort=\"none\"\n       aria-label=\"Description: No sort applied, activate to apply an ascending sort\"\n       style=\"user-select: none;\">\n       <div>Description</div>\n   </th>\n  </tr>\n  </thead>\n  <tbody aria-live=\"polite\" aria-relevant=\"all\">\n  <tr>\n   <td>start_date, end_date</td>\n   <td>Required</td>\n   <td>String</td>\n   <td>Specific date range for which the transaction data is requested.The date range to fetch the\n       booking transactions data. Timestamp in format: YYYY-MM-DD HH:MM:SS. (Example:\n       2020-05-05 09:00:00) These should come as a pair.Note: Future date is only allowed if the date_type is set as travel_date.\n       <ul>\n           <li>Both start and end date is mandatory. If either start date or end date is missing it will it\n               throw an error\n           </li>\n           <li>Default timezone is UTC</li>\n       </ul>\n   </td>\n  </tr>\n  <tr>\n   <td>locale</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Locale represents the supported language to get the report. Accepted values are: nb-NO, de-DE, en-US,\n       en-CA, es-ES, fr-CA, it-IT, nl-NL, sv-SE, en-AU, da-DK, fr-FR, en-GB (Defult locale is en-US)\n       Note: This value is case sensitive.\n   </td>\n  </tr>\n  <tr>\n   <td>currency_code</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>3 character currency code to get the amount in given currency. Accepted Values are: CHF, ARS, MXN, CLP,\n       ZAR, INR, VND, CNY, THB, AUD, ILS, JPY, PLN, GBP, IDR, PHP, TRY, RUB, AED, HKD, EUR, COP, DKK, CAD, MYR,\n       USD, NOK, SGD, CZK, SEK, NZD, BRL, UAH\n   </td>\n  </tr>\n  <tr>\n   <td>includes</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>To include custom data fields in the response. Custom data fields will now come in response only when\n       requested by users in the include option. Values: [\"cdf\"]\n   </td>\n  </tr>\n  <tr>\n   <td>report_level</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>Report level for the LOB's air and train to retrieve data for a specific report level.        \"ticket, segment, leg\" are the three different requests configured by report_level field.         If this data is not provided Ticket Level data will be returned by default\n   </td>\n  </tr>\n  <tr>\n   <td>date_type</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>The date type to search the records. You can search for records based on travel date as well as issue\n       date. \"Issue date\" and \"travel date\" will provide data based on issue date and travel date respectively.\n       If no value is passed as datetype, issue date will be considered by default. Accepted Values are: issue_date,travel_date\n       Note : Issue date cannot be future date. However, travel date can be a future date or past date. \n   </td>\n  </tr>\n  <tr>\n   <td>active_records_only</td>\n   <td>Optional</td>\n   <td>String</td>\n   <td>       A string to select only the records with active ticket status or all records, present for a given start\n       and end date. The possible values for the string are \"true\" or \"false\". By default, it is set as\n       false which would show all the records for a time period. By passing true, you can exclude\n       bookings and items that have been cancelled, exchanged, voided, or refunded.\n   </td>\n  </tr>\n  <tr>\n   <td>client_ids</td>\n   <td>Optional</td>\n   <td>List<String></td>\n   <td>       With this parameter, it becomes possible for a client or a partner to specify the \n        companies for which they want the reporting data. It accepts a list of the client ids given in string format.\n       If no value is given, by default data will be returned for all associated companies for the client.\n       Note: Passing incorrect company Id values or non numeric values would return an error.\n   </td>\n  </tr>\n  </tbody>\n</table>\n</div>\n\n<b>Example:</b></br>\n\n<pre>\n<code>\n  POST https://apis.egencia.com/bi/api/v1/transactions/train\n    {\n       \"start_date\": \"2018-01-01 09:00:00\",\n       \"end_date\": \"2018-05-05 09:00:00\",\n       \"locale\": \"en-US\",\n       \"currency_code\": \"USD\",\n       \"report_level\": \"leg\",\n       \"date_type\": \"issue_date\",\n       \"includes\": [\"cdf\"],\n       \"active_records_only\":\"true\",\n       \"client_ids\":[\"10098\",\"13882\",\"19120\"]\n    }\n     -> 201 CREATED\n    {\n     \"metadata\": {\n       \"page_limit\": 5000,\n       \"total_records\": 10000,\n       \"total_pages\": 2\n     },\n     \"_links\": {\n       \"first\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=1\"\n       },\n       \"last\": {\n         \"href\": \"https://apis.egencia.com/bi/api/v1/transactions/3004fa51-104e-4712-b34d-bf7635eb2958?page=2\"\n       }\n     },\n     \"report_id\": \"3004fa51-104e-4712-b34d-bf7635eb2958\"\n   }\n</code>\n</pre>\n</br>\n<p>This API will return the metadata (hyperlinks) of the resource from where all the qualified transactions will be fetched in a paginated manner.</p>"
      operationId: queryTransactionsForTrain
      parameters:
      - description: Set to true to include SGP data in the response
        in: header
        name: SGP-Request
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_data_filters_to_create_a_new_report'
        required: true
      responses:
        '201':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>Created</b>.
        '204':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: <b>No Content</b>.
        '400':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Create paginated transaction queries for Train LOB data based on search criteria
      tags:
      - transaction-service-controller
    servers:
    - url: https://apis.egencia.com/bi/api
      description: Generated server url
  /v1/transactions/{reportId}:
    get:
      description: "<p>Allows to retrieve multiple transactions for a specified search criteria in a paginated manner.</p>\n<p>List of the response attributes will vary based on the submitted query like lob, report level, etc.</p>\n</br>\n<p> Request Specifications: </p>\n<table class=\"fullWidth\">\n    <thead>\n    <tr>\n  <th>Attribute</th>\n  <th>Required</th>\n  <th>Type</th>\n  <th>Description</th>\n    </tr>\n    </thead>\n    <tbody>\n    <tr>\n  <td colspan=\"1\">\n   <strong>report_id</strong>\n  </td>\n  <td colspan=\"1\">Required</td>\n  <td colspan=\"1\">String</td>\n  <td colspan=\"1\">Report ID used to fetch transaction records based on the search criteria and metadata</td>\n    </tr>\n    <tr>\n  <td colspan=\"1\">\n   <strong>page_number</strong>\n  </td>\n  <td colspan=\"1\">Required</td>\n  <td colspan=\"1\">String</td>\n  <td colspan=\"1\">Page number the user wants to access</td>\n    </tr>\n    </tbody>\n</table>\n\n<b>Examples:</b></br>\n<a href = \"https://apis.egencia.com/bi/docs/api-response\">Sample Responses Here</a>\n</br>\n<p>This API will return all the qualified transactions inn a paginated manner by providing the data for current page and metadata (hyperlinks) of the previous and next pages.</p>"
      operationId: getTransactions
      parameters:
      - description: Unique report identifier returned from the POST /transactions response
        in: path
        name: reportId
        required: true
        schema:
          type: string
      - description: Page number to retrieve
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/hal+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Transaction_response'
                - $ref: '#/components/schemas/Air_transaction_response'
                - $ref: '#/components/schemas/Train_transaction_response'
                - $ref: '#/components/schemas/Hotel_transaction_response'
                - $ref: '#/components/schemas/Fee_transaction_response'
                - $ref: '#/components/schemas/Car_transaction_response'
                - $ref: '#/components/schemas/Ground_transaction_response'
          description: <b>Found</b>.
        '400':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/EntityModelTransaction_Data_Response'
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Generates transaction data page response based on client provided filters
      tags:
      - transaction-service-controller
    servers:
    - url: https://apis.egencia.com/bi/api
      description: Generated server url
components:
  schemas:
    Fee_transaction_response:
      description: Transaction response based on different user filters for FEE LOB
      properties:
        Booker:
          $ref: '#/components/schemas/Booker_details'
        advance_purchase_days:
          type: string
          description: Number of days purchased in Advance
        advance_purchase_window:
          type: string
          description: The number of days before the travel start date that a traveler books a ticket or makes a reservation. This is usually depicted as a range of days. Includes purchase & reservations only
        ancillary_type:
          type: string
          description: The type of ancillary (Excess Baggage, Taxi, Shuttle, Parking, etc) associated with an Air or Train booking. It includes visas, insurance, additional services, air transportation, food, and seats.
        approval:
          $ref: '#/components/schemas/Approval_details'
        booking_category:
          type: string
          description: Booking Category of the transaction
        booking_method:
          type: string
          description: Online or Agent-assisted. Online indicates a booking made through the Egencia website or mobile app without the assistance of an Egencia travel consultant. Agent-assisted indicates bookings made offline with the assistance of an Egencia travel consultant.
        cabin_class:
          type: string
          description: Indicates the highest travel class (economy, first, business, etc) of the ticket, leg, or segment at the time of booking.
        class_of_service:
          type: string
          description: The fare class (F, S etc.) associated with trains in the report period. The fare class indicates the cabin type as well as ticket or reservation restrictions.
        client_code:
          type: string
          description: This is a Unique Identifier for a client in Egencia. In the current version, it will be corresponding to the GPID.
        co2:
          type: array
          description: Carbon Emission as per Air conversion factors (Source by DEFRA Produced by AEA for the Department of Energy and Climate Change (DECC) and the Department for Environment, Food and Rural Affairs (Defra))
          items:
            $ref: '#/components/schemas/Carbon_Emissions'
        company_name:
          type: string
          description: The name of the company travel was booked through
        custom_data_fields:
          type: object
          additionalProperties:
            type: object
            description: The custom fields set up by your company for reporting purposes that are either specified by the traveler at the time of booking or from the traveler profile.
          description: The custom fields set up by your company for reporting purposes that are either specified by the traveler at the time of booking or from the traveler profile.
        department:
          type: string
          description: The Department selected by the traveler at the time of booking
        distance:
          $ref: '#/components/schemas/Distance_Info'
        duration:
          $ref: '#/components/schemas/Duration_of_booking'
        fee_category:
          type: string
          description: Fee Global Type
        fee_count:
          type: string
          description: Fee(Ticket) Count
        fee_service_type:
          type: string
          description: Fee Service Type Name
        fee_type:
          type: string
          description: The fee type of the transaction
        feetype:
          type: string
          deprecated: true
          description: (Deprecated) Refer to fee_type
        geography_type:
          type: string
          description: The region of travel (domestic, international, regional, etc.).
        identifier:
          $ref: '#/components/schemas/Unique_transaction_identification_details'
        invoice_date:
          type: string
          description: The date the booking was invoiced. Invoice date is only applicable for European points of sale.
        is_active:
          type: string
          description: Indicates whether the Transaction/Ticket/Leg/Segment is Active or Inactive. A 'Yes' value indicates that the transaction is active, and a 'No' value indicates that the transaction has been cancelled, voided, refunded, or exchanged.
        is_special_request:
          type: string
          description: Indicates whether or not the ticket is a special request
        is_waived:
          type: string
          description: Indicates whether a fee transaction was waived by an agent
        last_modified_date:
          type: string
          description: Date and time when a particular record in reporting was last updated due to modifications after original purchase, back-dated data fixes, etc.
        line_of_business:
          type: string
          description: Line of business for the transaction, e.g. Air, Hotel, Car, Train, Ground
        location:
          type: string
          description: For hotels, this field shows the city, state/province and country where the hotel is located. For air and train, this field shows the routing information and for car, this field shows the pick-up location
        meeting_name:
          type: string
          description: Indicates meeting name associated with a booking (Meetings/Group Air Online or Group Trips). Applicable for Air, Hotel and Train in Group Trips, and only Air in Meetings. Empty for meetings outside of US and Canada.
        miscellaneous_transport_type:
          type: string
          description: Indicates the type of miscellaneous transport that the agent booked offline. It includes Car, Limo/town car (Ground), Ferry, Helicopter, Bus, High-speed craft, and Other.
        parent_client_code:
          type: string
          description: The Client’s Parent Organisation Id.
        payment_instrument_info:
          $ref: '#/components/schemas/Client_payment_instrument_information'
        point_of_sale_country:
          type: string
          description: The country of sale for the travelers account
        point_of_sale_type:
          type: string
          description: Indicates whether a booking is made via Egencia's point of sale or EGA (Egencia Global Alliance). It Includes values like Egencia, EGA Partners
        policy:
          $ref: '#/components/schemas/Policy_details'
        price:
          $ref: '#/components/schemas/Price_information'
        purchase_count:
          type: string
          description: The total number of purchases. Includes purchases and reservations only, across all spend categories
        rate_type:
          type: string
          description: The type of inventory purchased or reserved by the traveler (Published Rate, Egencia Preferred Rate, Corporate negotiated rate, etc.).
        record_id:
          type: string
          description: System-generated unique identifier for each record in reporting.
        segment_count:
          type: string
          description: The number of segments in this trip
        ticket_code:
          type: string
          description: The number of the ticket associated with the air transaction
        ticket_count:
          type: string
          description: Ticket Count
        transaction_date:
          type: string
          description: The date the transaction occurred on an itinerary (e.g. the date of the air ticket purchase, car reservation or hotel cancellation)
        transaction_type:
          type: string
          description: The type of action applied to a transaction (Air purchase, Hotel reservation, Hotel cancel, etc.).
        travel_dates:
          $ref: '#/components/schemas/Dates_of_travel'
        traveler:
          $ref: '#/components/schemas/Traveler_details'
        trip_id:
          type: string
          description: Unique identifier for a trip in case trip names are identical
        trip_name:
          type: string
          description: Name of the trip that a particular booking (or its associated fees) belongs to
        vendor:
          type: string
          description: The company providing the travel service, e.g. car rental company
        vendor_name:
          type: string
          description: The company providing the travel service, e.g. car rental company
        waived_amount:
          type: string
          description: Indicates the original fee amount that was supposed to be charged initially but waived later
    Train_segment_details:
      description: Segment level detailed information
      properties:
        cabin_class:
          type: string
          description: Indicates the highest travel class (economy, first, business, etc) of the ticket, leg, or segment at the time of booking.
        cabin_class_type:
          type: string
          description: Cabin class Type for the current segment
        carrier:
          type: string
          description: The carrier associated with the train ticket, leg, or segment (e.g. SNCF, etc.).
        class_of_service:
          type: string
          description: The fare class (F, S etc.) associated with trains in the report period. The fare class indicates the cabin type as well as ticket or reservation restrictions.
        geography_type:
          type: string
          description: The region of travel (domestic, international, regional, etc.)
        is_active:
          type: string
          description: The trip status for the current segment
        operating_carrier_segment:
          type: string
          description: Indicates train operator associated with the segment. Includes values like OUIGO, ICE, RE, THALYS, Renfe, Vy, SJR, etc.
        origin_destination_info:
          $ref: '#/components/schemas/Train_origin_destination_details'
        segment:
          type: string
          description: Segment
        segment_number:
          type: string
          description: Represents the order of the segment within the ticket.
        ticket_code:
          type: string
          description: The number of the ticket associated with the train transaction for this segment
        ticket_number:
          type: string
          deprecated: true
          description: (Deprecated) Refer to ticket_code
        train_number_segment:
          type: string
          description: Train Number
        trip_geometry:
          type: string
          description: The trip type, e.g. One way, Round Trip, Multi-Destination
    Hotel_transaction_response:
      description: Transaction response based on different user filters for HOTEL LOB
      properties:
        Booker:
          $ref: '#/components/schemas/Booker_details'
        address:
          $ref: '#/components/schemas/Address_details'
        advance_purchase_days:
          type: string
          description: Number of days purchased in Advance
        advance_purchase_window:
          type: string
          description: The number of days before the travel start date that a traveler books a ticket or makes a reservation. This is usually depicted as a range of days. Includes purchase & reservations only
        ancillary_type:
          type: string
          description: The type of ancillary (Excess Baggage, Taxi, Shuttle, Parking, etc) associated with an Air or Train booking. It includes visas, insurance, additional services, air transportation, food, and seats.
        approval:
          $ref: '#/components/schemas/Approval_details'
        booking_date:
          type: string
          description: Date of the booking
        booking_method:
          type: string
          description: Online or Agent-assisted. Online indicates a booking made through the Egencia website or mobile app without the assistance of an Egencia travel consultant. Agent-assisted indicates bookings made offline with the assistance of an Egencia travel consultant.
        cabin_class:
          type: string
          description: Indicates the highest travel class (economy, first, business, etc) of the ticket, leg, or segment at the time of booking.
        class_of_service:
          type: string
          description: The fare class (F, S etc.) associated with trains in the report period. The fare class indicates the cabin type as well as ticket or reservation restrictions.
        client_code:
          type: string
          description: This is a Unique Identifier for a client in Egencia. In the current version, it will be corresponding to the GPID.
        co2:
          type: array
          description: Carbon Emission as per Air conversion factors (Source by DEFRA Produced by AEA for the Department of Energy and Climate Change (DECC) and the Department for Environment, Food and Rural Affairs (Defra))
          items:
            $ref: '#/components/schemas/Carbon_Emissions'
        company_name:
          type: string
          description: The name of the company travel was booked through
        credit_card_type:
          type: string
          description: The type (American Express, Visa, MasterCard, etc.) of the credit card associated with the booking.
        custom_data_fields:
          type: object
          additionalProperties:
            type: object
            description: The custom fields set up by your company for reporting purposes that are either specified by the traveler at the time of booking or from the traveler profile.
          description: The custom fields set up by your company for reporting purposes that are either specified by the traveler at the time of booking or from the traveler profile.
        department:
          type: string
          description: The Department selected by the traveler at the time of booking
        distance:
          $ref: '#/components/schemas/Distance_Info'
        duration:
          $ref: '#/components/schemas/Duration_of_booking'
        dynamic_hotel_rate_cap:
          $ref: '#/components/schemas/Dynamic_Hotel_Rate_Cap'
        geography_type:
          type: string
          description: The region of travel (domestic, international, regional, etc.).
        hotel_airport_code:
          type: string
          description: Three letter airport code associated with hotel.
        hotel_brand:
          type: string
          description: The brand associated with the hotel. For example, Hilton International is a chain, and Hampton Inn, Hilton Garden Inn, and Embassy Suites are Hilton International brands.
        hotel_chain:
          type: string
          description: The chain associated with the hotel. For example, Hilton International is a chain, and Hampton Inn, Hilton Garden Inn and Embassy Suites are Hilton International brands.
        hotel_chain_code:
          type: string
          description: The chain code associated with the hotel.
        hotel_country_code:
          type: string
          description: The country code associated with hotel.
        hotel_name:
          type: string
          description: Name of the hotel
        hotel_night_rate:
          type: string
          description: Rate per night for the hotel booking
        hotel_nights:
          type: string
          description: The net number of nights in all hotel stays. Includes all transaction types (purchases, exchanges, cancellations etc.) and all booking methods (Online and Agent-assisted).
        identifier:
          $ref: '#/components/schemas/Unique_transaction_identification_details'
        invoice_date:
          type: string
          description: The date the booking was invoiced. Invoice date is only applicable for European points of sale.
        is_active:
          type: string
          description: Indicates whether the Transaction/Ticket/Leg/Segment is Active or Inactive. A 'Yes' value indicates that the transaction is active, and a 'No' value indicates that the transaction has been cancelled, voided, refunded, or exchanged.
        is_non_standard_booking:
          type: string
          description: It indicates that our Travel Consultants have created this transaction to record offline bookings for travelers.
        is_special_request:
          type: string
          description: Indicates whether or not the ticket is a special request
        last_modified_date:
          type: string
          description: Date and time when a particular record in reporting was last updated due to modifications after original purchase, back-dated data fixes, etc.
        line_of_business:
          type: string
          description: Line of business for the transaction, e.g. Air, Hotel, Car, Train, Ground
        location:
          type: string
          description: For hotels, this field shows the city, state/province and country where the hotel is located. For air and train, this field shows the routing information and for car, this field shows the pick-up location
        lowest_published_rate:
          type: string
          description: The Lowest Published Rate refers to the lowest published rate by the same hotel for which the room is booked. This metric only includes scenarios when the booked rate and the published rate are almost the same matches (same hotel, and same date)
        meeting_name:
          type: string
          description: Indicates meeting name associated with a booking (Meetings/Group Air Online or Group Trips). Applicable for Air, Hotel and Train in Group Trips, and only Air in Meetings. Empty for meetings outside of US and Canada.
        miscellaneous_transport_type:
          type: string
          description: Indicates the type of miscellaneous transport that the agent booked offline. It includes Car, Limo/town car (Ground), Ferry, Helicopter, Bus, High-speed craft, and Other.
        parent_client_code:
          type: string
          description: The Client’s Parent Organisation Id.
        payment_instrument_info:
          $ref: '#/components/schemas/Client_payment_instrument_information'
        phone_number_fax:
          type: string
          description: Phone number or fax
        phone_number_local:
          type: string
          description: Hotel Local Phone
        point_of_sale_country:
          type: string
          description: The country of sale for the travelers account
        point_of_sale_type:
          type: string
          description: Indicates whether a booking is made via Egencia's point of sale or EGA (Egencia Global Alliance). It Includes values like Egencia, EGA Partners
        policy:
          $ref: '#/components/schemas/Policy_details'
        price:
          $ref: '#/components/schemas/Price_information'
        purchase_count:
          type: string
          description: The total number of purchases including only purchases and reservations, across all spend categories.
        rate_type:
          type: string
          description: The type of inventory purchased or reserved by the traveler (Published Rate, Egencia Preferred Rate, Corporate negotiated rate, etc.).
        record_id:
          type: string
          description: System-generated unique identifier for each record in reporting.
        room_count:
          type: string
          description: The net number of rooms associated with the specified booking period
        savings:
          $ref: '#/components/schemas/Savings'
        segment_count:
          type: string
          description: The number of segments in this trip
        ticket_code:
          type: string
          description: The number of the ticket associated with the air transaction
        transaction_date:
          type: string
          description: The date the transaction occurred on an itinerary (e.g. the date of the air ticket purchase, car reservation or hotel cancellation)
        transaction_type:
          type: string
          description: The type of action applied to a transaction (Air purchase, Hotel reservation, Hotel cancel, etc.).
        travel_dates:
          $ref: '#/components/schemas/Dates_of_travel'
        traveler:
          $ref: '#/components/schemas/Traveler_details'
        trip_id:
          type: string
          description: Unique identifier for a trip in case trip names are identical
        trip_name:
          type: string
          description: Name of the trip that a particular booking (or its associated fees) belongs to
        vendor:
          type: string
          description: The company providing the travel service, e.g. car rental company
        vendor_name:
          type: string
          description: The company providing the travel service, e.g. car rental company
    Booker_details:
      description: Details of person who has made the transaction
      properties:
        name:
          type: string
          description: The name of the person who actually transacted.
        role:
          type: string
          description: The role of the person who actually transacted
    Air_dates_of_travel:
      description: Arrival and departure dates for air transaction
      properties:
        arrival_date_time:
          type: string
          description: 'Arrival time of the traveler’s flight journey in ISO 8601 format: YYYY-MM-DD HH:MM:SS Example:2020-01- 2110:07:41'
        departure_date_time:
          type: string
          description: Departure date and time of the traveler’s flight journey in ISO 8601 format:YYYY-MM-DD HH:MM:SS Example:2020-01- 2110:07:41
    Link:
      properties:
        deprecation:
          type: string
        href:
          type: string
        hreflang:
          type: string
        media:
          type: string
        name:
          type: string
        profile:
          type: string
        rel:
          type: string
        title:
          type: string
        type:
          type: string
    Approval_details:
      description: Details of approval status and approver
      properties:
        is_approval_required:
          type: string
          description: Indicates whether approval was required for a booking. A ‘Yes’ value indicates that approval was needed, and a ‘No’ value indicates that approval was not required.
        level1_approver:
          type: string
          description: The name of the person who approved the first-level approval request for a booking. A ‘SYSTEM’ value indicates that the first-level approver/s did not take any action. A blank value indicates that another (security or second-level) approval was required.
    Duration_of_booking:
      description: The total length of time (in minutes) from the departure time to the arrival time for all segments of a trip. Layover duration is not included in the travel duration
      properties:
        minutes:
          type: string
          description: Count of minutes that person was traveling. Starting from travel start date to travel end date (e.g. flight duration).
    Savings:
      description: Indicates the Total Savings
      properties:
        dynamic_rate_cap_savings:
          type: string
          description: Dynamic rate cap encourages travelers to book closer to the market rate. To determine how much it helps save, first a group of bookings (min 70) is used to find the percentage of how much travelers tend to book above or below the market median rate (i.e., Group benchmark). To determine savings for a booking, booked rate is multiplied by Group benchmark, and average nightly rate (i.e., market median rate) is subtracted from it for that booking (then multiply by room nights if more than one night per booking). In other words, if travelers usually book 10% above the market median rate but now they choose a rate (say, $100) which is 10% below market median rate of the search (say, $110), because the dynamic rate cap is active and is set at per diem, that's a 20% drop in spend (1.2 group benchmark). ($100 booked rate x 1.2) - ($110 market median rate) = $10 savings per night.
        egencia_preferred_rate_savings:
          type: string
          description: The difference between the ticketed fare and published fare when the ticketed fare was an Egencia Preferred Rates. The published fare refers to the price published by the same airline from which the ticket is booked. This metric only includes scenarios when the ticketed Egencia Preferred Rates and the published fare are a match (same airline, same flight, same routing, and as close as possible flexibility status (changeable, refundable, etc.).
        missed_savings:
          type: string
          description: The difference between the ticketed fare and the best fare option.Calculated for Online Purchases only
        negotiated_savings:
          type: string
          description: The difference between the ticketed fare and the published fare, if the ticketed fare was a negotiated rate.Calculated for corporate negotiated rates for air ticket purchases only. This does not include Egencia Preferred Rates.
        savings_over_published_fare:
          type: string
          description: This field shows the difference between the ticketed fare and the published fare. For example, if the ticketed fare is $350 and the published fare is $400, savings over published fare is $50.
        savings_over_published_rate:
          type: string
          description: Actual savings realized for Hotel as the difference between published rate and booked rate. For example, if the published rate is $100 and the booked rate is $80, savings over published rate is $20
    Car_transaction_response:
      description: Transaction response based on different user filters for CAR LOB
      properties:
        Booker:
          $ref: '#/components/schemas/Booker_details'
        acriss_code:
          type: string
          description: ACRISS Codes is a standard code utilized by car rental companies to classify car based on four letter matrix. ACRISS stands for The Association of Car Rental Industry Systems Standards.
        advance_purchase_days:
          type: string
          description: Number of days purchased in Advance
        advance_purchase_window:
          type: string
          description: The number of days before the travel start date that a traveler books a ticket or makes a reservation. This is usually depicted as a range of days. Includes purchase & reservations only
        ancillary_type:
          type: string
          description: The type of ancillary (Excess Baggage, Taxi, Shuttle, Parking, etc) associated with an Air or Train booking. It includes visas, insurance, additional services, air transportation, food, and seats.
        approval:
          $ref: '#/components/schemas/Approval_details'
        booking_date:
          type: string
          description: Date of booking
        booking_method:
          type: string
          description: Online or Agent-assisted. Online indicates a booking made through the Egencia website or mobile app without the assistance of an Egencia travel consultant. Agent-assisted indicates bookings made offline with the assistance of an Egencia travel consultant.
        cabin_class:
          type: string
          description: Indicates the highest travel class (economy, first, business, etc) of the ticket, leg, or segment at the time of booking.
        car_daily_rate:
          type: string
          description: The Base Rate per day for the car rental reservation. This value does not include taxes or fees associated with the reservation.
        car_display_group_id:
          type: string
          description: This is the Id associated with the car type. Example “6” for Full Size Car.
        car_type:
          type: string
          description: 'The class of car selected at the time of reservation. Eg : Economy Van, Luxury Van, Standard SUV, Economy SUV etc'
        class_of_service:
          type: string
          description: The fare class (F, S etc.) associated with trains in the report period. The fare class indicates the cabin type as well as ticket or reservation restrictions.
        client_code:
          type: string
          description: This is a Unique Identifier for a client in Egencia. In the current version, it will be corresponding to the GPID.
        co2:
          type: array
          description: Carbon Emission as per Air conversion factors (Source by DEFRA Produced by AEA for the Department of Energy and Climate Change (DECC) and the Department for Environment, Food and Rural Affairs (Defra))
          items:
            $ref: '#/components/schemas/Carbon_Emissions'
        company_name:
          type: string
          description: The name of the company travel was booked through
        custom_data_fields:
          type: object
          additionalProperties:
            type: object
            description: The custom fields set up by your company for reporting purposes that are either specified by the traveler at the time of booking or from the traveler profile.
          description: The custom fields set up by your company for reporting purposes that are either specified by the traveler at the time of booking or from the traveler profile.
        department:
          type: string
          description: The Department selected by the traveler at the time of booking
        distance:
          $ref: '#/components/schemas/Distance_Info'
        duration:
          $ref: '#/components/schemas/Duration_of_booking'
        geography_type:
          type: string
          description: The region of travel (domestic, international, regional, etc.).
        identifier:
          $ref: '#/components/schemas/Unique_transaction_identification_details'
        invoice_date:
          type: string
          description: The date the booking was invoiced. Invoice date is only applicable for European points of sale.
        is_active:
          type: string
          description: Indicates whether the Transaction/Ticket/Leg/Segment is Active or Inactive. A 'Yes' value indicates that the transaction is active, and a 'No' value indicates that the transaction has been cancelled, voided, refunded, or exchanged.
        is_collected:
          type: string
          description: Indicates whether the user picked up their car from the rental agency counter.
        is_delivered:
          type: string
          description: Indicates whether the company-negotiated car is delivered to an agreed-upon location by its respective supplier.
        is_special_request:
          type: string
          description: Indicates whether or not the ticket is a special request
        last_modified_date:
          type: string
          description: Date and time when a particular record in reporting was last updated due to modifications after original purchase, back-dated data fixes, etc.
        line_of_business:
          type: string
          description: Line of business for the transaction, e.g. Air, Hotel, Car, Train, Ground
        location:
          type: string
          description: For hotels, this field shows the city, state/province and country where the hotel is located. For air and train, this field shows the routing information and for car, this field shows the pick-up location
        meeting_name:
          type: string
          description: Indicates meeting name associated with a booking (Meetings/Group Air Online or Group Trips). Applicable for Air, Hotel and Train in Group Trips, and only Air in Meetings. Empty for meetings outside of US and Canada.
        miscellaneous_transport_type:
          type: string
          description: Indicates the type of miscellaneous transport that the agent booked offline. It includes Car, Limo/town car (Ground), Ferry, Helicopter, Bus, High-speed craft, and Other.
        origin_destination_info:
          $ref: '#/components/schemas/Car_Origin_Destination_Information'
        parent_client_code:
          type: string
          description: The Client’s Parent Organisation Id.
        payment_instrument_info:
          $ref: '#/components/schemas/Client_payment_instrument_information'
        payment_method:
          type: string
          description: The payment method used for the booking
        point_of_sale_country:
          type: string
          description: The country of sale for the travelers account
        point_of_sale_type:
          type: string
          description: Indicates whether a booking is made via Egencia's point of sale or EGA (Egencia Global Alliance). It Includes values like Egencia, EGA Partners
        policy:
          $ref: '#/components/schemas/Policy_details'
        price:
          $ref: '#/components/schemas/Price_information'
        purchase_count:
          type: string
          description: The total number of purchases. Includes purchases and reservations only, across all spend categories
        rate_type:
          type: string
[...]
