openapi: 3.2.0
info:
  title: OpenAPI definition SCIM V1 Admin Users API
  version: v0
  description: SCIM 2.0 compliant admin-users sync APIs
servers:
- url: https://apis.egencia.com/openconnect/api
  description: Generated server url
tags:
- description: SCIM 2.0 compliant admin-users sync APIs
  name: scim-v1-admin-users
paths:
  /scim/v1/admin-users:
    get:
      description: '1.'
      operationId: getAllAdminUsers
      parameters:
      - description: 1-based index of the first query result
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
          format: int32
      - description: Maximum number of query results per page
        in: query
        name: count
        required: false
        schema:
          type: integer
          format: int32
      - description: Status of the admin user
        in: query
        name: status
        required: false
        schema:
          type: string
          default: ACTIVE
      responses:
        '400':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Forbidden</b> : User is not authorized to perform this operation.'
        '422':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Get all admin users in the system based on status
      tags:
      - scim-v1-admin-users
    post:
      description: '1.'
      operationId: createAdminUser
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/UserSchema'
        required: true
      responses:
        '201':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: <b>Created</b>.
        '400':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Forbidden</b> : User is not authorized to perform this operation.'
        '422':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Create a new admin user in the system with the requested information
      tags:
      - scim-v1-admin-users
  /scim/v1/admin-users/search:
    post:
      description: '/*

        */"+


        2.'
      operationId: searchAdminUsers
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/SearchRequestSchema'
        required: true
      responses:
        '200':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: <b>Search api success</b>.
        '400':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Forbidden</b> : User is not authorized to perform this operation.'
        '422':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Return list of admin users based on the filter condition
      tags:
      - scim-v1-admin-users
  /scim/v1/admin-users/{userName}:
    patch:
      description: '3.'
      operationId: patchAdmin
      parameters:
      - in: path
        name: userName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/ScimPatchSchema'
        required: true
      responses:
        '204':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: <b> Updated</b>.
        '400':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Forbidden</b> : User is not authorized to perform this operation.'
        '422':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserSchema'
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Updates an existing user in the system with the requested information
      tags:
      - scim-v1-admin-users
components:
  schemas:
    ListResponse:
      type: object
      description: This is a list response schema containing the resources returned based on the filtering condition.
      properties:
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/SearchResponse'
        itemsPerPage:
          type: integer
          format: int32
        meta:
          $ref: '#/components/schemas/MetaSchema'
          description: The attribute containing the resource metadata.
        schemas:
          type: array
          description: The schema urns for the associated resource.
          items:
            type: string
          uniqueItems: true
        startIndex:
          type: integer
          format: int32
        totalResults:
          type: integer
          format: int32
      required:
      - schemas
      title: User Search Response schema
    ScimPatchSchema:
      type: object
      description: The user patch request schema.
      properties:
        Operations:
          type: array
          description: List of scim patch operations.
          items:
            $ref: '#/components/schemas/ScimPatchOperationSchema'
          maxItems: 2147483647
          minItems: 1
        meta:
          $ref: '#/components/schemas/MetaSchema'
          description: The attribute containing the resource metadata.
        schemas:
          type: array
          description: The schema urns for the associated resource.
          items:
            type: string
          uniqueItems: true
      required:
      - Operations
      - schemas
      title: ScimPatchSchema
    SearchResponse:
      type: object
      description: The complex model containing filtered fields from user schema.
      properties:
        emails:
          type: array
          description: The email addresses associated with the user account.
          items:
            $ref: '#/components/schemas/EmailSchema'
          maxItems: 1
          minItems: 1
        name:
          $ref: '#/components/schemas/NameSchema'
          description: The name details of the user like first name, last name, etc. This is a mandatory property.
        urn:ietf:params:scim:schemas:extension:egencia:2.0:AdminUserSearchResponse:
          $ref: '#/components/schemas/AdminUserSchema'
          description: Extended custom attributes specific to Egencia travel management system.
        userName:
          type: string
          description: The username of the user
      required:
      - emails
      - name
      - urn:ietf:params:scim:schemas:extension:egencia:2.0:AdminUserSearchResponse
    PointOfSaleSchema:
      type: object
      description: The complex model containing point of sale association.
      properties:
        operation:
          type: string
          description: The operation for point of sale
          enum:
          - REMOVE
          - ADD
          - UPDATE
          - STATUS_CHANGE
        pointOfSaleId:
          type: integer
          format: int64
          description: The point of sale id
          minimum: 1
        role:
          type: string
          description: The role of the user against POS
        status:
          type: string
          description: The admin user status
          enum:
          - ACTIVE
          - INACTIVE
          - PENDING
          - DELETED
        userId:
          type: integer
          format: int64
          description: The admin user id
      required:
      - pointOfSaleId
      - role
      title: Name
    DataSchema:
      type: object
      description: The data schema for representing error details of different attributes
      properties:
        attribute:
          type: string
          description: The name of the schema-defined attribute, if missing or invalid.
        message:
          type: string
          description: The error message related to the erroneous attribute.
      required:
      - attribute
      - message
      title: Data schema
    UserSchema:
      type: object
      description: The user resource schema.
      properties:
        emails:
          type: array
          description: The email addresses associated with the user account.
          items:
            $ref: '#/components/schemas/EmailSchema'
          maxItems: 1
          minItems: 1
        meta:
          $ref: '#/components/schemas/MetaSchema'
          description: The attribute containing the resource metadata.
        name:
          $ref: '#/components/schemas/NameSchema'
          description: The name details of the user like first name, last name, etc. This is a mandatory property.
        schemas:
          type: array
          description: The schema urns for the associated resource.
          items:
            type: string
          uniqueItems: true
        urn:ietf:params:scim:schemas:extension:egencia:2.0:Admin:
          $ref: '#/components/schemas/AdminUserSchema'
          description: Extended custom attributes specific to Egencia travel management system.
        userName:
          type: string
          description: A service provider's unique identifier for the user, typically used by the user to directly authenticate to the service provider. The value must be an email value with valid @ domain. Maximum supported characters is 60.
      required:
      - emails
      - name
      - schemas
      - urn:ietf:params:scim:schemas:extension:egencia:2.0:Admin
      title: User schema
    NameSchema:
      type: object
      description: The complex model containing name attributes of the user.
      properties:
        familyName:
          type: string
          description: The family or last name of the user. This field is mandatory and cannot be empty. Maximum supported characters is 40.
          maxLength: 40
          minLength: 0
        formatted:
          type: string
          description: The formatted name of the user
        givenName:
          type: string
          description: The given or first name of the user. This field is mandatory and cannot be empty. Maximum supported characters is 40.
          maxLength: 40
          minLength: 0
        middleName:
          type: string
          description: The middle name of the user. Maximum supported characters is 40.
          maxLength: 40
          minLength: 0
      required:
      - familyName
      - givenName
      title: Name
    AdminUserSchema:
      type: object
      description: The extended custom attributes specific to Egencia travel management system.
      properties:
        department:
          type: string
          description: The department of the admin user.
          maxLength: 40
          minLength: 0
        geography:
          type: string
          description: The geography of the admin user.
          maxLength: 40
          minLength: 0
        partner:
          type: string
          description: The partner of the admin user.
          maxLength: 40
          minLength: 0
        pointOfSales:
          type: array
          description: The pointOfSales of the admin user.
          items:
            $ref: '#/components/schemas/PointOfSaleSchema'
          maxItems: 2147483647
          minItems: 1
        status:
          type: string
          description: To update status for all Point Of Sales
      required:
      - department
      - geography
      - partner
      - pointOfSales
      title: Admin user
    SearchRequestSchema:
      type: object
      description: The user search schema. Currently it supports only emails with eq operator.
      properties:
        filter:
          type: string
          description: Contains the expression for filtering the request. Currently only search by email, name and username is supported with eq operator. This filter attribute can be used to collect Egencia ID by searching via email and Egencia website ID
          example: '"name[givenName eq \"egencia\"] and name[familyName eq \"adminUser\"]"'
          title: FilterRequest
        meta:
          $ref: '#/components/schemas/MetaSchema'
          description: The attribute containing the resource metadata.
        schemas:
          type: array
          description: The schema urns for the associated resource.
          items:
            type: string
          uniqueItems: true
      required:
      - filter
      - schemas
      title: User Search schema
    ScimPatchOperationSchema:
      type: object
      description: A complex object for scim patch oeration.
      properties:
        op:
          type: string
        path:
          type: string
        value: {}
      title: ScimPatchOperation
    EmailSchema:
      type: object
      description: The complex model containing email details of the user.
      properties:
        primary:
          type: boolean
          description: Identifier flag to determine whether the address is primary or not.
        type:
          type: string
          description: Type of email. Ex. WORK. Please refer the <a href='#Email type'>Enumerations</a> section for the values supported.
          enum:
          - WORK
        value:
          type: string
          description: The value of the email address. It needs to be in a standard format and cannot be empty.
          minLength: 1
      required:
      - type
      - value
      title: Email
    MetaSchema:
      type: object
      description: A complex attribute containing resource metadata.
      properties:
        created:
          type: string
          format: date-time
          description: The creation time metadata.
        lastModified:
          type: string
          format: date-time
          description: The last modification time.
        location:
          type: string
          format: uri
          description: The location of the user resource accessible by URI.
        version:
          type: string
          description: The version of the resource.
      title: Meta
    ErrorSchema:
      type: object
      description: The error schema for representing error details.
      properties:
        data:
          type: array
          description: The list of data objects associated with the error. (e.g. invalid attributes).
          items:
            $ref: '#/components/schemas/DataSchema'
        detail:
          type: string
          description: The detailed description of the error.
        meta:
          $ref: '#/components/schemas/MetaSchema'
          description: The attribute containing the resource metadata.
        schemas:
          type: array
          description: The schema urns for the associated resource.
          items:
            type: string
          uniqueItems: true
        status:
          type: string
          description: The status code of the error.
      required:
      - detail
      - schemas
      - status
      title: Error schema
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          tokenUrl: https://apis.egencia.com/auth/v1/token
      type: oauth2
