{"openapi":"3.1.0","info":{"title":"Egencia Receipt API","version":"v1.0"},"servers":[{"url":"https://apis.egencia.com/openconnect/api","description":"Generated server url"}],"paths":{"/v1/receipts/{itemId}":{"get":{"description":"<p>Fetch receipt for a booking item</p>\n<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n        <tr>\n            <td>bookingId</td>\n            <td>String</td>\n            <td>Id corresponding to the trips summary for which you want to fetch each booking item receipts</td>\n        </tr>\n        <tr>\n            <td>itemId</td>\n            <td>String</td>\n            <td>Id corresponding to the booking item for which we want to fetch receipt</td>\n        </tr>\n        </tbody>\n    </table>\n</div>\n<p><b>Response Parameters in case of successful response</b></p>\n<p>In case of successful response receipt pdf will be send to the partner with 200 OK status</p>\n<p><b>Response Parameters in case of failure response</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n        <tr>\n            <td>code</td>\n            <td>String</td>\n            <td>Error code in case of receipt failure</td>\n        </tr>\n        <tr>\n            <td>message</td>\n            <td>String</td>\n            <td>Error message in case of failure</td>\n        </tr>\n        </tbody>\n    </table>\n</div>\n<p><b>Below response with 404 Not Found Error HttpStatus</b></p>\n<div>\n<pre>\n   <code>\n   {\n       \"error\": {\n           \"code\": \"EGE-ER-OS-4010\",\n           \"message\": \"Receipt is unavailable for this booking item.\"\n       }\n   }\n   </code>\n</pre>\n</div>\n","operationId":"getReceipt","parameters":[{"in":"path","name":"itemId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"<b>OK</b>."},"400":{"description":"<b>Bad Request</b> : Invalid input or request"},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired."},"403":{"description":"<b>Forbidden</b> : User not Validated for operation."},"404":{"description":"<b>Not Found</b> : You are trying to access an invalid or non existent resource."},"422":{"description":"<b>Invalid input</b> : invalid or missing required input."},"500":{"description":"<b>Internal Server Error</b> : unable to process request"}},"security":[{"OAuth2":[]}],"summary":"Fetch receipt for a booking item","tags":["receipts"]}}},"components":{"schemas":{},"securitySchemes":{"OAuth2":{"flows":{"clientCredentials":{"tokenUrl":"https://apis.egencia.com/auth/v1/token"}},"type":"oauth2"}}}}