{"openapi":"3.1.0","info":{"title":"Egencia Get Booking API","version":"v1.0"},"servers":[{"url":"https://apis.egencia.com/openconnect/api","description":"Generated server url"}],"paths":{"/v1/bookings/{bookingId}":{"get":{"description":"<p>Creates a Retrieve Booking details request for a specific Booking Id</p>\n<br>\n<p>The response contains booking level as well as item level action links to approve/deny the booking request. The approve/deny action links will be coming in the response when approval status is PENDING and booking status is BOOKED.</p>\n<br>\n<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n        <tr><td colspan=\"3\"><strong>metadata</strong></td></tr>\n        <tr>\n            <td>bookingId</td>\n            <td>String</td>\n            <td>Trip id corresponding to the booking which is to be retrieved</td>\n        </tr>\n        </tbody>\n    </table>\n</div>\n","operationId":"getBookingProduct","parameters":[{"in":"path","name":"bookingId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/hal+json":{"examples":{"Booking details for product type CAR":{"description":"Booking details for product type CAR","value":{"booking_id":"2000-2598-094","egencia_trip_link":"https://www.egencia.eu/trip-webapp/2000-2598-094?auth_gpid=53590","company":{"id":53590,"name":"Test SGP EU Approval","organization_parent_id":53590},"point_of_sale":{"country_code":"FR"},"partner":{"name":"xxx"},"total_price":{"amount":56.98,"currency":"EUR"},"items":[{"id":"5fc5df57d4ccd20001470900","travelers":[{"id":6532166,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Primary Cost Center","value":"cc"},{"label":"Secondary Cost Center","value":"C&D"},{"label":"Free field 2","value":"test"}]}],"booker":{"id":6532166,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"EUR","amount":52.17,"cost_to_customer":52.17,"breakdowns":[{"type":"Base price","currency":"EUR","amount":28.05},{"type":"Taxes and fees","currency":"EUR","amount":24.12}]},"approval_triggered":true,"booking_date_time":"2021-09-30T12:35:20.000Z","approval_status":"APPROVED","approval_deadline":"2021-04-20T20:30:00.000Z","payment_method":"DIRECT_BILLING","product_type":"CAR","gds_reference":"PQ5NK6 (SGP)","vendor_reference":"J5980968464","booking_reference":"PQ5NK6","mission_number":"12345","custom_data_fields":[{"label":"Primary Cost Center","value":"cc"},{"label":"Secondary Cost Center","value":"C&D"},{"label":"Free field 2","value":"test"}],"receipt_provision_available":"false","rate_type":{"name":"CR","code":"EGENCIA"},"rules_and_regulations":{"details":["One Way Information","Miscellaneous\n\nVALUE ADDED BENEFITS MAY NOT APPLY TO PERSONAL RENTALS","Miscellaneous\n\nVALUE ADDED BENEFITS MAY NOT APPLY TO PERSONAL RENTALS","160 miles included","Vehicle Licensing Fee And Road Tax","Location service charge","Additional Mileage - EUR0.17 MILE","Navigation guaranteed - EUR25.91 for the trip.","Child seat for toddler (4-7YR/15-30KG) - EUR15.55 for the trip.","Child seat for infant (0-12M/0-13KG) - EUR15.55 for the trip."]},"booking_status":"BOOKED","policy_compliance":{"is_compliant":false,"reasons":[{"type":"PRICE_LIMIT","message":"This car does not comply with your company's daily fixed price policy of EUR100.00"}]},"vendor":{"code":"ZE","name":"Hertz"},"vehicle":{"name":"Vauxhall Corsa or Seat Ibiza","acriss_code":"ECMR","category":"E","mileage_limit":"160 miles"},"pick_up":{"location":{"type":"ADDRESS","code":"LHR","address":{"street_name":"LHR-Heathrow, Heathrow Airport, Northrop Rd","country_code":"GBR","city_name":"London Heathrow","state_province_name":"England","postal_code":"TW6 2QD"}},"date_time":"2021-02-01T09:00:00.000Z"},"drop_off":{"location":{"type":"ADDRESS","code":"LHR","address":{"street_name":"LHR-Heathrow, Heathrow Airport, Northrop Rd","country_code":"GBR","city_name":"London Heathrow","state_province_name":"England","postal_code":"TW6 2QD"}},"date_time":"2021-02-02T09:00:00.000Z"},"amenities":[],"number_of_drivers":1}]}},"Booking details for product type CAR (Cancellation)":{"description":"Booking details for product type CAR (Cancellation)","value":{"booking_id":"2000-3177-352","company":{"id":64143,"name":"caspianTestCompany_FR","organization_parent_id":6556965},"point_of_sale":{"country_code":"FR"},"total_price":{"currency":"EUR","amount":18},"items":[{"id":"68f64b9b602c01fefa264d1e","traveler":{"id":7819084,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"fr","is_guest":false,"custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}]},"travelers":[{"id":7819084,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"fr","is_guest":false,"custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}]}],"price":{"currency":"EUR","amount":18,"cost_to_customer":18,"breakdowns":[]},"approval_triggered":false,"payment_method":"CREDIT_CARD","product_type":"FEE","custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}],"booking_date_time":"2025-10-20T14:47:55.000Z","booking_status":"BOOKED","label":"Frais Egencia Frais d'intervention - Annulation","associated_booking_reference":"ZJNAOQ","_links":{"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-3177-352/items/68f64b9b602c01fefa264d1e/cancel"}}},{"id":"68e67a5a772f0921253cd6f4","traveler":{"id":7819084,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"fr","is_guest":false,"custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}]},"travelers":[{"id":7819084,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"fr","is_guest":false,"custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}]}],"booker":{"id":7805999,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":true},"price":{"currency":"EUR","amount":76.8,"cost_to_customer":0,"breakdowns":[{"type":"Base price","currency":"EUR","amount":48},{"type":"Taxes and fees","currency":"EUR","amount":28.8}],"refunds":[{"type":"Complete Refund","currency":"EUR","amount":76.8}]},"approval_triggered":false,"payment_method":"PAY_AT_COUNTER","product_type":"CAR","gds_reference":"ZJNAOQ (SGP)","vendor_reference":"2003153466COUNT","booking_reference":"ZJNAOQ","custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}],"rate_type":{"name":"ED2FR","code":"EGENCIA"},"rules_and_regulations":{"details":["GENERAL SURCHARGE","ONE WAY CHARGE","TAX","COLLISION DAMAGE WAIVER - EUR18.0 per day.","SUPER PERSONAL ACCIDENT INSURANCE - EUR10.03 per day.","PERSONAL ACCIDENT INSURANCE - EUR6.02 per day.","EP - EUR15.0 per day.","S/DW1 - EUR10.03 per day."]},"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-08T00:00:00.000Z","cancellation_date_time":"2025-10-20T14:47:55.917Z","booking_status":"CANCELLED","vendor":{"code":"ET","name":"Enterprise"},"vehicle":{"name":"CITROEN C3 OR SIMILAR","acriss_code":"EDMR","category":"E","mileage_limit":"Unlimited"},"pick_up":{"location":{"type":"ADDRESS","code":"PAR","address":{"street_name":"TERMINAL 1 ET 2 ROISSY APT BP 332 CEDE","country_code":"FRA","city_name":"ROISSY","state_province_name":"J","postal_code":"95716"}},"date_time":"2025-10-31T09:00:00.000+01:00"},"drop_off":{"location":{"type":"ADDRESS","code":"PAR","address":{"street_name":"AEROGARE ORLY OUEST BP 447","country_code":"FRA","city_name":"ORLY","state_province_name":"J","postal_code":"94947"}},"date_time":"2025-11-01T13:30:00.000+01:00"},"number_of_drivers":1}],"_links":{"trip":{"href":"https://www.egencia.eu/trip-webapp/2000-3177-352?auth_gpid=64143"},"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-3177-352/cancel"}}}},"Booking details for product type FLIGHT":{"description":"Booking details for product type FLIGHT","value":{"booking_id":"0000-3658-753","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"point_of_sale":{"country_code":"US"},"total_price":{"currency":"USD","amount":416.96},"items":[{"id":"68dd279057aeee540654b34e","traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":416.96,"cost_to_customer":416.96,"breakdowns":[{"type":"BASE","currency":"USD","amount":359.4},{"type":"TAXES","currency":"USD","amount":57.56}]},"approval_triggered":false,"payment_method":"COMPANY_FORM_OF_PAYMENT","product_type":"FLIGHT","gds_reference":"AS8B7C","vendor_reference":"AS8B7C","booking_reference":"21875895050","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-01T00:00:00.000Z","booking_status":"BOOKED","origin_destinations":[{"segments":[{"provider":{"code":"WN","name":"Southwest Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before Departure</b><ul><li>Changeable without penalty</li><li>Non-refundable</li></ul></li></ul>"]},"rate_type":{"name":"PUBLIC","code":"PUBLIC"},"status":"BOOKED","co2_emission":{"value":618,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":35840},{"type":"HOMES_ELECTRICITY","value":0.06},{"type":"SMARTPHONE_CHARGES","value":35840},{"type":"HOME_ELECTRICITY","value":0.06},{"type":"DISTANCE_DRIVEN_BY_CAR","value":700}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2025-10-08T05:10:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"HOU","name":"Houston, TX, United States of America (HOU-William P. Hobby)","address":{"country_code":"US","city_name":"Houston"}},"date_time":"2025-10-08T10:25:00.000-05:00"},"operating_carrier":{"name":"Southwest Airlines","code":"WN","number":"3417","low_cost_carrier":false},"marketing_carrier":{"name":"Southwest Airlines","code":"WN","number":"3417","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"5262100101292"}}]}]},{"segments":[{"provider":{"code":"WN","name":"Southwest Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before 8 Oct 2025, 12:10</b><ul><li>Changeable without penalty</li><li>Non-refundable</li></ul></li></ul>"]},"rate_type":{"name":"PUBLIC","code":"PUBLIC"},"status":"BOOKED","co2_emission":{"value":618,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":35840},{"type":"HOMES_ELECTRICITY","value":0.06},{"type":"SMARTPHONE_CHARGES","value":35840},{"type":"HOME_ELECTRICITY","value":0.06},{"type":"DISTANCE_DRIVEN_BY_CAR","value":700}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"HOU","name":"Houston, TX, United States of America (HOU-William P. Hobby)","address":{"country_code":"US","city_name":"Houston"}},"date_time":"2025-10-11T16:15:00.000-05:00"},"arrival":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2025-10-11T17:50:00.000-07:00"},"operating_carrier":{"name":"Southwest Airlines","code":"WN","number":"2967","low_cost_carrier":false},"marketing_carrier":{"name":"Southwest Airlines","code":"WN","number":"2967","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"5262100101292"}}]}]}],"ticket_number":["5262100101292"],"_links":{"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3658-753/items/68dd279057aeee540654b34e/cancel"}}}],"_links":{"trip":{"href":"https://www.egencia.com/trip-webapp/0000-3658-753?auth_gpid=64139"},"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3658-753/cancel"}}}},"Booking details for product type FLIGHT (Agent Assisted)":{"description":"Booking details for product type FLIGHT (Agent Assisted)","value":{"booking_id":"0000-3903-531","company":{"id":64139,"name":"CaspianUSCompany","organization_parent_id":6556964},"point_of_sale":{"country_code":"US"},"total_price":{"currency":"USD","amount":286.19},"items":[{"id":"6a3170496cd5e06ad2673e0d","traveler":{"id":7854234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7854234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"price":{"currency":"USD","amount":22,"cost_to_customer":22,"breakdowns":[]},"approval_triggered":false,"payment_method":"COMPANY_FORM_OF_PAYMENT","product_type":"FEE","custom_data_fields":[],"booking_date_time":"2026-06-16T15:48:25.000Z","receipt_provision_available":true,"booking_status":"BOOKED","label":"Agent assisted air purchase fee","associated_booking_reference":"21894966357","_links":{"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3903-531/items/6a3170496cd5e06ad2673e0d/cancel"}}},{"id":"6a3170346cd5e06ad2673e0b","traveler":{"id":7854234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7854234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7798007,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":true},"price":{"currency":"USD","amount":264.19,"cost_to_customer":264.19,"breakdowns":[{"type":"BASE","currency":"USD","amount":264.19},{"type":"TAXES","currency":"USD","amount":264.19}]},"approval_triggered":false,"payment_method":"COMPANY_FORM_OF_PAYMENT","product_type":"FLIGHT","gds_reference":"B7MCNC","vendor_reference":"B7MCNC","booking_reference":"21894966357","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2026-06-16T08:48:04.000Z","receipt_provision_available":true,"receipt_info":{"id":"6a3170c7f91c659fa8355b41","status":"AVAILABLE","version":1,"document_type":"RECEIPT","receipt_number":"21894966357","receipt_date":"2026-06-16","total_amount":{"currency":"USD","amount":299.4},"payments":[{"date":"2026-06-16","line_type":"PRODUCT","net_amount":{"currency":"USD","amount":299.4},"credit_card_info":{"last4_digits":"4448","first6_digits":"444444","card_type":"VISA"},"breakdowns":[{"type":"BaseFare","name":"BaseFare","currency":"USD","amount":264.19},{"type":"Taxes","name":"Taxes","currency":"USD","amount":35.21}]},{"date":"2026-06-16","line_type":"EGENCIA_FEE","net_amount":{"currency":"USD","amount":22},"credit_card_info":{"last4_digits":"4448","first6_digits":"444444","card_type":"VISA"},"breakdowns":[{"type":"Agent assisted air purchase fee","name":"Agent assisted air purchase fee","currency":"USD","amount":22}]}],"traveler_id":7854234,"central_bill":true,"_links":{"receipt_pdf":{"href":"https://apis.egencia.com/openconnect/api/v2/bookings/0000-3903-531/items/6a3170346cd5e06ad2673e0b/receipts/6a3170c7f91c659fa8355b41?locale=en_US&traveler_id=7854234"}}},"booking_status":"BOOKED","origin_destinations":[{"segments":[{"provider":{"code":"WN","name":"Southwest Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before Departure</b><ul><li>Changeable without penalty.</li><li>Refundable without penalty.</li></ul></li></ul>"]},"rate_type":{"name":"PUBLIC","code":"PUBLIC"},"status":"BOOKED","co2_emission":{"value":618,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":35840},{"type":"HOMES_ELECTRICITY","value":0.06},{"type":"SMARTPHONE_CHARGES","value":35840},{"type":"HOME_ELECTRICITY","value":0.06},{"type":"DISTANCE_DRIVEN_BY_CAR","value":700}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"HOU","name":"Houston, TX, United States of America (HOU-William P. Hobby)","address":{"country_code":"US","city_name":"Houston"}},"date_time":"2026-09-08T09:35:00.000-05:00"},"arrival":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2026-09-08T11:05:00.000-07:00"},"operating_carrier":{"name":"Southwest Airlines","code":"WN","number":"1942","low_cost_carrier":false},"marketing_carrier":{"name":"Southwest Airlines","code":"WN","number":"1942","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7854234,"ticket":{"number":"5262150903018"}}]}]}],"ticket_number":["5262150903018"],"_links":{"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3903-531/items/6a3170346cd5e06ad2673e0b/cancel"},"receipt":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3903-531/items/6a3170346cd5e06ad2673e0b/receipts"}}}],"_links":{"trip":{"href":"https://www.egencia.com/trip-webapp/0000-3903-531?auth_gpid=64139"},"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3903-531/cancel"}}}},"Booking details for product type FLIGHT (Cancellation)":{"description":"Booking details for product type FLIGHT (Cancellation)","value":{"booking_id":"0000-3660-438","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"point_of_sale":{"country_code":"US"},"items":[{"id":"68de9fed57aeee540654c683","traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":228.48,"cost_to_customer":228.48,"breakdowns":[{"type":"BASE","currency":"USD","amount":198.31},{"type":"TAXES","currency":"USD","amount":30.17}]},"approval_triggered":false,"product_type":"FLIGHT","gds_reference":"AYHVKF","vendor_reference":"AYHVKF","booking_reference":"21875919757","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-02T00:00:00.000Z","cancellation_date_time":"2025-10-15T18:36:26.170Z","booking_status":"CANCELLED","origin_destinations":[{"segments":[{"provider":{"code":"WN","name":"Southwest Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before Departure</b><ul><li>Changeable without penalty</li><li>Non-refundable</li></ul></li></ul>"]},"rate_type":{"name":"PUBLIC","code":"PUBLIC"},"status":"CANCELLED","co2_emission":{"value":778,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":45184},{"type":"HOMES_ELECTRICITY","value":0.07},{"type":"SMARTPHONE_CHARGES","value":45184},{"type":"HOME_ELECTRICITY","value":0.07},{"type":"DISTANCE_DRIVEN_BY_CAR","value":882.5}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2025-10-15T12:45:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"MDW","name":"Chicago, IL, United States of America (MDW-Midway Intl.)","address":{"country_code":"US","city_name":"Chicago"}},"date_time":"2025-10-15T18:40:00.000-05:00"},"operating_carrier":{"name":"Southwest Airlines","code":"WN","number":"834","low_cost_carrier":false},"marketing_carrier":{"name":"Southwest Airlines","code":"WN","number":"834","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"5262100103551"}}]}]}],"ticket_number":["5262100103551"]}],"_links":{"trip":{"href":"https://www.egencia.com/trip-webapp/0000-3660-438?auth_gpid=64139"}}}},"Booking details for product type FLIGHT (MultiCity)":{"description":"Booking details for product type FLIGHT (MultiCity)","value":{"booking_id":"0000-3673-471","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"point_of_sale":{"country_code":"US"},"total_price":{"currency":"USD","amount":7},"items":[{"id":"68efb8374b169cd84f931838","traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[{"label":"Employee Id","value":"2222"}]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[{"label":"Employee Id","value":"2222"}]}],"price":{"currency":"USD","amount":7,"cost_to_customer":7,"breakdowns":[]},"approval_triggered":false,"payment_method":"COMPANY_FORM_OF_PAYMENT","product_type":"FEE","custom_data_fields":[{"label":"Employee Id","value":"2222"}],"booking_date_time":"2025-10-15T15:05:27.000Z","booking_status":"BOOKED","label":"Air booking fee","associated_booking_reference":"21876264442","_links":{"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3673-471/items/68efb8374b169cd84f931838/cancel"}}},{"id":"68efb8024b169cd84f931833","traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":1031.59,"cost_to_customer":1031.59,"breakdowns":[{"type":"BASE","currency":"USD","amount":911.43},{"type":"TAXES","currency":"USD","amount":120.16},{"type":"CC_FEES","currency":"USD","amount":0}]},"approval_triggered":false,"product_type":"FLIGHT","gds_reference":"ENPQZD","vendor_reference":"KFQLGB","booking_reference":"21876264442","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-15T00:00:00.000Z","cancellation_date_time":"2025-10-17T11:46:38.933Z","booking_status":"CANCELLED","origin_destinations":[{"segments":[{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before Departure</b><ul><li>Changeable without penalty</li><li>Refundable with a penalty: $737.00.</li></ul></li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":1013,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":58752},{"type":"HOMES_ELECTRICITY","value":0.09},{"type":"SMARTPHONE_CHARGES","value":58752},{"type":"HOME_ELECTRICITY","value":0.09},{"type":"DISTANCE_DRIVEN_BY_CAR","value":1147.5}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"JFK","name":"New York, NY, United States of America (JFK-John F. Kennedy Intl.)","address":{"country_code":"US","city_name":"New York"}},"date_time":"2026-08-05T10:00:00.000-04:00"},"arrival":{"location":{"type":"AIRPORT","code":"SAN","name":"San Diego, CA, United States of America (SAN-San Diego Intl.)","address":{"country_code":"US","city_name":"San Diego"}},"date_time":"2026-08-05T12:54:00.000-07:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"35","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"35","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]},{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before 5 Aug 2026, 14:00</b><ul><li>Changeable without penalty</li><li>Refundable with a penalty: $737.00.</li></ul></li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":363,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":21120},{"type":"HOMES_ELECTRICITY","value":0.03},{"type":"SMARTPHONE_CHARGES","value":21120},{"type":"HOME_ELECTRICITY","value":0.03},{"type":"DISTANCE_DRIVEN_BY_CAR","value":412.5}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"SAN","name":"San Diego, CA, United States of America (SAN-San Diego Intl.)","address":{"country_code":"US","city_name":"San Diego"}},"date_time":"2026-08-05T16:49:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"SFO","name":"San Francisco, CA, United States of America (SFO-San Francisco Intl.)","address":{"country_code":"US","city_name":"San Francisco"}},"date_time":"2026-08-05T18:29:00.000-07:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"3473","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"3473","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]}]},{"segments":[{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li>Changeable without penalty</li><li>Refundable with a penalty from $753.00</li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":274,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":15872},{"type":"HOMES_ELECTRICITY","value":0.02},{"type":"SMARTPHONE_CHARGES","value":15872},{"type":"HOME_ELECTRICITY","value":0.02},{"type":"DISTANCE_DRIVEN_BY_CAR","value":310}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"SFO","name":"San Francisco, CA, United States of America (SFO-San Francisco Intl.)","address":{"country_code":"US","city_name":"San Francisco"}},"date_time":"2026-08-09T19:00:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2026-08-09T20:37:00.000-07:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"3460","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"3460","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]}]},{"segments":[{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li>Changeable without penalty</li><li>Refundable with a penalty from $753.00</li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":301,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":17536},{"type":"HOMES_ELECTRICITY","value":0.03},{"type":"SMARTPHONE_CHARGES","value":17536},{"type":"HOME_ELECTRICITY","value":0.03},{"type":"DISTANCE_DRIVEN_BY_CAR","value":342.5}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2026-08-10T10:40:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"BOI","name":"Boise, ID, United States of America (BOI)","address":{"country_code":"US","city_name":"Boise"}},"date_time":"2026-08-10T13:44:00.000-06:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"2141","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"2141","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]},{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li>Changeable without penalty</li><li>Refundable with a penalty from $753.00</li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":327,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":18944},{"type":"HOMES_ELECTRICITY","value":0.03},{"type":"SMARTPHONE_CHARGES","value":18944},{"type":"HOME_ELECTRICITY","value":0.03},{"type":"DISTANCE_DRIVEN_BY_CAR","value":370}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"BOI","name":"Boise, ID, United States of America (BOI)","address":{"country_code":"US","city_name":"Boise"}},"date_time":"2026-08-10T17:44:00.000-06:00"},"arrival":{"location":{"type":"AIRPORT","code":"PHX","name":"Phoenix, AZ, United States of America (PHX-Sky Harbor Intl.)","address":{"country_code":"US","city_name":"Phoenix"}},"date_time":"2026-08-10T18:56:00.000-07:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"2099","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"2099","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]}]}],"ticket_number":["0277340678555"]}],"_links":{"trip":{"href":"https://www.egencia.com/trip-webapp/0000-3673-471?auth_gpid=64139"},"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3673-471/cancel"}}}},"Booking details for product type HOTEL":{"description":"Booking details for product type HOTEL","value":{"booking_id":"2000-2683-790","company":{"id":59867,"name":"TEST_SSO_LAB1","organization_parent_id":59867},"point_of_sale":{"country_code":"FR"},"partner":{"name":"xxx"},"items":[{"id":"617af5b862c251342a5494ff","traveler":{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Main cost centre","value":"ADMIN"},{"label":"Employee ID","value":"AMB123"}]},"travelers":[{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Main cost centre","value":"ADMIN"},{"label":"Employee ID","value":"AMB123"}]}],"booker":{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"EUR","amount":69.0,"cost_to_customer":69.0,"breakdowns":[{"type":"TOTAL_BASE","currency":"EUR","amount":62.73,"breakdowns":[]}]},"approval_triggered":true,"booking_date_time":"2021-09-30T12:35:20.000Z","approval_status":"APPROVED","approval_deadline":"2021-11-04T19:11:00.000Z","payment_method":"ON_ACCOUNT","product_type":"HOTEL","gds_reference":"1401473778(24)","booking_reference":"51834229609","custom_data_fields":[{"label":"Main cost centre","value":"ADMIN"},{"label":"Employee ID","value":"AMB123"}],"receipt_provision_available":"false","rate_type":{"name":"EXPEDIA","code":"EXPEDIA"},"rules_and_regulations":{"details":["Annulation et modifications","Aucune pénalité n’est appliquée par l’hôtel pour les annulations effectuées avant le 18:59 heure locale de l’hôtel le 04/01/2022.","Aucun remboursement pour les départs anticipés."]},"policy_compliance":{"is_compliant":true},"booking_status":"CANCELLED","cancellation_date_time":"2021-09-30T13:35:20.000Z","check_in":"2022-01-04T00:00:00.000+01:00","check_out":"2022-01-05T00:00:00.000+01:00","location":{"type":"HOTEL","name":"B&B Hotel Bordeaux Centre Gare Saint-Jean","address":{"street_name":"Gare Armagnac, 7 allée du corail","country_code":"FRA","city_name":"Bordeaux","state_province_name":"33800","postal_code":"33800"}},"star_rating":"3.0","provider":"Expedia","property_id":"1401473778"}],"_links":{"trip":{"href":"https://www.egencia.eu/trip-webapp/2000-2683-790?auth_gpid=59867"}}}},"Booking details for product type HOTEL (Cancellation with penalty)":{"description":"Booking details for product type HOTEL (Cancellation with penalty)","value":{"booking_id":"0000-3664-886","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"point_of_sale":{"country_code":"US"},"items":[{"id":"68e912600d6c13e9ca9141d7","traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805148,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":298.54,"cost_to_customer":298.54,"breakdowns":[{"type":"TOTAL_BASE","currency":"USD","amount":253,"breakdowns":[{"type":"Tue, 10/14","currency":"USD","amount":253}]},{"type":"Taxes & Fees","currency":"USD","amount":45.54}],"penalties":[{"type":"Cancellation penalty","currency":"USD","amount":298.54}]},"approval_triggered":false,"product_type":"HOTEL","gds_reference":"7415153227111","booking_reference":"21876142594","custom_data_fields":[],"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"rules_and_regulations":{"details":["<b>Cancellation and Changes</b>","<p><ul>","<li><span style='color:#CE1745;font-weight: 500'>This reservation is non-refundable and cannot be modified.</span></li>","</ul></p>"]},"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-10T00:00:00.000Z","cancellation_date_time":"2025-10-13T15:11:31.835Z","booking_status":"CANCELLED","check_in":"2025-10-14T16:00:00.000-07:00","check_out":"2025-10-15T11:00:00.000-07:00","location":{"type":"HOTEL","name":"citizenM Seattle Pioneer Square","address":{"street_name":"60 Yesler Way ","country_code":"USA","city_name":"Seattle","state_province_name":"WA","postal_code":"98104"}},"star_rating":"4.0","provider":"ATLANTIS"}],"_links":{"trip":{"href":"https://www.egencia.com/trip-webapp/0000-3664-886?auth_gpid=64139"}}}},"Booking details for product type HOTEL with receipt":{"description":"Booking details for product type HOTEL with receipt","value":{"booking_id":"0000-3691-591","company":{"id":48548,"name":"Hotel Service Level Acceptance","organization_parent_id":48548},"point_of_sale":{"country_code":"US"},"items":[{"id":"69091e07a314e1fa17f50214","traveler":{"id":6482234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Department code","value":"5555522 - Sales Team"},{"label":"Approved Travel Request ID","value":"test cvalue"}]},"travelers":[{"id":6482234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Department code","value":"5555522 - Sales Team"},{"label":"Approved Travel Request ID","value":"test cvalue"}]}],"booker":{"id":6482234,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":233.94,"cost_to_customer":233.94,"breakdowns":[{"type":"TOTAL_BASE","currency":"USD","amount":209.17,"breakdowns":[{"type":"Wed, 11/5","currency":"USD","amount":209.17}]},{"type":"Taxes & Fees","currency":"USD","amount":24.77}],"penalties":[{"type":"Cancellation penalty","currency":"USD","amount":233.94}]},"approval_triggered":false,"payment_method":"CREDIT_CARD","credit_card":{"last4_digits":"4448","first6_digits":"444444"},"product_type":"HOTEL","gds_reference":"7331635082143","booking_reference":"21876679960","custom_data_fields":[{"label":"Department code","value":"5555522 - Sales Team"},{"label":"Approved Travel Request ID","value":"test cvalue"}],"rate_type":{"name":"EXPEDIA","code":"EXPEDIA"},"rules_and_regulations":{"details":["<b>Cancellation and Changes</b>","<p><ul>","<li><span style='color:#CE1745;font-weight: 500'>This reservation is non-refundable and cannot be modified.</span></li>","</ul></p>"]},"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-11-03T00:00:00.000Z","cancellation_date_time":"2025-11-03T21:26:54.729Z","receipt_provision_available":"true","receipt_info":{"id":"133582","document_type":"RECEIPT","status":"AVAILABLE","version":1,"receipt_number":"21876679960","receipt_date":"2025-11-04T12:00:35.258+00:00","total_amount":{"currency":"USD","amount":233.94},"payments":[{"date":"2025-11-03T13:26:31.550Z","net_amount":{"currency":"USD","amount":233.94},"credit_card_info":{"last4_digits":"4448","first6_digits":"444444","card_type":"Visa"},"breakdowns":[{"type":"11/05/2025","currency":"USD","amount":209.17},{"type":"Taxes and service fees","currency":"USD","amount":24.77}]},{"date":"2025-11-03T13:26:49.883Z","net_amount":{"currency":"USD","amount":0},"credit_card_info":{"last4_digits":"4448","first6_digits":"444444","card_type":"Visa"},"breakdowns":[{"type":"Credit","currency":"USD","amount":-233.94},{"type":"Cancel penalty","currency":"USD","amount":233.94}]}],"central_bill":false,"_links":{"receipt_pdf":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3691-591/items/69091e07a314e1fa17f50214/receipts"}}},"booking_status":"CANCELLED","check_in":"2025-11-05T16:00:00.001+01:00","check_out":"2025-11-06T11:00:00.001+01:00","location":{"type":"HOTEL","name":"Van der Valk Hotel Berlin Brandenburg","address":{"street_name":"Eschenweg 18 Dahlewitz","country_code":"DEU","city_name":"Blankenfelde-Mahlow","state_province_name":"Brandenburg Region","postal_code":"15827"}},"star_rating":"4.0","provider":"Expedia","property_id":"1401473778","_links":{"receipt":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3691-591/items/69091e07a314e1fa17f50214/receipts"}}}],"_links":{"trip":{"href":"https://www.egencia.com/trip-webapp/0000-3691-591?auth_gpid=48548"}}}},"Booking details for product type TRAIN":{"description":"Booking details for product type TRAIN","value":{"booking_id":"2000-2683-382","company":{"id":59835,"name":"TEST_SSO","organization_parent_id":59835},"point_of_sale":{"country_code":"FR"},"partner":{"name":"xxx"},"total_price":{"currency":"EUR","amount":50.0},"items":[{"id":"617910511b44f75c52d464f8","traveler":{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Main cost centre","value":"TEST_MAIN_CC1"},{"label":"Numéro de mission","value":"279565"}]},"travelers":[{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Main cost centre","value":"TEST_MAIN_CC1"},{"label":"Numéro de mission","value":"279565"}]}],"booker":{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"EUR","amount":50.0,"cost_to_customer":50.0,"breakdowns":[]},"approval_triggered":true,"booking_date_time":"2021-09-30T12:35:20.000Z","approval_status":"PENDING","approval_deadline":"2021-10-28T20:40:00.000Z","payment_method":"ON_ACCOUNT","product_type":"TRAIN","vendor_reference":"QOIVVG","booking_reference":"QOIVVG","custom_data_fields":[{"label":"Main cost centre","value":"TEST_MAIN_CC1"},{"label":"Numéro de mission","value":"279565"}],"receipt_provision_available":"false","policy_compliance":{"is_compliant":true},"mission_number":"279565","booking_status":"BOOKED","origin_destinations":[{"segments":[{"rules_and_regulations":{"details":["Pour connaître les conditions des tarifs dans leur intégralité, veuillez contacter le transporteur"]},"status":"BOOKED","booking_class":"2ND CLASS","departure":{"location":{"type":"TRAIN_STATION","code":"FRXWG","name":"Strasbourg","address":{"country_code":"FR","city_name":"Strasbourg"}},"date_time":"2021-11-07T08:19:00.000+01:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"FRPST","name":"Paris Gare de l'Est","address":{"country_code":"FR","city_name":"Paris Gare de l'Est"}},"date_time":"2021-11-07T10:16:00.000+01:00"},"operating_carrier":{"name":"TGV INOUI","code":"TGVINOUI","number":"9588"},"traveler_segment_info":[{"ticket":{"number":"33"},"traveler_id":123}]}]},{"segments":[{"rules_and_regulations":{"details":["Pour connaître les conditions des tarifs dans leur intégralité, veuillez contacter le transporteur"]},"status":"BOOKED","booking_class":"2ND CLASS","departure":{"location":{"type":"TRAIN_STATION","code":"FRPST","name":"Paris Gare de l'Est","address":{"country_code":"FR","city_name":"Paris Gare de l'Est"}},"date_time":"2021-11-13T17:43:00.000+01:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"FRXWG","name":"Strasbourg","address":{"country_code":"FR","city_name":"Strasbourg"}},"date_time":"2021-11-13T19:41:00.000+01:00"},"operating_carrier":{"name":"TGV INOUI","code":"TGVINOUI","number":"9579"},"traveler_segment_info":[{"ticket":{"number":"33"},"traveler_id":123}]}]}],"_links":{"approve":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-2683-382/items/617910511b44f75c52d464f8/approve"},"deny":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-2683-382/items/617910511b44f75c52d464f8/deny"}}}],"_links":{"approve":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-2683-382/approve"},"deny":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-2683-382/deny"},"trip":{"href":"https://www.egencia.eu/trip-webapp/2000-2683-382?auth_gpid=59835"},"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-2683-382/cancel"}}}},"Booking details for product type TRAIN (Cancellation)":{"description":"Booking details for product type TRAIN (Cancellation)","value":{"booking_id":"0000-3673-892","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"point_of_sale":{"country_code":"US"},"items":[{"id":"68f10c944b169cd84f9323f4","traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":0,"cost_to_customer":0,"breakdowns":[]},"approval_triggered":false,"payment_method":"CREDIT_CARD","product_type":"TRAIN","vendor_reference":"C6353A","booking_reference":"21876301431","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-16T00:00:00.000Z","cancellation_date_time":"2025-10-16T15:18:22.821Z","booking_status":"CANCELLED","origin_destinations":[{"segments":[{"provider":{"code":"Amtrak","name":"Amtrak"},"rules_and_regulations":{"details":["Flex","\nCancellations:&amp;nbsp;no fee, 100% returned to original form of payment.\nChanges:&amp;nbsp;no fee, difference in fare may apply.\n\n"]},"status":"CANCELLED","booking_class":"COACH SEAT","departure":{"location":{"type":"TRAIN_STATION","code":"USSAC","name":"Sacramento, CA","address":{"country_code":"US","city_name":"Sacramento, CA"}},"date_time":"2025-10-19T06:48:00.000-07:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"USLAX","name":"Los Angeles, CA","address":{"country_code":"US","city_name":"Los Angeles, CA"}},"date_time":"2025-10-19T21:11:00.000-07:00"},"operating_carrier":{"name":"Amtrak","code":"Amtrak","number":"11"},"marketing_carrier":{"name":"Amtrak","code":"Amtrak","number":"11"},"traveler_segment_info":[{"traveler_id":7805149}]},{"provider":{"code":"Amtrak","name":"Amtrak"},"rules_and_regulations":{"details":["Flex","\nCancellations:&amp;nbsp;no fee, 100% returned to original form of payment.\nChanges:&amp;nbsp;no fee, difference in fare may apply.\n\n"]},"status":"CANCELLED","booking_class":"COACH SEAT","departure":{"location":{"type":"TRAIN_STATION","code":"USLAX","name":"Los Angeles, CA","address":{"country_code":"US","city_name":"Los Angeles, CA"}},"date_time":"2025-10-19T22:00:00.000-07:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"USMRC","name":"Maricopa, AZ","address":{"country_code":"US","city_name":"Maricopa, AZ"}},"date_time":"2025-10-20T05:35:00.000-07:00"},"operating_carrier":{"name":"Amtrak","code":"Amtrak","number":"2"},"marketing_carrier":{"name":"Amtrak","code":"Amtrak","number":"2"},"traveler_segment_info":[{"traveler_id":7805149}]},{"provider":{"code":"Amtrak","name":"Amtrak"},"rules_and_regulations":{"details":["Flex","\nCancellations:&amp;nbsp;no fee, 100% returned to original form of payment.\nChanges:&amp;nbsp;no fee, difference in fare may apply.\n\n"]},"status":"CANCELLED","booking_class":"AMTRAK CONNECTION SEAT","departure":{"location":{"type":"TRAIN_STATION","code":"USMRC","name":"Maricopa, AZ","address":{"country_code":"US","city_name":"Maricopa, AZ"}},"date_time":"2025-10-20T05:45:00.000-07:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"USPXN","name":"Phoenix (North), AZ","address":{"country_code":"US","city_name":"Phoenix (North), AZ"}},"date_time":"2025-10-20T07:15:00.000-07:00"},"operating_carrier":{"name":"Amtrak","code":"Amtrak","number":"8902"},"marketing_carrier":{"name":"Amtrak","code":"Amtrak","number":"8902"},"traveler_segment_info":[{"traveler_id":7805149}]}]}]}],"_links":{"trip":{"href":"https://www.egencia.com/trip-webapp/0000-3673-892?auth_gpid=64139"}}}},"Booking details for product type TRAIN with invoice":{"description":"Booking details for product type TRAIN with invoice","value":{"booking_id":"2000-3184-206","company":{"id":58401,"name":"Test Train Paris","organization_parent_id":6555707},"point_of_sale":{"country_code":"FR"},"total_price":{"currency":"EUR","amount":37.0},"items":[{"id":"6900687a3cfe3643146bbe0e","traveler":{"id":7780308,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}]},"travelers":[{"id":7780308,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}]}],"price":{"currency":"EUR","amount":12.0,"cost_to_customer":12.0,"breakdowns":[]},"approval_triggered":false,"payment_method":"CREDIT_CARD","credit_card":{"last4_digits":"4444","first6_digits":"555555"},"product_type":"FEE","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}],"booking_date_time":"2025-10-28T06:53:46.000Z","booking_status":"BOOKED","label":"Frais Egencia Transaction train dom off line","associated_booking_reference":"9AEX65","_links":{"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-3184-206/items/6900687a3cfe3643146bbe0e/cancel"}}},{"id":"690068673cfe3643146bbe0c","traveler":{"id":7780308,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}]},"travelers":[{"id":7780308,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}]}],"booker":{"id":7780308,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":true},"price":{"currency":"EUR","amount":25.0,"cost_to_customer":25.0,"breakdowns":[]},"approval_triggered":false,"payment_method":"ON_ACCOUNT","product_type":"TRAIN","vendor_reference":"9AEX65","booking_reference":"9AEX65","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-27T00:00:00.000Z","receipt_provision_available":"true","receipt_info":{"id":"FRI9157764","status":"AVAILABLE","document_type":"INVOICE","receipt_date":"2025-10-30","total_amount":{"currency":"EUR","amount":37.0},"payments":[{"date":"2025-10-30","line_type":"PRODUCT","net_amount":{"currency":"EUR","amount":25.0},"credit_card_info":{"last4_digits":"4444","first6_digits":"555555","card_type":"MASTER_CARD"},"breakdowns":[{"type":"BASE","currency":"EUR","amount":25.0},{"type":"TAX","currency":"EUR","amount":0.0}]},{"date":"2025-10-30","line_type":"EGENCIA_FEE","net_amount":{"currency":"EUR","amount":12.0},"credit_card_info":{"last4_digits":"4444","first6_digits":"555555","card_type":"MASTER_CARD"},"breakdowns":[{"type":"BASE","currency":"EUR","amount":12.0},{"type":"TAX","currency":"EUR","amount":0.0}]}],"central_bill":false,"_links":{"receipt_pdf":{"href":"https://apis.egencia.eu/openconnect/api/v2/bookings/2000-3184-206/items/690068673cfe3643146bbe0c/receipts/FRI9157764?traveler_id=7780308"}}},"booking_status":"BOOKED","origin_destinations":[{"segments":[{"provider":{"code":"OUIGO","name":"Ouigo Grande Vitesse"},"rules_and_regulations":{"details":["EU_PASSENGER_RIGHTS_REGULATION","Offre Essentiel Adulte","All changes are applied per trip and per passenger.","Billet non annulable, non remboursable. Échangeable ou modifiable en ligne jusqu'à 30 min avant le départ de votre train, sous conditions avec frais d'échange de maximum 19€ par trajet et par voyageur (les frais d’échange ne s’appliquent pas avec l’option OuigoFlex).","Boarding is open 30 minutes before the train's departure, and access to the train is denied 5 minutes before departure.","In addition to these fees, there may be a price difference between your old and new tickets. If this difference is negative, it will not be reimbursed.","L'embarquement est ouvert 30 minutes avant le départ du train et l'accès au train est refusé 5 minutes avant le départ.","Le billet est disponible à partir de 4 jours avant le départ du train.","Non-cancellable, non-refundable ticket. You can exchange or modify your ticket online up to 30 minutes before the departure of your train, subject to conditions and an exchange fee of no more than €19 per journey and per passenger (exchange fees do not apply to the OuigoFlex option).","Proof of ID must be shown.","Présentation d'un justificatif d'identité obligatoire.","S'ajoute à ces frais, l'éventuelle différence tarifaire entre l'ancien et le nouveau billet. Si la différence tarifaire est négative, celle-ci n’est pas remboursée.","The ticket is available starting from 4 days before the train's departure.","Toute modification s'applique par trajet et à l'ensemble des voyageurs."]},"status":"BOOKED","booking_class":"OUIGO ESSENTIEL","departure":{"location":{"type":"TRAIN_STATION","code":"FRXYD","name":"Lyon Part Dieu","address":{"country_code":"FR","city_name":"Lyon Part Dieu"}},"date_time":"2025-12-30T08:38:00.000+01:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"FRLYS","name":"Paris Gare De Lyon","address":{"country_code":"FR","city_name":"Paris Gare De Lyon"}},"date_time":"2025-12-30T10:34:00.000+01:00"},"operating_carrier":{"name":"Ouigo Grande Vitesse","code":"OUIGO","number":"7802"},"marketing_carrier":{"name":"Ouigo Grande Vitesse","code":"OUIGO","number":"7802"},"traveler_segment_info":[{"traveler_id":7780308}]}]}],"_links":{"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-3184-206/items/690068673cfe3643146bbe0c/cancel"},"receipt":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-3184-206/items/690068673cfe3643146bbe0c/receipts"}}}],"_links":{"trip":{"href":"https://www.egencia.eu/trip-webapp/2000-3184-206?auth_gpid=58401"},"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-3184-206/cancel"}}}}},"schema":{"$ref":"#/components/schemas/BookingProduct"}}},"description":"<b>OK</b>."},"400":{"description":"<b>Bad Request</b> : Invalid input or request"},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired."},"403":{"description":"<b>Forbidden</b> : User is not authorized for the operation."},"404":{"description":"<b>Not Found</b> : You are trying to access an invalid or non existent resource."},"422":{"description":"<b>Invalid input</b> : invalid or missing required input."},"500":{"description":"<b>Internal Server Error</b> : unable to process request"}},"security":[{"OAuth2":[]}],"summary":"Retrieve trip details for a particular booking based on booking ID","tags":["bookings v1"]}},"/v1/bookings/{bookingId}/items/{itemId}":{"get":{"description":"<p>Creates a Retrieve Booking Item details request for specific Booking Item Id</p>\n<br>\n<p>The response contains item level action links to approve/deny the booking item. The approve/deny action links will be coming in the response when approval status is PENDING and booking status is BOOKED. The cancel action link will come when booking status is not CANCELLED.</p>\n<br>\n<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n        <tr><td colspan=\"3\"><strong>metadata</strong></td></tr>\n        <tr>\n            <td>bookingId</td>\n            <td>String</td>\n            <td>Trip id corresponding to the booking which is to be retrieved</td>\n        </tr>\n        <tr>\n            <td>itemId</td>\n            <td>String</td>\n            <td>Trip item id corresponding to the booking which is to be retrieved</td>\n        </tr>\n        </tbody>\n    </table>\n</div>\n","operationId":"getBookingItem","parameters":[{"in":"path","name":"bookingId","required":true,"schema":{"type":"string"}},{"in":"path","name":"itemId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/hal+json":{"examples":{"Booking item details for product type CAR":{"description":"Booking item details for product type CAR","value":{"booking_id":"0000-3038-770","company":{"id":53590,"name":"Test SGP EU Approval","organization_parent_id":53590},"point_of_sale":{"country_code":"FR"},"partner":{"name":"xxx"},"id":"63882f9d8f517b32f3b1b828","travelers":[{"id":6532166,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Primary Cost Center","value":"cc"},{"label":"Secondary Cost Center","value":"C&D"},{"label":"Free field 2","value":"test"}]}],"booker":{"id":6532166,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"EUR","amount":52.17,"cost_to_customer":52.17,"breakdowns":[{"type":"Base price","currency":"EUR","amount":28.05},{"type":"Taxes and fees","currency":"EUR","amount":24.12}]},"approval_triggered":true,"booking_date_time":"2021-09-30T12:35:20.000Z","approval_status":"APPROVED","approval_deadline":"2021-04-20T20:30:00.000Z","payment_method":"DIRECT_BILLING","product_type":"CAR","gds_reference":"PQ5NK6 (SGP)","vendor_reference":"J5980968464","booking_reference":"PQ5NK6","mission_number":"12345","custom_data_fields":[{"label":"Primary Cost Center","value":"cc"},{"label":"Secondary Cost Center","value":"C&D"},{"label":"Free field 2","value":"test"}],"receipt_provision_available":"false","rate_type":{"name":"CR","code":"EGENCIA"},"rules_and_regulations":{"details":["One Way Information","Miscellaneous\\n\\nVALUE ADDED BENEFITS MAY NOT APPLY TO PERSONAL RENTALS","Miscellaneous\\n\\nVALUE ADDED BENEFITS MAY NOT APPLY TO PERSONAL RENTALS","160 miles included","Vehicle Licensing Fee And Road Tax","Location service charge","Additional Mileage - EUR0.17 MILE","Navigation guaranteed - EUR25.91 for the trip.","Child seat for toddler (4-7YR/15-30KG) - EUR15.55 for the trip.","Child seat for infant (0-12M/0-13KG) - EUR15.55 for the trip."]},"booking_status":"BOOKED","policy_compliance":{"is_compliant":false,"reasons":[{"type":"PRICE_LIMIT","message":"This car does not comply with your company's daily fixed price policy of EUR100.00"}]},"vendor":{"code":"ZE","name":"Hertz"},"vehicle":{"name":"Vauxhall Corsa or Seat Ibiza","acriss_code":"ECMR","category":"E","mileage_limit":"160 miles"},"pick_up":{"location":{"type":"ADDRESS","code":"LHR","address":{"street_name":"LHR-Heathrow, Heathrow Airport, Northrop Rd","country_code":"GBR","city_name":"London Heathrow","state_province_name":"England","postal_code":"TW6 2QD"}},"date_time":"2021-02-01T09:00:00.000Z"},"drop_off":{"location":{"type":"ADDRESS","code":"LHR","address":{"street_name":"LHR-Heathrow, Heathrow Airport, Northrop Rd","country_code":"GBR","city_name":"London Heathrow","state_province_name":"England","postal_code":"TW6 2QD"}},"date_time":"2021-02-02T09:00:00.000Z"},"amenities":[],"number_of_drivers":1,"_links":{"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/0000-3038-770/items/63882f9d8f517b32f3b1b828/cancel"}}}},"Booking item details for product type CAR (Cancellation)":{"description":"Booking item details for product type CAR (Cancellation)","value":{"id":"68e67a5a772f0921253cd6f4","point_of_sale":{"country_code":"FR"},"traveler":{"id":7819084,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"fr","is_guest":false,"custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}]},"travelers":[{"id":7819084,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"fr","is_guest":false,"custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}]}],"booker":{"id":7805999,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":true},"price":{"currency":"EUR","amount":76.8,"cost_to_customer":0,"breakdowns":[{"type":"Base price","currency":"EUR","amount":48},{"type":"Taxes and fees","currency":"EUR","amount":28.8}],"refunds":[{"type":"Complete Refund","currency":"EUR","amount":76.8}]},"approval_triggered":false,"payment_method":"PAY_AT_COUNTER","product_type":"CAR","gds_reference":"ZJNAOQ (SGP)","vendor_reference":"2003153466COUNT","booking_reference":"ZJNAOQ","custom_data_fields":[{"label":"Main cost centre","value":"CC1"},{"label":"Employee ID","value":"2222"}],"rate_type":{"name":"ED2FR","code":"EGENCIA"},"rules_and_regulations":{"details":["GENERAL SURCHARGE","ONE WAY CHARGE","TAX","COLLISION DAMAGE WAIVER - EUR18.0 per day.","SUPER PERSONAL ACCIDENT INSURANCE - EUR10.03 per day.","PERSONAL ACCIDENT INSURANCE - EUR6.02 per day.","EP - EUR15.0 per day.","S/DW1 - EUR10.03 per day."]},"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-08T00:00:00.000Z","cancellation_date_time":"2025-10-20T14:47:55.917Z","booking_status":"CANCELLED","booking_id":"2000-3177-352","company":{"id":64143,"name":"caspianTestCompany_FR","organization_parent_id":6556965},"vendor":{"code":"ET","name":"Enterprise"},"vehicle":{"name":"CITROEN C3 OR SIMILAR","acriss_code":"EDMR","category":"E","mileage_limit":"Unlimited"},"pick_up":{"location":{"type":"ADDRESS","code":"PAR","address":{"street_name":"TERMINAL 1 ET 2 ROISSY APT BP 332 CEDE","country_code":"FRA","city_name":"ROISSY","state_province_name":"J","postal_code":"95716"}},"date_time":"2025-10-31T09:00:00.000+01:00"},"drop_off":{"location":{"type":"ADDRESS","code":"PAR","address":{"street_name":"AEROGARE ORLY OUEST BP 447","country_code":"FRA","city_name":"ORLY","state_province_name":"J","postal_code":"94947"}},"date_time":"2025-11-01T13:30:00.000+01:00"},"number_of_drivers":1}},"Booking item details for product type FLIGHT":{"description":"Booking item details for product type FLIGHT","value":{"id":"68dd279057aeee540654b34e","point_of_sale":{"country_code":"US"},"traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":416.96,"cost_to_customer":416.96,"breakdowns":[{"type":"BASE","currency":"USD","amount":359.4},{"type":"TAXES","currency":"USD","amount":57.56}]},"approval_triggered":false,"payment_method":"COMPANY_FORM_OF_PAYMENT","product_type":"FLIGHT","gds_reference":"AS8B7C","vendor_reference":"AS8B7C","booking_reference":"21875895050","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-01T00:00:00.000Z","booking_status":"BOOKED","booking_id":"0000-3658-753","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"origin_destinations":[{"segments":[{"provider":{"code":"WN","name":"Southwest Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before Departure</b><ul><li>Changeable without penalty</li><li>Non-refundable</li></ul></li></ul>"]},"rate_type":{"name":"PUBLIC","code":"PUBLIC"},"status":"BOOKED","co2_emission":{"value":618,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":35840},{"type":"HOMES_ELECTRICITY","value":0.06},{"type":"SMARTPHONE_CHARGES","value":35840},{"type":"HOME_ELECTRICITY","value":0.06},{"type":"DISTANCE_DRIVEN_BY_CAR","value":700}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2025-10-08T05:10:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"HOU","name":"Houston, TX, United States of America (HOU-William P. Hobby)","address":{"country_code":"US","city_name":"Houston"}},"date_time":"2025-10-08T10:25:00.000-05:00"},"operating_carrier":{"name":"Southwest Airlines","code":"WN","number":"3417","low_cost_carrier":false},"marketing_carrier":{"name":"Southwest Airlines","code":"WN","number":"3417","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"5262100101292"}}]}]},{"segments":[{"provider":{"code":"WN","name":"Southwest Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before 8 Oct 2025, 12:10</b><ul><li>Changeable without penalty</li><li>Non-refundable</li></ul></li></ul>"]},"rate_type":{"name":"PUBLIC","code":"PUBLIC"},"status":"BOOKED","co2_emission":{"value":618,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":35840},{"type":"HOMES_ELECTRICITY","value":0.06},{"type":"SMARTPHONE_CHARGES","value":35840},{"type":"HOME_ELECTRICITY","value":0.06},{"type":"DISTANCE_DRIVEN_BY_CAR","value":700}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"HOU","name":"Houston, TX, United States of America (HOU-William P. Hobby)","address":{"country_code":"US","city_name":"Houston"}},"date_time":"2025-10-11T16:15:00.000-05:00"},"arrival":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2025-10-11T17:50:00.000-07:00"},"operating_carrier":{"name":"Southwest Airlines","code":"WN","number":"2967","low_cost_carrier":false},"marketing_carrier":{"name":"Southwest Airlines","code":"WN","number":"2967","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"5262100101292"}}]}]}],"ticket_number":["5262100101292"],"_links":{"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3658-753/items/68dd279057aeee540654b34e/cancel"}}}},"Booking item details for product type FLIGHT (Agent Assisted)":{"description":"Booking item details for product type FLIGHT (Agent Assisted)","value":{"id":"6a3170346cd5e06ad2673e0b","point_of_sale":{"country_code":"US"},"traveler":{"id":7854234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7854234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7798007,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":true},"price":{"currency":"USD","amount":264.19,"cost_to_customer":264.19,"breakdowns":[{"type":"BASE","currency":"USD","amount":264.19},{"type":"TAXES","currency":"USD","amount":264.19}]},"approval_triggered":false,"payment_method":"COMPANY_FORM_OF_PAYMENT","product_type":"FLIGHT","gds_reference":"B7MCNC","vendor_reference":"B7MCNC","booking_reference":"21894966357","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2026-06-16T08:48:04.000Z","receipt_provision_available":true,"receipt_info":{"id":"6a3170c7f91c659fa8355b41","status":"AVAILABLE","version":1,"document_type":"RECEIPT","receipt_number":"21894966357","receipt_date":"2026-06-16","total_amount":{"currency":"USD","amount":299.4},"payments":[{"date":"2026-06-16","line_type":"PRODUCT","net_amount":{"currency":"USD","amount":299.4},"credit_card_info":{"last4_digits":"4448","first6_digits":"444444","card_type":"VISA"},"breakdowns":[{"type":"BaseFare","name":"BaseFare","currency":"USD","amount":264.19},{"type":"Taxes","name":"Taxes","currency":"USD","amount":35.21}]},{"date":"2026-06-16","line_type":"EGENCIA_FEE","net_amount":{"currency":"USD","amount":22},"credit_card_info":{"last4_digits":"4448","first6_digits":"444444","card_type":"VISA"},"breakdowns":[{"type":"Agent assisted air purchase fee","name":"Agent assisted air purchase fee","currency":"USD","amount":22}]}],"traveler_id":7854234,"central_bill":true,"_links":{"receipt_pdf":{"href":"https://apis.egencia.com/openconnect/api/v2/bookings/0000-3903-531/items/6a3170346cd5e06ad2673e0b/receipts/6a3170c7f91c659fa8355b41?locale=en_US&traveler_id=7854234"}}},"booking_status":"BOOKED","booking_id":"0000-3903-531","company":{"id":64139,"name":"CaspianUSCompany","organization_parent_id":6556964},"origin_destinations":[{"segments":[{"provider":{"code":"WN","name":"Southwest Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before Departure</b><ul><li>Changeable without penalty.</li><li>Refundable without penalty.</li></ul></li></ul>"]},"rate_type":{"name":"PUBLIC","code":"PUBLIC"},"status":"BOOKED","co2_emission":{"value":618,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":35840},{"type":"HOMES_ELECTRICITY","value":0.06},{"type":"SMARTPHONE_CHARGES","value":35840},{"type":"HOME_ELECTRICITY","value":0.06},{"type":"DISTANCE_DRIVEN_BY_CAR","value":700}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"HOU","name":"Houston, TX, United States of America (HOU-William P. Hobby)","address":{"country_code":"US","city_name":"Houston"}},"date_time":"2026-09-08T09:35:00.000-05:00"},"arrival":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2026-09-08T11:05:00.000-07:00"},"operating_carrier":{"name":"Southwest Airlines","code":"WN","number":"1942","low_cost_carrier":false},"marketing_carrier":{"name":"Southwest Airlines","code":"WN","number":"1942","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7854234,"ticket":{"number":"5262150903018"}}]}]}],"ticket_number":["5262150903018"],"_links":{"cancel":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3903-531/items/6a3170346cd5e06ad2673e0b/cancel"},"receipt":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3903-531/items/6a3170346cd5e06ad2673e0b/receipts"}}}},"Booking item details for product type FLIGHT (Cancellation)":{"description":"Booking item details for product type FLIGHT (Cancellation)","value":{"id":"68de9fed57aeee540654c683","point_of_sale":{"country_code":"US"},"traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":228.48,"cost_to_customer":228.48,"breakdowns":[{"type":"BASE","currency":"USD","amount":198.31},{"type":"TAXES","currency":"USD","amount":30.17}]},"approval_triggered":false,"product_type":"FLIGHT","gds_reference":"AYHVKF","vendor_reference":"AYHVKF","booking_reference":"21875919757","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-02T00:00:00.000Z","cancellation_date_time":"2025-10-15T18:36:26.170Z","booking_status":"CANCELLED","booking_id":"0000-3660-438","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"origin_destinations":[{"segments":[{"provider":{"code":"WN","name":"Southwest Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before Departure</b><ul><li>Changeable without penalty</li><li>Non-refundable</li></ul></li></ul>"]},"rate_type":{"name":"PUBLIC","code":"PUBLIC"},"status":"CANCELLED","co2_emission":{"value":778,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":45184},{"type":"HOMES_ELECTRICITY","value":0.07},{"type":"SMARTPHONE_CHARGES","value":45184},{"type":"HOME_ELECTRICITY","value":0.07},{"type":"DISTANCE_DRIVEN_BY_CAR","value":882.5}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2025-10-15T12:45:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"MDW","name":"Chicago, IL, United States of America (MDW-Midway Intl.)","address":{"country_code":"US","city_name":"Chicago"}},"date_time":"2025-10-15T18:40:00.000-05:00"},"operating_carrier":{"name":"Southwest Airlines","code":"WN","number":"834","low_cost_carrier":false},"marketing_carrier":{"name":"Southwest Airlines","code":"WN","number":"834","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"5262100103551"}}]}]}],"ticket_number":["5262100103551"]}},"Booking item details for product type FLIGHT (MultiCity)":{"description":"Booking item details for product type FLIGHT (MultiCity)","value":{"id":"68efb8024b169cd84f931833","point_of_sale":{"country_code":"US"},"traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":1031.59,"cost_to_customer":1031.59,"breakdowns":[{"type":"BASE","currency":"USD","amount":911.43},{"type":"TAXES","currency":"USD","amount":120.16},{"type":"CC_FEES","currency":"USD","amount":0}]},"approval_triggered":false,"product_type":"FLIGHT","gds_reference":"ENPQZD","vendor_reference":"KFQLGB","booking_reference":"21876264442","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-15T00:00:00.000Z","cancellation_date_time":"2025-10-17T11:46:38.933Z","booking_status":"CANCELLED","booking_id":"0000-3673-471","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"origin_destinations":[{"segments":[{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before Departure</b><ul><li>Changeable without penalty</li><li>Refundable with a penalty: $737.00.</li></ul></li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":1013,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":58752},{"type":"HOMES_ELECTRICITY","value":0.09},{"type":"SMARTPHONE_CHARGES","value":58752},{"type":"HOME_ELECTRICITY","value":0.09},{"type":"DISTANCE_DRIVEN_BY_CAR","value":1147.5}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"JFK","name":"New York, NY, United States of America (JFK-John F. Kennedy Intl.)","address":{"country_code":"US","city_name":"New York"}},"date_time":"2026-08-05T10:00:00.000-04:00"},"arrival":{"location":{"type":"AIRPORT","code":"SAN","name":"San Diego, CA, United States of America (SAN-San Diego Intl.)","address":{"country_code":"US","city_name":"San Diego"}},"date_time":"2026-08-05T12:54:00.000-07:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"35","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"35","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]},{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li><b>Before 5 Aug 2026, 14:00</b><ul><li>Changeable without penalty</li><li>Refundable with a penalty: $737.00.</li></ul></li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":363,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":21120},{"type":"HOMES_ELECTRICITY","value":0.03},{"type":"SMARTPHONE_CHARGES","value":21120},{"type":"HOME_ELECTRICITY","value":0.03},{"type":"DISTANCE_DRIVEN_BY_CAR","value":412.5}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"SAN","name":"San Diego, CA, United States of America (SAN-San Diego Intl.)","address":{"country_code":"US","city_name":"San Diego"}},"date_time":"2026-08-05T16:49:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"SFO","name":"San Francisco, CA, United States of America (SFO-San Francisco Intl.)","address":{"country_code":"US","city_name":"San Francisco"}},"date_time":"2026-08-05T18:29:00.000-07:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"3473","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"3473","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]}]},{"segments":[{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li>Changeable without penalty</li><li>Refundable with a penalty from $753.00</li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":274,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":15872},{"type":"HOMES_ELECTRICITY","value":0.02},{"type":"SMARTPHONE_CHARGES","value":15872},{"type":"HOME_ELECTRICITY","value":0.02},{"type":"DISTANCE_DRIVEN_BY_CAR","value":310}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"SFO","name":"San Francisco, CA, United States of America (SFO-San Francisco Intl.)","address":{"country_code":"US","city_name":"San Francisco"}},"date_time":"2026-08-09T19:00:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2026-08-09T20:37:00.000-07:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"3460","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"3460","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]}]},{"segments":[{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li>Changeable without penalty</li><li>Refundable with a penalty from $753.00</li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":301,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":17536},{"type":"HOMES_ELECTRICITY","value":0.03},{"type":"SMARTPHONE_CHARGES","value":17536},{"type":"HOME_ELECTRICITY","value":0.03},{"type":"DISTANCE_DRIVEN_BY_CAR","value":342.5}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"LAX","name":"Los Angeles, CA, United States of America (LAX-Los Angeles Intl.)","address":{"country_code":"US","city_name":"Los Angeles"}},"date_time":"2026-08-10T10:40:00.000-07:00"},"arrival":{"location":{"type":"AIRPORT","code":"BOI","name":"Boise, ID, United States of America (BOI)","address":{"country_code":"US","city_name":"Boise"}},"date_time":"2026-08-10T13:44:00.000-06:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"2141","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"2141","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]},{"provider":{"code":"AS","name":"Alaska Airlines"},"rules_and_regulations":{"details":["<ul><li>Changeable without penalty</li><li>Refundable with a penalty from $753.00</li></ul>"]},"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"status":"CANCELLED","co2_emission":{"value":327,"unit":"LB","equivalencies":[{"type":"SMART_PHONE_CHARGES","value":18944},{"type":"HOMES_ELECTRICITY","value":0.03},{"type":"SMARTPHONE_CHARGES","value":18944},{"type":"HOME_ELECTRICITY","value":0.03},{"type":"DISTANCE_DRIVEN_BY_CAR","value":370}]},"booking_class":"Economy","departure":{"location":{"type":"AIRPORT","code":"BOI","name":"Boise, ID, United States of America (BOI)","address":{"country_code":"US","city_name":"Boise"}},"date_time":"2026-08-10T17:44:00.000-06:00"},"arrival":{"location":{"type":"AIRPORT","code":"PHX","name":"Phoenix, AZ, United States of America (PHX-Sky Harbor Intl.)","address":{"country_code":"US","city_name":"Phoenix"}},"date_time":"2026-08-10T18:56:00.000-07:00"},"operating_carrier":{"name":"Alaska Airlines","code":"AS","number":"2099","low_cost_carrier":false},"marketing_carrier":{"name":"Alaska Airlines","code":"AS","number":"2099","low_cost_carrier":false},"traveler_segment_info":[{"traveler_id":7805149,"ticket":{"number":"0277340678555"}}]}]}],"ticket_number":["0277340678555"]}},"Booking item details for product type HOTEL":{"description":"Booking item details for product type HOTEL","value":{"booking_id":"2000-2683-790","company":{"id":59867,"name":"TEST_SSO_LAB1","organization_parent_id":59867},"point_of_sale":{"country_code":"FR"},"partner":{"name":"xxx"},"id":"617af5b862c251342a5494ff","traveler":{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Main cost centre","value":"ADMIN"},{"label":"Employee ID","value":"AMB123"}]},"travelers":[{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Main cost centre","value":"ADMIN"},{"label":"Employee ID","value":"AMB123"}]}],"booker":{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"EUR","amount":69.0,"cost_to_customer":69.0,"breakdowns":[]},"approval_triggered":true,"booking_date_time":"2021-09-30T12:35:20.000Z","approval_status":"APPROVED","approval_deadline":"2021-11-04T19:11:00.000Z","payment_method":"ON_ACCOUNT","product_type":"HOTEL","gds_reference":"1401473778(24)","booking_reference":"51834229609","custom_data_fields":[{"label":"Main cost centre","value":"ADMIN"},{"label":"Employee ID","value":"AMB123"}],"receipt_provision_available":"false","rate_type":{"name":"EXPEDIA","code":"EXPEDIA"},"rules_and_regulations":{"details":["Annulation et modifications","Aucune pénalité n’est appliquée par l’hôtel pour les annulations effectuées avant le 18:59 heure locale de l’hôtel le 04/01/2022.","Aucun remboursement pour les départs anticipés."]},"policy_compliance":{"is_compliant":true},"booking_status":"CANCELLED","cancellation_date_time":"2021-09-30T13:35:20.000Z","check_in":"2022-01-04T00:00:00.000+01:00","check_out":"2022-01-05T00:00:00.000+01:00","location":{"type":"HOTEL","name":"B&B Hotel Bordeaux Centre Gare Saint-Jean","address":{"street_name":"Gare Armagnac, 7 allée du corail","country_code":"FRA","city_name":"Bordeaux","state_province_name":"33800","postal_code":"33800"}},"star_rating":"3.0"}},"Booking item details for product type HOTEL (Cancellation with penalty)":{"description":"Booking item details for product type HOTEL (Cancellation with penalty)","value":{"id":"68e912600d6c13e9ca9141d7","point_of_sale":{"country_code":"US"},"traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805148,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":298.54,"cost_to_customer":298.54,"breakdowns":[{"type":"TOTAL_BASE","currency":"USD","amount":253,"breakdowns":[{"type":"Tue, 10/14","currency":"USD","amount":253}]},{"type":"Taxes & Fees","currency":"USD","amount":45.54}],"penalties":[{"type":"Cancellation penalty","currency":"USD","amount":298.54}]},"approval_triggered":false,"product_type":"HOTEL","gds_reference":"7415153227111","booking_reference":"21876142594","custom_data_fields":[],"rate_type":{"name":"EGENCIA","code":"EGENCIA"},"rules_and_regulations":{"details":["<b>Cancellation and Changes</b>","<p><ul>","<li><span style='color:#CE1745;font-weight: 500'>This reservation is non-refundable and cannot be modified.</span></li>","</ul></p>"]},"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-10T00:00:00.000Z","cancellation_date_time":"2025-10-13T15:11:31.835Z","booking_status":"CANCELLED","booking_id":"0000-3664-886","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"check_in":"2025-10-14T16:00:00.000-07:00","check_out":"2025-10-15T11:00:00.000-07:00","location":{"type":"HOTEL","name":"citizenM Seattle Pioneer Square","address":{"street_name":"60 Yesler Way ","country_code":"USA","city_name":"Seattle","state_province_name":"WA","postal_code":"98104"}},"star_rating":"4.0","provider":"ATLANTIS"}},"Booking item details for product type HOTEL with receipt":{"description":"Booking item details for product type HOTEL with receipt","value":{"id":"69091e07a314e1fa17f50214","point_of_sale":{"country_code":"US"},"traveler":{"id":6482234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Department code","value":"5555522 - Sales Team"},{"label":"Approved Travel Request ID","value":"test cvalue"}]},"travelers":[{"id":6482234,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Department code","value":"5555522 - Sales Team"},{"label":"Approved Travel Request ID","value":"test cvalue"}]}],"booker":{"id":6482234,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":233.94,"cost_to_customer":233.94,"breakdowns":[{"type":"TOTAL_BASE","currency":"USD","amount":209.17,"breakdowns":[{"type":"Wed, 11/5","currency":"USD","amount":209.17}]},{"type":"Taxes & Fees","currency":"USD","amount":24.77}],"penalties":[{"type":"Cancellation penalty","currency":"USD","amount":233.94}]},"approval_triggered":false,"payment_method":"CREDIT_CARD","credit_card":{"last4_digits":"4448","first6_digits":"444444"},"product_type":"HOTEL","gds_reference":"7331635082143","booking_reference":"21876679960","custom_data_fields":[{"label":"Department code","value":"5555522 - Sales Team"},{"label":"Approved Travel Request ID","value":"test cvalue"}],"rate_type":{"name":"EXPEDIA","code":"EXPEDIA"},"rules_and_regulations":{"details":["<b>Cancellation and Changes</b>","<p><ul>","<li><span style='color:#CE1745;font-weight: 500'>This reservation is non-refundable and cannot be modified.</span></li>","</ul></p>"]},"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-11-03T00:00:00.000Z","cancellation_date_time":"2025-11-03T21:26:54.729Z","receipt_provision_available":"true","receipt_info":{"id":"133582","document_type":"RECEIPT","status":"AVAILABLE","version":1,"receipt_number":"21876679960","receipt_date":"2025-11-04T12:00:35.258+00:00","total_amount":{"currency":"USD","amount":233.94},"payments":[{"date":"2025-11-03T13:26:31.550Z","net_amount":{"currency":"USD","amount":233.94},"credit_card_info":{"last4_digits":"4448","first6_digits":"444444","card_type":"Visa"},"breakdowns":[{"type":"11/05/2025","currency":"USD","amount":209.17},{"type":"Taxes and service fees","currency":"USD","amount":24.77}]},{"date":"2025-11-03T13:26:49.883Z","net_amount":{"currency":"USD","amount":0},"credit_card_info":{"last4_digits":"4448","first6_digits":"444444","card_type":"Visa"},"breakdowns":[{"type":"Credit","currency":"USD","amount":-233.94},{"type":"Cancel penalty","currency":"USD","amount":233.94}]}],"central_bill":false,"_links":{"receipt_pdf":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3691-591/items/69091e07a314e1fa17f50214/receipts"}}},"booking_status":"CANCELLED","booking_id":"0000-3691-591","company":{"id":48548,"name":"Hotel Service Level Acceptance","organization_parent_id":48548},"check_in":"2025-11-05T16:00:00.001+01:00","check_out":"2025-11-06T11:00:00.001+01:00","location":{"type":"HOTEL","name":"Van der Valk Hotel Berlin Brandenburg","address":{"street_name":"Eschenweg 18 Dahlewitz","country_code":"DEU","city_name":"Blankenfelde-Mahlow","state_province_name":"Brandenburg Region","postal_code":"15827"}},"star_rating":"4.0","_links":{"receipt":{"href":"https://apis.egencia.com/openconnect/api/v1/bookings/0000-3691-591/items/69091e07a314e1fa17f50214/receipts"}}}},"Booking item details for product type TRAIN":{"description":"Booking item details for product type TRAIN","value":{"booking_id":"2000-2683-382","company":{"id":59835,"name":"TEST_SSO","organization_parent_id":59835},"point_of_sale":{"country_code":"FR"},"partner":{"name":"xxx"},"id":"617910511b44f75c52d464f8","traveler":{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Main cost centre","value":"TEST_MAIN_CC1"},{"label":"Numéro de mission","value":"279565"}]},"travelers":[{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","custom_data_fields":[{"label":"Main cost centre","value":"TEST_MAIN_CC1"},{"label":"Numéro de mission","value":"279565"}]}],"booker":{"id":6619886,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"EUR","amount":50.0,"cost_to_customer":50.0,"breakdowns":[]},"approval_triggered":true,"booking_date_time":"2021-09-30T12:35:20.000Z","approval_status":"PENDING","approval_deadline":"2021-10-28T20:40:00.000Z","payment_method":"ON_ACCOUNT","product_type":"TRAIN","vendor_reference":"QOIVVG","booking_reference":"QOIVVG","custom_data_fields":[{"label":"Main cost centre","value":"TEST_MAIN_CC1"},{"label":"Numéro de mission","value":"279565"}],"receipt_provision_available":"false","policy_compliance":{"is_compliant":true},"mission_number":"279565","booking_status":"BOOKED","origin_destinations":[{"segments":[{"rules_and_regulations":{"details":["Pour connaître les conditions des tarifs dans leur intégralité, veuillez contacter le transporteur"]},"status":"BOOKED","booking_class":"2ND CLASS","departure":{"location":{"type":"TRAIN_STATION","code":"FRXWG","name":"Strasbourg","address":{"country_code":"FR","city_name":"Strasbourg"}},"date_time":"2021-11-07T08:19:00.000+01:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"FRPST","name":"Paris Gare de l'Est","address":{"country_code":"FR","city_name":"Paris Gare de l'Est"}},"date_time":"2021-11-07T10:16:00.000+01:00"},"operating_carrier":{"name":"TGV INOUI","code":"TGVINOUI","number":"9588"},"traveler_segment_info":[{"ticket":{"number":"33"},"traveler_id":123}]}]},{"segments":[{"rules_and_regulations":{"details":["Pour connaître les conditions des tarifs dans leur intégralité, veuillez contacter le transporteur"]},"status":"BOOKED","booking_class":"2ND CLASS","departure":{"location":{"type":"TRAIN_STATION","code":"FRPST","name":"Paris Gare de l'Est","address":{"country_code":"FR","city_name":"Paris Gare de l'Est"}},"date_time":"2021-11-13T17:43:00.000+01:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"FRXWG","name":"Strasbourg","address":{"country_code":"FR","city_name":"Strasbourg"}},"date_time":"2021-11-13T19:41:00.000+01:00"},"operating_carrier":{"name":"TGV INOUI","code":"TGVINOUI","number":"9579"},"traveler_segment_info":[{"ticket":{"number":"33"},"traveler_id":123}]}]}],"_links":{"approve":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-2683-382/items/617910511b44f75c52d464f8/approve"},"deny":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-2683-382/items/617910511b44f75c52d464f8/deny"},"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-2683-382/items/617910511b44f75c52d464f8/cancel"}}}},"Booking item details for product type TRAIN (Cancellation)":{"description":"Booking item details for product type TRAIN (Cancellation)","value":{"id":"68f10c944b169cd84f9323f4","point_of_sale":{"country_code":"US"},"traveler":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]},"travelers":[{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","is_guest":false,"custom_data_fields":[]}],"booker":{"id":7805149,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":false},"price":{"currency":"USD","amount":0,"cost_to_customer":0,"breakdowns":[]},"approval_triggered":false,"payment_method":"CREDIT_CARD","product_type":"TRAIN","vendor_reference":"C6353A","booking_reference":"21876301431","custom_data_fields":[],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-16T00:00:00.000Z","cancellation_date_time":"2025-10-16T15:18:22.821Z","booking_status":"CANCELLED","booking_id":"0000-3673-892","company":{"id":64139,"name":"CaspianTestUSCompany","organization_parent_id":6556964},"origin_destinations":[{"segments":[{"provider":{"code":"Amtrak","name":"Amtrak"},"rules_and_regulations":{"details":["Flex","\nCancellations:&amp;nbsp;no fee, 100% returned to original form of payment.\nChanges:&amp;nbsp;no fee, difference in fare may apply.\n\n"]},"status":"CANCELLED","booking_class":"COACH SEAT","departure":{"location":{"type":"TRAIN_STATION","code":"USSAC","name":"Sacramento, CA","address":{"country_code":"US","city_name":"Sacramento, CA"}},"date_time":"2025-10-19T06:48:00.000-07:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"USLAX","name":"Los Angeles, CA","address":{"country_code":"US","city_name":"Los Angeles, CA"}},"date_time":"2025-10-19T21:11:00.000-07:00"},"operating_carrier":{"name":"Amtrak","code":"Amtrak","number":"11"},"marketing_carrier":{"name":"Amtrak","code":"Amtrak","number":"11"},"traveler_segment_info":[{"traveler_id":7805149}]},{"provider":{"code":"Amtrak","name":"Amtrak"},"rules_and_regulations":{"details":["Flex","\nCancellations:&amp;nbsp;no fee, 100% returned to original form of payment.\nChanges:&amp;nbsp;no fee, difference in fare may apply.\n\n"]},"status":"CANCELLED","booking_class":"COACH SEAT","departure":{"location":{"type":"TRAIN_STATION","code":"USLAX","name":"Los Angeles, CA","address":{"country_code":"US","city_name":"Los Angeles, CA"}},"date_time":"2025-10-19T22:00:00.000-07:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"USMRC","name":"Maricopa, AZ","address":{"country_code":"US","city_name":"Maricopa, AZ"}},"date_time":"2025-10-20T05:35:00.000-07:00"},"operating_carrier":{"name":"Amtrak","code":"Amtrak","number":"2"},"marketing_carrier":{"name":"Amtrak","code":"Amtrak","number":"2"},"traveler_segment_info":[{"traveler_id":7805149}]},{"provider":{"code":"Amtrak","name":"Amtrak"},"rules_and_regulations":{"details":["Flex","\nCancellations:&amp;nbsp;no fee, 100% returned to original form of payment.\nChanges:&amp;nbsp;no fee, difference in fare may apply.\n\n"]},"status":"CANCELLED","booking_class":"AMTRAK CONNECTION SEAT","departure":{"location":{"type":"TRAIN_STATION","code":"USMRC","name":"Maricopa, AZ","address":{"country_code":"US","city_name":"Maricopa, AZ"}},"date_time":"2025-10-20T05:45:00.000-07:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"USPXN","name":"Phoenix (North), AZ","address":{"country_code":"US","city_name":"Phoenix (North), AZ"}},"date_time":"2025-10-20T07:15:00.000-07:00"},"operating_carrier":{"name":"Amtrak","code":"Amtrak","number":"8902"},"marketing_carrier":{"name":"Amtrak","code":"Amtrak","number":"8902"},"traveler_segment_info":[{"traveler_id":7805149}]}]}]}},"Booking item details for product type TRAIN with invoice":{"description":"Booking item details for product type TRAIN with invoice","value":{"id":"690068673cfe3643146bbe0c","point_of_sale":{"country_code":"FR"},"traveler":{"id":7780308,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}]},"travelers":[{"id":7780308,"first_name":"Test","last_name":"User","email":"test.user@example.com","preferred_language":"en","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}]}],"booker":{"id":7780308,"first_name":"Test","last_name":"User","email":"test.user@example.com","is_agent":true},"price":{"currency":"EUR","amount":25.0,"cost_to_customer":25.0,"breakdowns":[]},"approval_triggered":false,"payment_method":"ON_ACCOUNT","product_type":"TRAIN","vendor_reference":"9AEX65","booking_reference":"9AEX65","custom_data_fields":[{"label":"Main cost centre","value":"CC1"}],"policy_compliance":{"is_compliant":true},"booking_date_time":"2025-10-27T00:00:00.000Z","receipt_provision_available":"true","receipt_info":{"id":"FRI9157764","status":"AVAILABLE","document_type":"INVOICE","receipt_date":"2025-10-30","total_amount":{"currency":"EUR","amount":37.0},"payments":[{"date":"2025-10-30","line_type":"PRODUCT","net_amount":{"currency":"EUR","amount":25.0},"credit_card_info":{"last4_digits":"4444","first6_digits":"555555","card_type":"MASTER_CARD"},"breakdowns":[{"type":"BASE","currency":"EUR","amount":25.0},{"type":"TAX","currency":"EUR","amount":0.0}]},{"date":"2025-10-30","line_type":"EGENCIA_FEE","net_amount":{"currency":"EUR","amount":12.0},"credit_card_info":{"last4_digits":"4444","first6_digits":"555555","card_type":"MASTER_CARD"},"breakdowns":[{"type":"BASE","currency":"EUR","amount":12.0},{"type":"TAX","currency":"EUR","amount":0.0}]}],"central_bill":false,"_links":{"receipt_pdf":{"href":"https://apis.egencia.eu/openconnect/api/v2/bookings/2000-3184-206/items/690068673cfe3643146bbe0c/receipts/FRI9157764?traveler_id=7780308"}}},"booking_status":"BOOKED","booking_id":"2000-3184-206","company":{"id":58401,"name":"Test Train Paris","organization_parent_id":6555707},"origin_destinations":[{"segments":[{"provider":{"code":"OUIGO","name":"Ouigo Grande Vitesse"},"rules_and_regulations":{"details":["EU_PASSENGER_RIGHTS_REGULATION","Offre Essentiel Adulte","All changes are applied per trip and per passenger.","Billet non annulable, non remboursable. Échangeable ou modifiable en ligne jusqu'à 30 min avant le départ de votre train, sous conditions avec frais d'échange de maximum 19€ par trajet et par voyageur (les frais d’échange ne s’appliquent pas avec l’option OuigoFlex).","Boarding is open 30 minutes before the train's departure, and access to the train is denied 5 minutes before departure.","In addition to these fees, there may be a price difference between your old and new tickets. If this difference is negative, it will not be reimbursed.","L'embarquement est ouvert 30 minutes avant le départ du train et l'accès au train est refusé 5 minutes avant le départ.","Le billet est disponible à partir de 4 jours avant le départ du train.","Non-cancellable, non-refundable ticket. You can exchange or modify your ticket online up to 30 minutes before the departure of your train, subject to conditions and an exchange fee of no more than €19 per journey and per passenger (exchange fees do not apply to the OuigoFlex option).","Proof of ID must be shown.","Présentation d'un justificatif d'identité obligatoire.","S'ajoute à ces frais, l'éventuelle différence tarifaire entre l'ancien et le nouveau billet. Si la différence tarifaire est négative, celle-ci n’est pas remboursée.","The ticket is available starting from 4 days before the train's departure.","Toute modification s'applique par trajet et à l'ensemble des voyageurs."]},"status":"BOOKED","booking_class":"OUIGO ESSENTIEL","departure":{"location":{"type":"TRAIN_STATION","code":"FRXYD","name":"Lyon Part Dieu","address":{"country_code":"FR","city_name":"Lyon Part Dieu"}},"date_time":"2025-12-30T08:38:00.000+01:00"},"arrival":{"location":{"type":"TRAIN_STATION","code":"FRLYS","name":"Paris Gare De Lyon","address":{"country_code":"FR","city_name":"Paris Gare De Lyon"}},"date_time":"2025-12-30T10:34:00.000+01:00"},"operating_carrier":{"name":"Ouigo Grande Vitesse","code":"OUIGO","number":"7802"},"marketing_carrier":{"name":"Ouigo Grande Vitesse","code":"OUIGO","number":"7802"},"traveler_segment_info":[{"traveler_id":7780308}]}]}],"_links":{"cancel":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-3184-206/items/690068673cfe3643146bbe0c/cancel"},"receipt":{"href":"https://apis.egencia.eu/openconnect/api/v1/bookings/2000-3184-206/items/690068673cfe3643146bbe0c/receipts"}}}}},"schema":{"oneOf":[{"$ref":"#/components/schemas/Car"},{"$ref":"#/components/schemas/Flight"},{"$ref":"#/components/schemas/Hotel"},{"$ref":"#/components/schemas/Fee"},{"$ref":"#/components/schemas/Train"},{"$ref":"#/components/schemas/GlobalGround"}]}}},"description":"<b>OK</b>."},"400":{"description":"<b>Bad Request</b> : Invalid input or request"},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired."},"403":{"description":"<b>Forbidden</b> : User is not authorized for the operation."},"404":{"description":"<b>Not Found</b> : You are trying to access an invalid or non existent resource."},"422":{"description":"<b>Invalid input</b> : invalid or missing required input."},"500":{"description":"<b>Internal Server Error</b> : unable to process request"}},"security":[{"OAuth2":[]}],"summary":"Retrieve booking item details for a particular item based on booking item Id","tags":["bookings v1"]}},"/v1/bookings/{bookingId}/items/{itemId}/cancel":{"post":{"description":"<p>Creates a cancel request to cancel a particular booking item present in the booking.</p>\n<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n        <tr><td colspan=\"3\"><strong>metadata</strong></td></tr>\n        <tr>\n            <td>bookingId</td>\n            <td>String</td>\n            <td>Booking id corresponding to each booked product</td>\n        </tr>\n        <tr>\n            <td>itemId</td>\n          
[...]
