openapi: 3.2.0
info:
  title: OpenAPI definition bookings v2 API
  version: v0
servers:
- url: https://apis.egencia.com/openconnect/api
  description: Generated server url
tags:
- name: bookings v2
paths:
  /v2/bookings/{bookingId}/items/{itemId}/receipts:
    get:
      description: 'Fetch all receipts for a booking item as a zip file


        Request Parameters


        Attribute


        Type


        Description


        bookingId

        String

        Id corresponding to the trips summary for which you want to fetch all booking item receipts


        itemId

        String

        Id corresponding to the booking item for which we want to fetch receipts


        Response Parameters in case of successful response


        In case of successful response, receipts zip file will be sent to the partner with 200 OK status


        Response Parameters in case of failure response


        Attribute


        Type


        Description


        code

        String

        Error code in case of failure


        message

        String

        Error message in case of failure


        Below response with 404 Not Found Error HttpStatus


        {

        "error": {

        "code": "EGE-ER-OS-4010",

        "message": "Receipt is unavailable for this booking item."

        }

        }'
      operationId: getReceiptsAsZip
      parameters:
      - description: Booking id
        in: path
        name: bookingId
        required: true
        schema:
          type: string
      - description: Trip item id
        in: path
        name: itemId
        required: true
        schema:
          type: string
      - description: Locale
        in: query
        name: locale
        required: false
        schema:
          type: string
      responses:
        '200':
          description: <b>OK</b>.
        '400':
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '404':
          description: '<b>Not Found</b> : You are trying to access an invalid or non existent resource.'
        '422':
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Fetch all receipts for a booking item as a zip file
      tags:
      - bookings v2
  /v2/bookings/{bookingId}/items/{itemId}/receipts/{receiptId}:
    get:
      description: 'Fetch receipt for a booking item by receipt id


        Request Parameters


        Attribute


        Type


        Description


        bookingId

        String

        Id corresponding to the trips summary for which you want to fetch each booking item receipts


        itemId

        String

        Id corresponding to the booking item for which we want to fetch receipt


        receiptId

        String

        Id corresponding to the receipt we want to fetch


        Response Parameters in case of successful response


        In case of successful response, receipt pdf will be sent to the partner with 200 OK status


        Response Parameters in case of failure response


        Attribute


        Type


        Description


        code

        String

        Error code in case of failure


        message

        String

        Error message in case of failure


        Below response with 404 Not Found Error HttpStatus


        {

        "error": {

        "code": "EGE-ER-OS-4010",

        "message": "Receipt is unavailable for this booking item."

        }

        }'
      operationId: getReceipt
      parameters:
      - description: Booking id
        in: path
        name: bookingId
        required: true
        schema:
          type: string
      - description: Trip item id
        in: path
        name: itemId
        required: true
        schema:
          type: string
      - description: Receipt id
        in: path
        name: receiptId
        required: true
        schema:
          type: string
      - description: Locale
        in: query
        name: locale
        required: false
        schema:
          type: string
      - description: Id of the traveler to whom invoice/receipt is issued
        in: query
        name: traveler_id
        required: false
        schema:
          type: string
      responses:
        '200':
          description: <b>OK</b>.
        '400':
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          description: '<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired.'
        '403':
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '404':
          description: '<b>Not Found</b> : You are trying to access an invalid or non existent resource.'
        '422':
          description: '<b>Invalid input</b> : invalid or missing required input.'
        '500':
          description: '<b>Internal Server Error</b> : unable to process request'
      security:
      - OAuth2: []
      summary: Fetch receipt for a booking item by receipt id
      tags:
      - bookings v2
components:
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          tokenUrl: https://apis.egencia.com/auth/v1/token
      type: oauth2
