openapi: 3.2.0
info:
  title: OpenAPI definition SCIM User Sync V1 API
  version: v0
  description: SCIM 2.0 compliant user sync APIs
servers:
- url: https://apis.egencia.com/openconnect/api
  description: Generated server url
tags:
- description: SCIM 2.0 compliant user sync APIs
  name: SCIM User Sync V1
paths:
  /scim/v1/users:
    post:
      operationId: createUser_2
      requestBody:
        content:
          application/scim+json:
            examples:
              Request with all the supported attributes:
                description: Request with all the supported attributes
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  externalId: externalSystemIdentifier
                  userName: test@example.com
                  displayName: Test User
                  title: Mr
                  userType: NORMAL
                  name:
                    familyName: User
                    formatted: ''
                    givenName: Test
                    middleName: ''
                  preferredLanguage: en
                  active: true
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    userAuthenticationMode: SSO
                    singleSignOnId: test@example.com
                    customDataFields:
                    - name: Primary cost center
                      value: Test cost center
                    dateOfBirth: '1988-01-01'
                    documents:
                    - expirationDate: '2030-10-10'
                      issueCountry: USA
                      issueDate: '2020-10-10'
                      issueLocation: city
                      type: PAS
                      value: ABCDE1234
                    employeeNumber: employeeNumberValue
                    loyaltyPrograms:
                    - issuingSupplierCode: T4
                      lob: HOTEL
                      name: S-Card
                      type: LC
                      validFrom: '2020-10-10'
                      validTo: '2025-10-10'
                      value: S12345
                    organization: egenciaCompanyId
                    preferences:
                    - lob: AIR
                      mealType: '178'
                      preferredDepartureAirport: ''
                      seatType: Window
                      specialRequest: Any special request
                    - lob: RAIL
                      seatDirection: Forward
                      seatRoom: Lower
                      seatSolo: true
                      seatType: Window
                    - lob: HOTEL
                      smoking: Smoking
                      specialRequest: Any special request
                    - lob: CAR
                      specialRequest: Any special request
                    promoMail: true
                    serviceLevelIds:
                    - '12345'
                    approvers:
                      level1Approvers:
                      - '45678'
                      delegateApprovers:
                      - testapprover
                    arrangers:
                    - id: '56789'
                    settings:
                      notifications:
                        reservationEmail: validReservationEmailValue
                  emails:
                  - primary: true
                    type: work
                    value: test@example.com
                  phoneNumbers:
                  - primary: true
                    type: work
                    value: +44-1234512345
                  addresses:
                  - country: GB
                    formatted: address line 1, cityname, state, GB, XXXXXX
                    locality: city name
                    postalCode: XXXXX
                    region: region or state
                    streetAddress: address line 1
                    type: work
                  groups:
                  - display: displayName
                    value: travelerGroup
                  roles:
                  - display: displayName
                    primary: true
                    value: userRole
              Request with basic attributes:
                description: Request with basic attributes
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
              Request with email settings:
                description: Request with email settings
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    settings:
                      notifications:
                        reservationEmail: validReservationEmailValue
              Request with phone number:
                description: Request with phone number
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  phoneNumbers:
                  - primary: true
                    type: MOBILE
                    value: '+441234512345'
                  - type: WORK
                    value: '+441234512346'
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
              Request with preferences:
                description: Request with preferences
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    preferences:
                    - lob: AIR
                      mealType: '178'
                      preferredDepartureAirport: ''
                      seatType: '1'
                      specialRequest: Any special request
                    - lob: RAIL
                      seatDirection: Forward
                      seatRoom: Lower
                      seatSolo: true
                      seatType: '1'
                    - lob: HOTEL
                      smoking: Smoking
                      specialRequest: Any special request
                    - lob: CAR
                      specialRequest: Any special request
              Request with preferences and documents:
                description: Request with preferences and documents
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    preferences:
                    - lob: AIR
                      mealType: '178'
                      preferredDepartureAirport: ''
                      seatType: Window
                      specialRequest: Any special request
                    - lob: RAIL
                      seatDirection: Forward
                      seatRoom: Lower
                      seatSolo: true
                      seatType: Window
                    - lob: HOTEL
                      smoking: Smoking
                      specialRequest: Any special request
                    - lob: CAR
                      specialRequest: Any special request
                    documents:
                    - expirationDate: '2030-10-10'
                      issueCountry: USA
                      issueDate: '2020-10-10'
                      issueLocation: city
                      type: PAS
                      value: ABCDE1234
              Request with preferences and loyalty program:
                description: Request with preferences and loyalty program
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    preferences:
                    - lob: AIR
                      mealType: '178'
                      preferredDepartureAirport: ''
                      seatType: '1'
                      specialRequest: Any special request
                    - lob: RAIL
                      seatDirection: Forward
                      seatRoom: Lower
                      seatSolo: true
                      seatType: Window
                    - lob: HOTEL
                      smoking: Smoking
                      specialRequest: Any special request
                    - lob: CAR
                      specialRequest: Any special request
                    loyaltyPrograms:
                    - issuingSupplierCode: T4
                      lob: HOTEL
                      name: S-Card
                      type: LC
                      validFrom: '2020-10-10'
                      validTo: '2025-10-10'
                      value: S12345
              Request with roles and approvers:
                description: Request with roles and approvers
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  roles:
                  - display: Self Booker
                    value: SELF_BOOKER
                  - display: Arranger
                    value: ARRANGER
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    approvers:
                      level1Approvers:
                      - approverone@egencia.com
                      level2Approvers:
                      - approvertwo@egencia.com
            schema:
              $ref: '#/components/schemas/UserSchema'
        description: User Schema to be created
        required: true
      responses:
        '200':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:schemas:core:2.0:User
                - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                id: egenciaUniqueIdentifier
                externalId: externalSystemIdentifier
                userName: test@example.com
                displayName: Test User
                title: Mr
                userType: NORMAL
                name:
                  familyName: User
                  givenName: Test
                  middleName: ''
                  formatted: ''
                preferredLanguage: en
                active: true
                urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                  organization: egenciaCompanyId
                  employeeNumber: employeeNumberValue
                  dateOfBirth: '1988-01-01'
                  customDataFields:
                  - name: Primary cost center
                    value: Test cost center
                  documents:
                  - expirationDate: '2030-10-10'
                    issueCountry: USA
                    issueDate: '2020-10-10'
                    issueLocation: city
                    type: PAS
                    value: ABCDE1234
                  loyaltyPrograms:
                  - issuingSupplierCode: T4
                    lob: HOTEL
                    name: S-Card
                    type: LC
                    validFrom: '2020-10-10'
                    validTo: '2025-10-10'
                    value: S12345
                  preferences:
                  - lob: AIR
                    mealType: '178'
                    preferredDepartureAirport: ''
                    seatType: Window
                    specialRequest: Any special request
                  - lob: RAIL
                    seatDirection: Forward
                    seatRoom: Lower
                    seatSolo: true
                    seatType: Window
                  - lob: HOTEL
                    smoking: Smoking
                    specialRequest: Any special request
                  - lob: CAR
                    specialRequest: Any special request
                  settings:
                    notifications:
                      reservationEmail: validReservationEmailValue
                  serviceLevelIds:
                  - '12345'
                  approvers:
                    level1Approvers:
                    - '45678'
                    delegateApprovers:
                    - testapprover
                  arrangers:
                  - id: '56789'
                  promoMail: true
                emails:
                - type: work
                  value: test@example.com
                  primary: true
                phoneNumbers:
                - type: work
                  value: +44-1234512345
                  primary: true
                addresses:
                - type: work
                  streetAddress: address line 1
                  locality: city name
                  region: region or state
                  country: GB
                  postalCode: XXXXX
                  formatted: address line 1, cityname, state, GB, XXXXXX
                groups:
                - value: travelerGroup
                  display: displayName
                roles:
                - value: userRole
                  display: displayName
                  primary: true
                meta:
                  created: '2017-10-10T00:00:00.000Z'
                  last_modified: '2017-10-10T00:00:00.000Z'
                  location: /scim/v1/users/123
          description: <b>Created</b>.
        '400':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid parameters
                status: '400'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              example:
                error:
                  code: EGE-ER-4001
                  message: Unauthorised access, you do not have sufficient permissions to perform this action.
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Unauthorised access, you do not have sufficient permissions to perform this action. Contact your admin.
                status: '403'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid or missing parameters encountered, we are unable to process your request.
                status: '422'
                data:
                - attribute: userName
                  message: userName needs to be specified and cannot be empty or null
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Your request could not be completed due to some error. Please try again later.
                status: '500'
                data:
                - attribute: urn:ietf:params:scim:schemas:extension:enterprise:2.0:User.loyaltyPrograms
                  message: Error occurred while processing loyalty program associations.
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: We are unable to process your request right now. Please try again later.
                status: '503'
                data: []
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Create a new user in the system with the requested information
      tags:
      - SCIM User Sync V1
  /scim/v1/users/search:
    post:
      operationId: getUserByCondition
      requestBody:
        content:
          application/scim+json:
            examples:
              Search Users By Email:
                description: Replace {email} with valid email value and {organizationId} with valid organization Id.
                value:
                  filter: emails[value eq "{email}"] and urn:ietf:params:scim:schemas:extension:enterprise:2.0:User[organization eq {organizationId}]
              Search Users By Name:
                description: Replace {givenName} with valid given name value, {familyName} with valid family name value and {organizationId} with valid organization Id.
                value:
                  filter: name[givenName eq "{givenName}" and familyName eq "{familyName}"] and urn:ietf:params:scim:schemas:extension:enterprise:2.0:User[organization eq {organizationId}]
              Search Users By SSO:
                description: Replace {singleSignOnId} with valid singleSignOnId value and {organizationId} with valid organization Id.
                value:
                  filter: singleSignOnId eq "{singleSignOnId}" and urn:ietf:params:scim:schemas:extension:enterprise:2.0:User[organization eq {organizationId}]
              Search Users By Username:
                description: Replace {userName} with valid userName value and {organizationId} with valid organization Id.
                value:
                  filter: userName eq "{userName}" and urn:ietf:params:scim:schemas:extension:enterprise:2.0:User[organization eq {organizationId}]
            schema:
              $ref: '#/components/schemas/SearchRequest'
        description: User Schema to be updated
        required: true
      responses:
        '200':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:schemas:core:2.0:User
                - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                externalId: externalSystemIdentifier
                userName: test@example.com
                displayName: Test User
                title: Mr
                userType: NORMAL
                name:
                  familyName: User
                  formatted: ''
                  givenName: Test
                  middleName: ''
                preferredLanguage: en
                active: true
                urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                  userAuthenticationMode: SSO
                  customDataFields:
                  - name: Primary cost center
                    value: Test cost center
                  dateOfBirth: '1988-01-01'
                  documents:
                  - expirationDate: '2030-10-10'
                    issueCountry: USA
                    issueDate: '2020-10-10'
                    issueLocation: city
                    type: PAS
                    value: ABCDE1234
                  employeeNumber: employeeNumberValue
                  loyaltyPrograms:
                  - issuingSupplierCode: T4
                    lob: HOTEL
                    name: S-Card
                    type: LC
                    validFrom: '2020-10-10'
                    validTo: '2025-10-10'
                    value: S12345
                  organization: egenciaCompanyId
                  preferences:
                  - lob: AIR
                    mealType: '178'
                    preferredDepartureAirport: ''
                    seatType: '1'
                    specialRequest: Any special request
                  - lob: RAIL
                    seatDirection: Forward
                    seatRoom: Lower
                    seatSolo: true
                    seatType: '1'
                  - lob: HOTEL
                    smoking: Smoking
                    specialRequest: Any special request
                  - lob: CAR
                    specialRequest: Any special request
                  settings:
                    notifications:
                      reservationEmail: validReservationEmailValue
                  promoMail: true
                  serviceLevelIds:
                  - '12345'
                  approvers:
                    level1Approvers:
                    - '45678'
                    delegateApprovers:
                    - testapprover
                  arrangers:
                  - id: '56789'
                emails:
                - primary: true
                  type: WORK
                  value: test@example.com
                phoneNumbers:
                - primary: true
                  type: WORK
                  value: +44-1234512345
                addresses:
                - country: GB
                  formatted: address line 1, cityname, state, GB, XXXXXX
                  locality: city name
                  postalCode: XXXXX
                  region: region or state
                  streetAddress: address line 1
                  type: WORK
                groups:
                - display: displayName
                  value: travelerGroup
                roles:
                - display: Self Booker
                  primary: true
                  value: Self Booker
          description: <b>Search api success</b>.
        '400':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid parameters
                status: '400'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              example:
                error:
                  code: EGE-ER-4001
                  message: Unauthorised access, you do not have sufficient permissions to perform this action.
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Unauthorised access, you do not have sufficient permissions to perform this action. Contact your admin.
                status: '403'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid or missing parameters encountered, we are unable to process your request.
                status: '422'
                data:
                - attribute: userName
                  message: userName needs to be specified and cannot be empty or null
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Your request could not be completed due to some error. Please try again later.
                status: '500'
                data:
                - attribute: urn:ietf:params:scim:schemas:extension:enterprise:2.0:User.loyaltyPrograms
                  message: Error occurred while processing loyalty program associations.
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: We are unable to process your request right now. Please try again later.
                status: '503'
                data: []
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Return list of users based on the filter condition
      tags:
      - SCIM User Sync V1
  /scim/v1/users/{userId}:
    delete:
      description: 'Delete the user with the given user Id in the path


        Examples:


        Replace {baseUrl} with the actual value of Egencia APIs host. Please refer Base Urls section under API Overview page of Egencia Developer Center.


        Deleting a user with user Id : test_user_id


        DELETE {baseUrl}/openconnect/api/scim/v1/users/test_user_id

        Response:

        -> 204 No Content'
      operationId: deleteUserUser_2
      parameters:
      - description: User Id of the user who is to be deleted
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: <b>No Content</b>.
        '401':
          content:
            '*/*':
              example:
                error:
                  code: EGE-ER-4001
                  message: Unauthorised access, you do not have sufficient permissions to perform this action.
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            '*/*':
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Unauthorised access, you do not have sufficient permissions to perform this action. Contact your admin.
                status: '403'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '404':
          content:
            '*/*':
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User not found, you are trying to access an invalid or non existent user.
                status: '404'
                data:
                - attribute: id
                  message: Requested user identifier is invalid.
          description: '<b>Not Found</b> : Resource Not Found.'
        '422':
          content:
            '*/*':
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid or missing parameters encountered, we are unable to process your request.
                status: '422'
                data:
                - attribute: userName
                  message: userName needs to be specified and cannot be empty or null
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            '*/*':
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Your request could not be completed due to some error. Please try again later.
                status: '500'
                data:
                - attribute: urn:ietf:params:scim:schemas:extension:enterprise:2.0:User.loyaltyPrograms
                  message: Error occurred while processing loyalty program associations.
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            '*/*':
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: We are unable to process your request right now. Please try again later.
                status: '503'
                data: []
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Delete the user in the system with the given user Id
      tags:
      - SCIM User Sync V1
    get:
      operationId: getUser_2
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:schemas:core:2.0:User
                - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                externalId: externalSystemIdentifier
                userName: test@example.com
                displayName: Test User
                title: Mr
                userType: NORMAL
                name:
                  familyName: User
                  formatted: ''
                  givenName: Test
                  middleName: ''
                preferredLanguage: en
                active: true
                urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                  userAuthenticationMode: SSO
                  customDataFields:
                  - name: Primary cost center
                    value: Test cost center
                  dateOfBirth: '1988-01-01'
                  documents:
                  - expirationDate: '2030-10-10'
                    issueCountry: USA
                    issueDate: '2020-10-10'
                    issueLocation: city
                    type: PAS
                    value: ABCDE1234
                  employeeNumber: employeeNumberValue
                  loyaltyPrograms:
                  - issuingSupplierCode: T4
                    lob: HOTEL
                    name: S-Card
                    type: LC
                    validFrom: '2020-10-10'
                    validTo: '2025-10-10'
                    value: S12345
                  organization: egenciaCompanyId
                  preferences:
                  - lob: AIR
                    mealType: '178'
                    preferredDepartureAirport: ''
                    seatType: '1'
                    specialRequest: Any special request
                  - lob: RAIL
                    seatDirection: Forward
                    seatRoom: Lower
                    seatSolo: true
                    seatType: '1'
                  - lob: HOTEL
                    smoking: Smoking
                    specialRequest: Any special request
                  - lob: CAR
                    specialRequest: Any special request
                  settings:
                    notifications:
                      reservationEmail: validReservationEmailValue
                  promoMail: true
                  serviceLevelIds:
                  - '12345'
                  approvers:
                    level1Approvers:
                    - '45678'
                    delegateApprovers:
                    - testapprover
                  arrangers:
                  - id: '56789'
                emails:
                - primary: true
                  type: WORK
                  value: test@example.com
                phoneNumbers:
                - primary: true
                  type: WORK
                  value: +44-1234512345
                addresses:
                - country: GB
                  formatted: address line 1, cityname, state, GB, XXXXXX
                  locality: city name
                  postalCode: XXXXX
                  region: region or state
                  streetAddress: address line 1
                  type: WORK
                groups:
                - display: displayName
                  value: travelerGroup
                roles:
                - display: Self Booker
                  primary: true
                  value: Self Booker
          description: <b>Found</b>.
        '400':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid parameters
                status: '400'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              example:
                error:
                  code: EGE-ER-4001
                  message: Unauthorised access, you do not have sufficient permissions to perform this action.
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Unauthorised access, you do not have sufficient permissions to perform this action. Contact your admin.
                status: '403'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '404':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User not found, you are trying to access an invalid or non existent user.
                status: '404'
                data:
                - attribute: id
                  message: Requested user identifier is invalid.
          description: '<b>Not Found</b> : Resource Not Found.'
        '422':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid or missing parameters encountered, we are unable to process your request.
                status: '422'
                data:
                - attribute: userName
                  message: userName needs to be specified and cannot be empty or null
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Your request could not be completed due to some error. Please try again later.
                status: '500'
                data:
                - attribute: urn:ietf:params:scim:schemas:extension:enterprise:2.0:User.loyaltyPrograms
                  message: Error occurred while processing loyalty program associations.
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: We are unable to process your request right now. Please try again later.
                status: '503'
                data: []
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Retrieves the user details for a requested user identifier
      tags:
      - SCIM User Sync V1
    patch:
      operationId: patchUser_2
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            examples:
              Request to add a new arranger to the existing arrangers:
                description: Request to add a new arranger to the existing arrangers
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: add
                    path: urn:ietf:params:scim:schemas:extension:egencia:2.0:User:arrangers
                    value:
                    - id: id
                      userName: api.sample@egencia.com
              'Request to add a new custom data field to the existing custom data field list:':
                description: 'Request to add a new custom data field to the existing custom data field list:'
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: add
                    path: urn:ietf:params:scim:schemas:extension:egencia:2.0:User:customDataFields
                    value:
                    - name: CDF label
                      value: CDF value
              Request to add a new level 1 approver to the existing level1Approvers list:
                description: Request to add a new level 1 approver to the existing level1Approvers list
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: add
                    path: urn:ietf:params:scim:schemas:extension:egencia:2.0:User:approvers.level1Approvers
                    value:
                    - userName: api.sample@egencia.com
              Request to add a new level 1 as well as level 2 approver to the existing level1Approvers and level2Approvers list:
                description: Request to add a new level 1 as well as level 2 approver to the existing level1Approvers and level2Approvers list
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: add
                    value:
                      urn:ietf:params:scim:schemas:extension:egencia:2.0:User:
                        approvers:
                          level1Approvers:
                          - id: id
                          level2Approvers:
                          - userName: api.sample@egencia.com
              Request to add a new role to the existing roles:
                description: Request to add a new role to the existing roles
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: add
                    path: roles
                    value:
                    - ARRANGER
              Request to add/update first name, last name and date of birth:
                description: Request to add/update first name, last name and date of birth
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: add
                    value:
                      name:
                        givenName: First Name
                        familyName: Last Name
                      urn:ietf:params:scim:schemas:extension:egencia:2.0:User:
                        dateOfBirth: '1988-01-26'
              Request to add/update status of user:
                description: Request to add/update status of user
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: replace
                    value:
                      active: false
              Request to replace traveler group with a new one.:
                description: Request to replace traveler group with a new one.
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: replace
                    path: groups
                    value:
                    - value: General
              Request to update WORK type email, username, ssoId, authentication mode:
                description: Request to update WORK type email, username, ssoId, authentication mode
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: replace
                    path: emails[type eq "WORK"].value
                    value: api.sample@egencia.com
                  - op: add
                    value:
                      userName: api.sample@egencia.com
                      urn:ietf:params:scim:schemas:extension:egencia:2.0:User:
                        singleSignOnId: api.sample@egencia.com
                        userAuthenticationMode: SSO
              Request with multiple patch operations:
                description: Request with multiple patch operations
                value:
                  schemas:
                  - urn:ietf:params:scim:api:messages:2.0:PatchOp
                  Operations:
                  - op: add
                    path: urn:ietf:params:scim:schemas:extension:egencia:2.0:User:customDataFields
                    value:
                    - name: ff test
                      value: ff test value
                    - name: Test CDF
                      value: Test CDF
                  - op: add
                    path: urn:ietf:params:scim:schemas:extension:egencia:2.0:User:companyId
                    value: '23'
                  - op: add
                    value:
                      userName: abcd
                      name:
                        givenName: Abcd
                      urn:ietf:params:scim:schemas:extension:egencia:2.0:User:
                        companyId: '23'
                  - op: replace
                    path: addresses[type eq "HOME"].streetAddress
                    value: 1010 Broadway Ave
                  - op: replace
                    path: addresses[type eq "HOME"]
                    value:
                      streetAddress: 911 Universal City Plaza
                      locality: Hollywood
                      region: CA
                      postalCode: '91608'
                      country: USA
                      formatted: '911 Universal City Plaza

                        Hollywood, CA 91608 US'
                  - op: replace
                    value:
                      emails:
                      - value: test@example.com
                        type: WORK
                        primary: true
                  - op: replace
                    value:
                      phoneNumbers:
                      - value: +91-9999999999
                        type: HOME
                        primary: true
                  - op: add
                    path: urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:employeeNumber
                    value: '11111'
            schema:
              $ref: '#/components/schemas/ScimPatchSchema'
        description: SCIM compliant patch operation schema
        required: true
      responses:
        '200':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:schemas:core:2.0:User
                - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                externalId: externalSystemIdentifier
                userName: test@example.com
                displayName: Test User
                title: Mr
                userType: NORMAL
                name:
                  familyName: User
                  formatted: ''
                  givenName: Test
                  middleName: ''
                preferredLanguage: en
                active: true
                urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                  userAuthenticationMode: SSO
                  customDataFields:
                  - name: Primary cost center
                    value: Test cost center
                  dateOfBirth: '1988-01-01'
                  documents:
                  - expirationDate: '2030-10-10'
                    issueCountry: USA
                    issueDate: '2020-10-10'
                    issueLocation: city
                    type: PAS
                    value: ABCDE1234
                  employeeNumber: employeeNumberValue
                  loyaltyPrograms:
                  - issuingSupplierCode: T4
                    lob: HOTEL
                    name: S-Card
                    type: LC
                    validFrom: '2020-10-10'
                    validTo: '2025-10-10'
                    value: S12345
                  organization: egenciaCompanyId
                  preferences:
                  - lob: AIR
                    mealType: '178'
                    preferredDepartureAirport: ''
                    seatType: '1'
                    specialRequest: Any special request
                  - lob: RAIL
                    seatDirection: Forward
                    seatRoom: Lower
                    seatSolo: true
                    seatType: '1'
                  - lob: HOTEL
                    smoking: Smoking
                    specialRequest: Any special request
                  - lob: CAR
                    specialRequest: Any special request
                  settings:
                    notifications:
                      reservationEmail: validReservationEmailValue
                  promoMail: true
                  serviceLevelIds:
                  - '12345'
                  approvers:
                    level1Approvers:
                    - '45678'
                    delegateApprovers:
                    - testapprover
                  arrangers:
                  - id: '56789'
                emails:
                - primary: true
                  type: WORK
                  value: test@example.com
                phoneNumbers:
                - primary: true
                  type: WORK
                  value: +44-1234512345
                addresses:
                - country: GB
                  formatted: address line 1, cityname, state, GB, XXXXXX
                  locality: city name
                  postalCode: XXXXX
                  region: region or state
                  streetAddress: address line 1
                  type: WORK
                groups:
                - display: displayName
                  value: travelerGroup
                roles:
                - display: Self Booker
                  primary: true
                  value: Self Booker
          description: <b>Patch api success</b>
        '401':
          content:
            application/scim+json:
              example:
                error:
                  code: EGE-ER-4001
                  message: Unauthorised access, you do not have sufficient permissions to perform this action.
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Unauthorised access, you do not have sufficient permissions to perform this action. Contact your admin.
                status: '403'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '404':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User not found, you are trying to access an invalid or non existent user.
                status: '404'
                data:
                - attribute: id
                  message: Requested user identifier is invalid.
          description: '<b>Not Found</b> : Resource Not Found.'
        '422':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid or missing parameters encountered, we are unable to process your request.
                status: '422'
                data:
                - attribute: userName
                  message: userName needs to be specified and cannot be empty or null
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Your request could not be completed due to some error. Please try again later.
                status: '500'
                data:
                - attribute: urn:ietf:params:scim:schemas:extension:enterprise:2.0:User.loyaltyPrograms
                  message: Error occurred while processing loyalty program associations.
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: We are unable to process your request right now. Please try again later.
                status: '503'
                data: []
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Perform patch operation on the user with the given user Id
      tags:
      - SCIM User Sync V1
    put:
      operationId: updateUser_2
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            examples:
              Request with all the supported attributes:
                description: Request with all the supported attributes
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  externalId: externalSystemIdentifier
                  userName: test@example.com
                  displayName: Test User
                  title: Mr
                  userType: NORMAL
                  name:
                    familyName: User
                    formatted: ''
                    givenName: Test
                    middleName: ''
                  preferredLanguage: en
                  active: true
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    userAuthenticationMode: SSO
                    singleSignOnId: test@example.com
                    customDataFields:
                    - name: Primary cost center
                      value: Test cost center
                    dateOfBirth: '1988-01-01'
                    documents:
                    - expirationDate: '2030-10-10'
                      issueCountry: USA
                      issueDate: '2020-10-10'
                      issueLocation: city
                      type: PAS
                      value: ABCDE1234
                    employeeNumber: employeeNumberValue
                    loyaltyPrograms:
                    - issuingSupplierCode: T4
                      lob: HOTEL
                      name: S-Card
                      type: LC
                      validFrom: '2020-10-10'
                      validTo: '2025-10-10'
                      value: S12345
                    organization: egenciaCompanyId
                    preferences:
                    - lob: AIR
                      mealType: '178'
                      preferredDepartureAirport: ''
                      seatType: Window
                      specialRequest: Any special request
                    - lob: RAIL
                      seatDirection: Forward
                      seatRoom: Lower
                      seatSolo: true
                      seatType: Window
                    - lob: HOTEL
                      smoking: Smoking
                      specialRequest: Any special request
                    - lob: CAR
                      specialRequest: Any special request
                    promoMail: true
                    serviceLevelIds:
                    - '12345'
                    approvers:
                      level1Approvers:
                      - '45678'
                      delegateApprovers:
                      - testapprover
                    arrangers:
                    - id: '56789'
                    settings:
                      notifications:
                        reservationEmail: validReservationEmailValue
                  emails:
                  - primary: true
                    type: work
                    value: test@example.com
                  phoneNumbers:
                  - primary: true
                    type: work
                    value: +44-1234512345
                  addresses:
                  - country: GB
                    formatted: address line 1, cityname, state, GB, XXXXXX
                    locality: city name
                    postalCode: XXXXX
                    region: region or state
                    streetAddress: address line 1
                    type: work
                  groups:
                  - display: displayName
                    value: travelerGroup
                  roles:
                  - display: displayName
                    primary: true
                    value: userRole
              Request with basic attributes:
                description: Request with basic attributes
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
              Request with email settings:
                description: Request with email settings
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    settings:
                      notifications:
                        reservationEmail: validReservationEmailValue
              Request with phone number:
                description: Request with phone number
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  phoneNumbers:
                  - primary: true
                    type: MOBILE
                    value: '+441234512345'
                  - type: WORK
                    value: '+441234512346'
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
              Request with preferences:
                description: Request with preferences
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    preferences:
                    - lob: AIR
                      mealType: '178'
                      preferredDepartureAirport: ''
                      seatType: '1'
                      specialRequest: Any special request
                    - lob: RAIL
                      seatDirection: Forward
                      seatRoom: Lower
                      seatSolo: true
                      seatType: '1'
                    - lob: HOTEL
                      smoking: Smoking
                      specialRequest: Any special request
                    - lob: CAR
                      specialRequest: Any special request
              Request with preferences and documents:
                description: Request with preferences and documents
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    preferences:
                    - lob: AIR
                      mealType: '178'
                      preferredDepartureAirport: ''
                      seatType: Window
                      specialRequest: Any special request
                    - lob: RAIL
                      seatDirection: Forward
                      seatRoom: Lower
                      seatSolo: true
                      seatType: Window
                    - lob: HOTEL
                      smoking: Smoking
                      specialRequest: Any special request
                    - lob: CAR
                      specialRequest: Any special request
                    documents:
                    - expirationDate: '2030-10-10'
                      issueCountry: USA
                      issueDate: '2020-10-10'
                      issueLocation: city
                      type: PAS
                      value: ABCDE1234
              Request with preferences and loyalty program:
                description: Request with preferences and loyalty program
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    preferences:
                    - lob: AIR
                      mealType: '178'
                      preferredDepartureAirport: ''
                      seatType: '1'
                      specialRequest: Any special request
                    - lob: RAIL
                      seatDirection: Forward
                      seatRoom: Lower
                      seatSolo: true
                      seatType: Window
                    - lob: HOTEL
                      smoking: Smoking
                      specialRequest: Any special request
                    - lob: CAR
                      specialRequest: Any special request
                    loyaltyPrograms:
                    - issuingSupplierCode: T4
                      lob: HOTEL
                      name: S-Card
                      type: LC
                      validFrom: '2020-10-10'
                      validTo: '2025-10-10'
                      value: S12345
              Request with roles and approvers:
                description: Request with roles and approvers
                value:
                  schemas:
                  - urn:ietf:params:scim:schemas:core:2.0:User
                  - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                  userName: api.sample@egencia.com
                  title: '1'
                  userType: NORMAL
                  name:
                    familyName: Test
                    givenName: Sample
                    middleName: Api
                  active: true
                  emails:
                  - primary: true
                    type: work
                    value: api.sample@egencia.com
                  groups:
                  - value: General
                  roles:
                  - display: Self Booker
                    value: SELF_BOOKER
                  - display: Arranger
                    value: ARRANGER
                  urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                    organization: '12345'
                    dateOfBirth: '1988-01-01'
                    userAuthenticationMode: SSO
                    singleSignOnId: api.sample@egencia.com
                    customDataFields:
                    - name: Department code
                      value: Legal entity value
                    - name: Reporting field 2
                      value: custom value
                    approvers:
                      level1Approvers:
                      - approverone@egencia.com
                      level2Approvers:
                      - approvertwo@egencia.com
            schema:
              $ref: '#/components/schemas/UserSchema'
        description: User Schema to be updated
        required: true
      responses:
        '200':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:schemas:core:2.0:User
                - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
                externalId: externalSystemIdentifier
                userName: test@example.com
                displayName: Test User
                title: Mr
                userType: NORMAL
                name:
                  familyName: User
                  formatted: ''
                  givenName: Test
                  middleName: ''
                preferredLanguage: en
                active: true
                urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
                  userAuthenticationMode: SSO
                  customDataFields:
                  - name: Primary cost center
                    value: Test cost center
                  dateOfBirth: '1988-01-01'
                  documents:
                  - expirationDate: '2030-10-10'
                    issueCountry: USA
                    issueDate: '2020-10-10'
                    issueLocation: city
                    type: PAS
                    value: ABCDE1234
                  employeeNumber: employeeNumberValue
                  loyaltyPrograms:
                  - issuingSupplierCode: T4
                    lob: HOTEL
                    name: S-Card
                    type: LC
                    validFrom: '2020-10-10'
                    validTo: '2025-10-10'
                    value: S12345
                  organization: egenciaCompanyId
                  preferences:
                  - lob: AIR
                    mealType: '178'
                    preferredDepartureAirport: ''
                    seatType: '1'
                    specialRequest: Any special request
                  - lob: RAIL
                    seatDirection: Forward
                    seatRoom: Lower
                    seatSolo: true
                    seatType: '1'
                  - lob: HOTEL
                    smoking: Smoking
                    specialRequest: Any special request
                  - lob: CAR
                    specialRequest: Any special request
                  settings:
                    notifications:
                      reservationEmail: validReservationEmailValue
                  promoMail: true
                  serviceLevelIds:
                  - '12345'
                  approvers:
                    level1Approvers:
                    - '45678'
                    delegateApprovers:
                    - testapprover
                  arrangers:
                  - id: '56789'
                emails:
                - primary: true
                  type: WORK
                  value: test@example.com
                phoneNumbers:
                - primary: true
                  type: WORK
                  value: +44-1234512345
                addresses:
                - country: GB
                  formatted: address line 1, cityname, state, GB, XXXXXX
                  locality: city name
                  postalCode: XXXXX
                  region: region or state
                  streetAddress: address line 1
                  type: WORK
                groups:
                - display: displayName
                  value: travelerGroup
                roles:
                - display: Self Booker
                  primary: true
                  value: Self Booker
          description: <b>Updated</b>.
        '400':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid parameters
                status: '400'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              example:
                error:
                  code: EGE-ER-4001
                  message: Unauthorised access, you do not have sufficient permissions to perform this action.
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Unauthorised access, you do not have sufficient permissions to perform this action. Contact your admin.
                status: '403'
          description: '<b>Forbidden</b> : User not Validated for operation.'
        '422':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Invalid or missing parameters encountered, we are unable to process your request.
                status: '422'
                data:
                - attribute: userName
                  message: userName needs to be specified and cannot be empty or null
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Your request could not be completed due to some error. Please try again later.
                status: '500'
                data:
                - attribute: urn:ietf:params:scim:schemas:extension:enterprise:2.0:User.loyaltyPrograms
                  message: Error occurred while processing loyalty program associations.
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: We are unable to process your request right now. Please try again later.
                status: '503'
                data: []
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Updates an existing user in the system with the requested information
      tags:
      - SCIM User Sync V1
components:
  schemas:
    ScimPatchSchema:
      type: object
      description: The user patch request schema.
      properties:
        Operations:
          type: array
          description: List of scim patch operations.
          items:
            $ref: '#/components/schemas/ScimPatchOperationSchema'
          maxItems: 2147483647
          minItems: 1
        meta:
          $ref: '#/components/schemas/MetaSchema'
          description: The attribute containing the resource metadata.
        schemas:
          type: array
          description: The schema urns for the associated resource.
          items:
            type: string
          uniqueItems: true
      required:
      - Operations
      - schemas
      title: ScimPatchSchema
    PointOfSaleSchema:
      type: object
      description: The complex model containing point of sale association.
      properties:
        operation:
          type: string
          description: The operation for point of sale
          enum:
          - REMOVE
          - ADD
          - UPDATE
          - STATUS_CHANGE
        pointOfSaleId:
          type: integer
          format: int64
          description: The point of sale id
          minimum: 1
        role:
          type: string
          description: The role of the user against POS
        status:
          type: string
          description: The admin user status
          enum:
          - ACTIVE
          - INACTIVE
          - PENDING
          - DELETED
        userId:
          type: integer
          format: int64
          description: The admin user id
      required:
      - pointOfSaleId
      - role
      title: Name
    UserSchema:
      type: object
      description: The user resource schema.
      properties:
        emails:
          type: array
          description: The email addresses associated with the user account.
          items:
            $ref: '#/components/schemas/EmailSchema'
          maxItems: 1
          minItems: 1
        meta:
          $ref: '#/components/schemas/MetaSchema'
          description: The attribute containing the resource metadata.
        name:
          $ref: '#/components/schemas/NameSchema'
          description: The name details of the user like first name, last name, etc. This is a mandatory property.
        schemas:
          type: array
          description: The schema urns for the associated resource.
          items:
            type: string
          uniqueItems: true
        urn:ietf:params:scim:schemas:extension:egencia:2.0:Admin:
          $ref: '#/components/schemas/AdminUserSchema'
          description: Extended custom attributes specific to Egencia travel management system.
        userName:
          type: string
          description: A service provider's unique identifier for the user, typically used by the user to directly authenticate to the service provider. The value must be an email value with valid @ domain. Maximum supported characters is 60.
      required:
      - emails
      - name
      - schemas
      - urn:ietf:params:scim:schemas:extension:egencia:2.0:Admin
      title: User schema
    NameSchema:
      type: object
      description: The complex model containing name attributes of the user.
      properties:
        familyName:
          type: string
          description: The family or last name of the user. This field is mandatory and cannot be empty. Maximum supported characters is 40.
          maxLength: 40
          minLength: 0
        formatted:
          type: string
          description: The formatted name of the user
        givenName:
          type: string
          description: The given or first name of the user. This field is mandatory and cannot be empty. Maximum supported characters is 40.
          maxLength: 40
          minLength: 0
        middleName:
          type: string
          description: The middle name of the user. Maximum supported characters is 40.
          maxLength: 40
          minLength: 0
      required:
      - familyName
      - givenName
      title: Name
    AdminUserSchema:
      type: object
      description: The extended custom attributes specific to Egencia travel management system.
      properties:
        department:
          type: string
          description: The department of the admin user.
          maxLength: 40
          minLength: 0
        geography:
          type: string
          description: The geography of the admin user.
          maxLength: 40
          minLength: 0
        partner:
          type: string
          description: The partner of the admin user.
          maxLength: 40
          minLength: 0
        pointOfSales:
          type: array
          description: The pointOfSales of the admin user.
          items:
            $ref: '#/components/schemas/PointOfSaleSchema'
          maxItems: 2147483647
          minItems: 1
        status:
          type: string
          description: To update status for all Point Of Sales
      required:
      - department
      - geography
      - partner
      - pointOfSales
      title: Admin user
    ScimPatchOperationSchema:
      type: object
      description: A complex object for scim patch oeration.
      properties:
        op:
          type: string
        path:
          type: string
        value: {}
      title: ScimPatchOperation
    SearchRequest:
      type: object
      description: The user search schema. Currently it supports only emails with eq operator.
      properties:
        filter:
          type: string
          description: Contains the expression for filtering the request. Currently only search by email, name, username and singleSignOnId is supported with eq operator. This filter attribute can be used to collect Egencia ID by searching via email and Egencia website ID
          example: emails[value eq "test@xyz.com"] and urn:ietf:params:scim:schemas:extension:enterprise:2.0:User[organization eq 999]
        meta:
          $ref: '#/components/schemas/MetaSchema'
          description: The attribute containing the resource metadata.
        schemas:
          type: array
          description: The schema urns for the associated resource.
          items:
            type: string
          uniqueItems: true
      required:
      - filter
      - schemas
      title: SearchRequest
    EmailSchema:
      type: object
      description: The complex model containing email details of the user.
      properties:
        primary:
          type: boolean
          description: Identifier flag to determine whether the address is primary or not.
        type:
          type: string
          description: Type of email. Ex. WORK. Please refer the <a href='#Email type'>Enumerations</a> section for the values supported.
          enum:
          - WORK
        value:
          type: string
          description: The value of the email address. It needs to be in a standard format and cannot be empty.
          minLength: 1
      required:
      - type
      - value
      title: Email
    MetaSchema:
      type: object
      description: A complex attribute containing resource metadata.
      properties:
        created:
          type: string
          format: date-time
          description: The creation time metadata.
        lastModified:
          type: string
          format: date-time
          description: The last modification time.
        location:
          type: string
          format: uri
          description: The location of the user resource accessible by URI.
        version:
          type: string
          description: The version of the resource.
      title: Meta
  securitySchemes:
    OAuth2:
      flows:
        clientCredentials:
          tokenUrl: https://apis.egencia.com/auth/v1/token
      type: oauth2
