openapi: 3.2.0
info:
  title: OpenAPI definition SCIM V1 Admin Users API
  version: v0
  description: SCIM 2.0 compliant admin-users sync APIs
servers:
- url: https://apis.egencia.com/openconnect/api
  description: Generated server url
tags:
- description: SCIM 2.0 compliant admin-users sync APIs
  name: scim-v1-admin-users
paths:
  /scim/v1/admin-users:
    get:
      description: "<html>\n  <body>\n    <div class=\"full-height-container\">\n      <div id=\"content\" class=\"split\" style=\"width: calc(85% - 5px);\">\n        <div class=\"wiki-page\">\n          <div class=\"wiki-content\">\n            <a name=\"Bookmark2\"></a>\n            <h2 id=\"Bookmark2\">\n              <span class=\"nh-number\">1. </span>Create\n            </h2>\n            <a name=\"Bookmark3\"></a>\n            <h3 id=\"Bookmark3\">\n              <span class=\"nh-number\">1.1. </span>API Details\n            </h3>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"wrapped confluenceTable\" style=\"border-collapse:collapse;font-size:1.0em\">\n                <colgroup>\n                  <col>\n                  <col>\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td scope=\"col\" class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <strong>Method</strong>\n                    </td>\n                    <td scope=\"col\" class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <code>POST</code>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <strong>URL</strong>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <code>\n                        <span style=\"color: rgb(0,0,0);\">{{URL}}/</span>\n                        <span style=\"color: rgb(255,255,255);\">\n                          <span style=\"color: rgb(0,0,0);\">openconnect-service/scim/v1/admin</span>\n                        </span>\n                      </code>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark4\"></a>\n            <h3 id=\"Bookmark4\">\n              <span class=\"nh-number\">1.2. </span>Request\n            </h3>\n            <a name=\"Bookmark5\"></a>\n            <h4 id=\"Bookmark5\">\n              <span class=\"nh-number\">1.2.1. </span>Sample Request\n            </h4>\n            <div class=\"code panel pdl\" style=\"border-width: 1px;\">\n              <div class=\"codeContent panelContent pdl\">\n                <pre class=\"syntaxhighlighter-pre\" data-syntaxhighlighter-params=\"brush: js; gutter: false; theme: Confluence\" data-theme=\"Confluence\">{\n            \"schemas\": [\n              \"urn:ietf:params:scim:schemas:core:2.0:User\",\n              \"urn:ietf:params:scim:schemas:extension:egencia:2.0:Admin\"\n            ],\n            \"name\": {\n              \"familyName\": \"Sample\",\n              \"givenName\": \"Api\",\n              \"middleName\": \"Test\"\n            },\n            \"emails\": [\n              {\n                \"type\": \"WORK\",\n                \"value\": \"api.sample@egencia.com\",\n                \"primary\": true\n              }\n            ],\n            \"urn:ietf:params:scim:schemas:extension:egencia:2.0:Admin\": {\n              \"department\": \"ect - contact center\",\n              \"partner\": \"Egencia\",\n              \"geography\": \"Dubai\",\n              \"pointOfSales\": [\n                {\n                  \"pointOfSaleId\": 60006,\n                  \"role\": \"SITE_RELEASE_ROLE_ADMIN\"\n                },\n                {\n                  \"pointOfSaleId\": 60008,\n                  \"role\": \"SUPER_TIER_III\"\n                }\n              ]\n            }\n            }</pre>\n              </div>\n            </div>\n            <a name=\"Bookmark6\"></a>\n            <h4 id=\"Bookmark6\">\n              <span class=\"nh-number\">1.2.2. </span>Modals\n            </h4>\n            <a name=\"Bookmark7\"></a>\n            <h5 id=\"Bookmark7\">\n              <span class=\"nh-number\">1.2.2.1. </span>User\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" style=\"border-collapse:collapse; width: 30.7397%; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">schemas</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[String]</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">name</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <a href=\"#Bookmark8\" title=\"1.2.2.2. Name\">Name</a>\n                      </span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">emails</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[ <a href=\"#Bookmark9\" title=\"1.2.2.3. Email\">Email</a>] </span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">customAttributes</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <a href=\"#Bookmark10\" title=\"1.2.2.4. Admin\">Admin</a>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark8\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark8\">\n              <span class=\"nh-number\">1.2.2.2. </span>Name\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 30.8493%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">familyName</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">givenName</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">middleName</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">No</span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark9\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark9\">\n              <span class=\"nh-number\">1.2.2.3. </span>Email\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 49.6986%;; font-size:0.9em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Notes</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">type</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">See <a href=\"#Bookmark38\" title=\"3.4. Email Type\">Appendix 4</a> for possible values </span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">value</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <br>\n                      </span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">primary</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Boolean</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">No</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <br>\n                      </span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark10\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark10\">\n              <span class=\"nh-number\">1.2.2.4. </span>Admin\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 31.1233%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">department</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">partner</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">geography</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">pointOfSales</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <a href=\"#Bookmark11\" title=\"1.2.2.5. PosAssociation\">PosAssociation</a>\n                      </span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark11\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark11\">\n              <span class=\"nh-number\">1.2.2.5. </span>\n              <span style=\"color: rgb(0,0,0);\">PosAssociation</span>\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 50.4658%;; font-size:0.9em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Notes</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">pointOfSaleId</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Integer</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <br>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">role</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">AdminRole</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">See <a href=\"#Bookmark33\" title=\"3.1. AdminRole\"> Appendix 1 </a>for possible values </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark12\"></a>\n            <h3 class=\"auto-cursor-target\" id=\"Bookmark12\">\n              <span class=\"nh-number\">1.3. </span>Response\n            </h3>\n            <a name=\"Bookmark13\"></a>\n            <h4 id=\"Bookmark13\">\n              <span class=\"nh-number\">1.3.1. </span>Sample Response\n            </h4>\n            <div class=\"code panel pdl\" style=\"border-width: 1px;\">\n              <div class=\"codeContent panelContent pdl\">\n                <pre class=\"syntaxhighlighter-pre\" data-syntaxhighlighter-params=\"brush: js; gutter: false; theme: Confluence\" data-theme=\"Confluence\">{\n              \"schemas\": [\n                  \"urn:ietf:params:scim:schemas:extension:egencia:2.0:AdminSearchResponse\",\n                  \"urn:ietf:params:scim:api:messages:2.0:ListResponse\",\n                  \"urn:ietf:params:scim:api:messages:2.0:SearchResponse\"\n              ],\n              \"Resources\": [\n                  {\n                      \"name\": {\n                          \"familyName\": \"adminuser\",\n                          \"givenName\": \"egencia\"\n                      },\n                      \"username\": \"ECTDUBegenciaa34\",\n                      \"emails\": [\n                          {\n                              \"type\": \"WORK\",\n                              \"value\": \"adminuser@egencia.com\",\n                              \"primary\": true\n                          }\n                      ],\n                      \"urn:ietf:params:scim:schemas:extension:egencia:2.0:AdminSearchResponse\": {\n                          \"partner\": \"Egencia\",\n                          \"department\": \"ect - contact center\",\n                          \"geography\": \"Dubai\",\n                          \"pointOfSales\": [\n                              {\n                                  \"pointOfSaleId\": 60123,\n                                  \"userId\": 6999933,\n                                  \"role\": \"Fulfillment Manager\",\n                                  \"status\": \"ACTIVE\"\n                              },\n                              {\n                                  \"pointOfSaleId\": 60084,\n                                  \"userId\": 6999948,\n                                  \"role\": \"Super User\",\n                                  \"status\": \"ACTIVE\"\n                              },\n                              {\n                                  \"pointOfSaleId\": 60004,\n                                  \"userId\": 6999808,\n                                  \"role\": \"Fraud Manager\",\n                                  \"status\": \"ACTIVE\"\n                              },\n                              {\n                                  \"pointOfSaleId\": 60095,\n                                  \"userId\": 6999819,\n                                  \"role\": \"Travelshops Admin\",\n                                  \"status\": \"ACTIVE\"\n                              },\n                              {\n                                  \"pointOfSaleId\": 60006,\n                                  \"userId\": 6999261,\n                                  \"role\": \"Fraud Agent\",\n                                  \"status\": \"INACTIVE\"\n                              }\n                          ]\n                      }\n                  }\n              ]\n            }</pre>\n              </div>\n            </div>\n            <a name=\"Bookmark14\"></a>\n            <h4 class=\"auto-cursor-target\" id=\"Bookmark14\">\n              <span class=\"nh-number\">1.3.2. </span>Modals\n            </h4>\n            <a name=\"Bookmark15\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark15\">\n              <span class=\"nh-number\">1.3.2.1. </span>ListResponse\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 44.1644%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">schemas</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[String]</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">resources</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[ <a href=\"#Bookmark16\" title=\"1.3.2.2. Resource\">Resource</a>] </span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark16\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark16\">\n              <span class=\"nh-number\">1.3.2.2. </span>Resource\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 44.1644%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">name</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">userName</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">emails</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[ <a href=\"#Bookmark9\" title=\"1.2.2.3. Email\">Email</a>] </span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">customAttributes</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <a href=\"#Bookmark17\" title=\"1.3.2.3. AdminResponse\">AdminResponse</a>\n                      </span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark17\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark17\">\n              <span class=\"nh-number\">1.3.2.3. </span>AdminResponse\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 44.1644%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">partner</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">department</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">geography</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">pointOfSales</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <a href=\"#Bookmark18\" title=\"1.3.2.4. PosAssociationResponse\">PosAssociationResponse</a>\n                      </span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark18\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark18\">\n              <span class=\"nh-number\">1.3.2.4. </span>\n              <span style=\"color: rgb(0,0,0);\">PosAssociationResponse</span>\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 71.041%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Notes</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">pointOfSaleId</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Integer</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <br>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">userId</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Integer</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <br>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">role</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <br>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">status</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">AdminStatus</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">See <a href=\"#Bookmark34\" title=\"3.2. AdminStatus\">Appendix 2</a> for possible values </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <h2 class=\"auto-cursor-target\" id=\"Bookmark32\">\n              <span class=\"nh-number\">3. </span>Appendix\n            </h2>\n            <a name=\"Bookmark33\"></a>\n            <h3 id=\"Bookmark33\">\n              <span class=\"nh-number\">3.1. </span>AdminRole\n            </h3>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"wrapped confluenceTable\" style=\"border-collapse:collapse;font-size:1.0em\">\n                <colgroup>\n                  <col>\n                  <col>\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FULFILLMENT_STAFF</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">2</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FULFILLMENT_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">3</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">GUEST</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">4</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FRAUD_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">5</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FRAUD_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">6</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">INTERNAL_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">7</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TS_LEAD_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">8</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TS_CALL_CENTER_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">9</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TS_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">10</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">REGIONAL_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">11</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SUPER_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">12</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TRAVELSHOPS_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">13</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">MERCHANT_ACCOUNT_HELP_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">14</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">15</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_AGENT_LEAD</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">16</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_CALL_CENTER_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">17</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_IMPLEMENTATIONS_STAFF</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">18</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_SALES_ACCOUNT_MANAGEMENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">19</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CRUISE_PROMO_MGR</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">20</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CHARTER_EXTRANET</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">21</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">DATA_AND_CONTENT_READ_ONLY_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">22</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">UBER_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">23</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FRAUD_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">24</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FRAUD_INVESTIGATOR</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">25</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TRANSPORTATION_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">26</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">AGENCY_OPS_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">27</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CUSTOMER_SERVICE_REP</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">28</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">EXCEPTION_REFUNDS</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">29</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SME</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">30</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TS_ACCOUNTING_REP_CARS</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">31</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CCS_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">32</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CCS_LEAD_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">33</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SITE_RELEASE_NORTHAM</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">34</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SITE_RELEASE_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">35</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CRUISE_CONTENT_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">36</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TIER_III</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">37</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">AGENCY_OPS_HIMS</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">38</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CLIENT_SERVICES</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">39</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CRUISE_GROUP_LEADER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">40</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">LOCAL_AIR_BUSINESS_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">41</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_REPORTING_ADMINISTRATOR</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">42</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">COUPON_CREATOR</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">43</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SUPER_TIER_III</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">44</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">REDEMPTION_LEAD</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">45</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SENIOR_INTERNAL_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">46</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">GLOBAL_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">47</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">READ_ONLY_ITINERARY_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">48</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TRAVEL_PROMOTIONS</td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark34\"></a>\n            <h3 class=\"auto-cursor-target\" id=\"Bookmark34\">\n              <span class=\"nh-number\">3.2. </span>AdminStatus\n            </h3>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"wrapped confluenceTable\" style=\"border-collapse:collapse;font-size:1.0em\">\n                <colgroup>\n                  <col>\n                  <col>\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ACTIVE</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">2</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">INACTIVE</td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark35\"></a>\n            <h3 class=\"auto-cursor-target\" id=\"Bookmark35\">\n              <span class=\"nh-number\">3.3. </span>Filter\n            </h3>\n            <a name=\"Bookmark36\"></a>\n            <h4 id=\"Bookmark36\">\n              <span class=\"nh-number\">3.3.1. </span>Mandatory Parameters\n            </h4>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 42.0274%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">userName</td>\n                    <td rowspan=\"4\" class=\"confluenceTd\" style=\"padding:0.5em\">At least one of these parameters should be present in the filter query. They can be given individually or simultaneously by combining these parameters by using \"and\" operator. The optional parameters, which are given in the following table can also be combined together with these mandatory parameters.</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">2</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">name[givenName]</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">3</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">name[familyName]</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">4</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">email</td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark37\"></a>\n            <h4 class=\"auto-cursor-target\" id=\"Bookmark37\">\n              <span class=\"nh-number\">3.3.2. </span>Optional Parameters\n            </h4>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 41.589%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">status</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">This parameter is used to filter out point of sales based on the status. This parameter can only be given along with the mandatory parameters. See <a href=\"#Bookmark34\" title=\"3.2. AdminStatus\">AdminStatus</a> for possible values. </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">2</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">exactMatch</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <p>The possible values for exactMatch parameter are \"true\" and \"false\". The default value for this parameter is \"false\". This parameter can only be passed along with the mandatory parameters. If this parameter not passed in the query or set it as \"false\", then the search response contains resources with their values start with the required parameter. If it is \"true\", then the search response contains resources with exact value.</p>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark38\"></a>\n            <h3 class=\"auto-cursor-target\" id=\"Bookmark38\">\n              <span class=\"nh-number\">3.4. </span>Email Type\n            </h3>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"wrapped confluenceTable\" style=\"border-collapse:collapse;font-size:1.0em\">\n                <colgroup>\n                  <col>\n                  <col>\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">WORK</td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n    <script>\n      Split(['#sidebar', '#content'], {\n        sizes: [15, 85],\n        minSize: 100\n      });\n    </script>\n  </body>\n</html>"
      operationId: getAllAdminUsers
      parameters:
      - description: 1-based index of the first query result
        in: query
        name: startIndex
        required: false
        schema:
          type: integer
          format: int32
      - description: Maximum number of query results per page
        in: query
        name: count
        required: false
        schema:
          type: integer
          format: int32
      - description: Status of the admin user
        in: query
        name: status
        required: false
        schema:
          type: string
          default: ACTIVE
      responses:
        '400':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Bad Request</b> : Invalid input or request'
        '401':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Unauthorized</b> : <i>Authentication token</i> empty, invalid or expired.'
        '403':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Forbidden</b> : User is not authorized to perform this operation.'
        '422':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Invalid input</b> : Invalid or missing required input.'
        '500':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Internal Server Error</b> : Unable to process request.'
        '503':
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ListResponse'
          description: '<b>Service unavailable</b> : Unable to process request at the moment.'
      security:
      - OAuth2: []
      summary: Get all admin users in the system based on status.
      tags:
      - scim-v1-admin-users
    post:
      description: "<html>\n  <body>\n    <div class=\"full-height-container\">\n      <div id=\"content\" class=\"split\" style=\"width: calc(85% - 5px);\">\n        <div class=\"wiki-page\">\n          <div class=\"wiki-content\">\n            <a name=\"Bookmark2\"></a>\n            <h2 id=\"Bookmark2\">\n              <span class=\"nh-number\">1. </span>Create\n            </h2>\n            <a name=\"Bookmark3\"></a>\n            <h3 id=\"Bookmark3\">\n              <span class=\"nh-number\">1.1. </span>API Details\n            </h3>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"wrapped confluenceTable\" style=\"border-collapse:collapse;font-size:1.0em\">\n                <colgroup>\n                  <col>\n                  <col>\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td scope=\"col\" class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <strong>Method</strong>\n                    </td>\n                    <td scope=\"col\" class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <code>POST</code>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <strong>URL</strong>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <code>\n                        <span style=\"color: rgb(0,0,0);\">{{URL}}/</span>\n                        <span style=\"color: rgb(255,255,255);\">\n                          <span style=\"color: rgb(0,0,0);\">openconnect-service/scim/v1/admin</span>\n                        </span>\n                      </code>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark4\"></a>\n            <h3 id=\"Bookmark4\">\n              <span class=\"nh-number\">1.2. </span>Request\n            </h3>\n            <a name=\"Bookmark5\"></a>\n            <h4 id=\"Bookmark5\">\n              <span class=\"nh-number\">1.2.1. </span>Sample Request\n            </h4>\n            <div class=\"code panel pdl\" style=\"border-width: 1px;\">\n              <div class=\"codeContent panelContent pdl\">\n                <pre class=\"syntaxhighlighter-pre\" data-syntaxhighlighter-params=\"brush: js; gutter: false; theme: Confluence\" data-theme=\"Confluence\">{\n            \"schemas\": [\n              \"urn:ietf:params:scim:schemas:core:2.0:User\",\n              \"urn:ietf:params:scim:schemas:extension:egencia:2.0:Admin\"\n            ],\n            \"name\": {\n              \"familyName\": \"Sample\",\n              \"givenName\": \"Api\",\n              \"middleName\": \"Test\"\n            },\n            \"emails\": [\n              {\n                \"type\": \"WORK\",\n                \"value\": \"api.sample@egencia.com\",\n                \"primary\": true\n              }\n            ],\n            \"urn:ietf:params:scim:schemas:extension:egencia:2.0:Admin\": {\n              \"department\": \"ect - contact center\",\n              \"partner\": \"Egencia\",\n              \"geography\": \"Dubai\",\n              \"pointOfSales\": [\n                {\n                  \"pointOfSaleId\": 60006,\n                  \"role\": \"SITE_RELEASE_ROLE_ADMIN\"\n                },\n                {\n                  \"pointOfSaleId\": 60008,\n                  \"role\": \"SUPER_TIER_III\"\n                }\n              ]\n            }\n            }</pre>\n              </div>\n            </div>\n            <a name=\"Bookmark6\"></a>\n            <h4 id=\"Bookmark6\">\n              <span class=\"nh-number\">1.2.2. </span>Modals\n            </h4>\n            <a name=\"Bookmark7\"></a>\n            <h5 id=\"Bookmark7\">\n              <span class=\"nh-number\">1.2.2.1. </span>User\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" style=\"border-collapse:collapse; width: 30.7397%; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">schemas</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[String]</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">name</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <a href=\"#Bookmark8\" title=\"1.2.2.2. Name\">Name</a>\n                      </span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">emails</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[ <a href=\"#Bookmark9\" title=\"1.2.2.3. Email\">Email</a>] </span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">customAttributes</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <a href=\"#Bookmark10\" title=\"1.2.2.4. Admin\">Admin</a>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark8\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark8\">\n              <span class=\"nh-number\">1.2.2.2. </span>Name\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 30.8493%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">familyName</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">givenName</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">middleName</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">No</span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark9\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark9\">\n              <span class=\"nh-number\">1.2.2.3. </span>Email\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 49.6986%;; font-size:0.9em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Notes</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">type</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">See <a href=\"#Bookmark38\" title=\"3.4. Email Type\">Appendix 4</a> for possible values </span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">value</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <br>\n                      </span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">primary</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Boolean</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">No</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <br>\n                      </span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark10\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark10\">\n              <span class=\"nh-number\">1.2.2.4. </span>Admin\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 31.1233%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">department</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">partner</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">geography</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">pointOfSales</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <a href=\"#Bookmark11\" title=\"1.2.2.5. PosAssociation\">PosAssociation</a>\n                      </span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark11\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark11\">\n              <span class=\"nh-number\">1.2.2.5. </span>\n              <span style=\"color: rgb(0,0,0);\">PosAssociation</span>\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 50.4658%;; font-size:0.9em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Required</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Notes</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">pointOfSaleId</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Integer</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <br>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">role</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">AdminRole</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">\n                      <span style=\"color: rgb(0,0,0);\">Yes</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.45em\">See <a href=\"#Bookmark33\" title=\"3.1. AdminRole\"> Appendix 1 </a>for possible values </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark12\"></a>\n            <h3 class=\"auto-cursor-target\" id=\"Bookmark12\">\n              <span class=\"nh-number\">1.3. </span>Response\n            </h3>\n            <a name=\"Bookmark13\"></a>\n            <h4 id=\"Bookmark13\">\n              <span class=\"nh-number\">1.3.1. </span>Sample Response\n            </h4>\n            <div class=\"code panel pdl\" style=\"border-width: 1px;\">\n              <div class=\"codeContent panelContent pdl\">\n                <pre class=\"syntaxhighlighter-pre\" data-syntaxhighlighter-params=\"brush: js; gutter: false; theme: Confluence\" data-theme=\"Confluence\">{\n              \"schemas\": [\n                  \"urn:ietf:params:scim:schemas:extension:egencia:2.0:AdminSearchResponse\",\n                  \"urn:ietf:params:scim:api:messages:2.0:ListResponse\",\n                  \"urn:ietf:params:scim:api:messages:2.0:SearchResponse\"\n              ],\n              \"Resources\": [\n                  {\n                      \"name\": {\n                          \"familyName\": \"adminuser\",\n                          \"givenName\": \"egencia\"\n                      },\n                      \"username\": \"ECTDUBegenciaa34\",\n                      \"emails\": [\n                          {\n                              \"type\": \"WORK\",\n                              \"value\": \"adminuser@egencia.com\",\n                              \"primary\": true\n                          }\n                      ],\n                      \"urn:ietf:params:scim:schemas:extension:egencia:2.0:AdminSearchResponse\": {\n                          \"partner\": \"Egencia\",\n                          \"department\": \"ect - contact center\",\n                          \"geography\": \"Dubai\",\n                          \"pointOfSales\": [\n                              {\n                                  \"pointOfSaleId\": 60123,\n                                  \"userId\": 6999933,\n                                  \"role\": \"Fulfillment Manager\",\n                                  \"status\": \"ACTIVE\"\n                              },\n                              {\n                                  \"pointOfSaleId\": 60084,\n                                  \"userId\": 6999948,\n                                  \"role\": \"Super User\",\n                                  \"status\": \"ACTIVE\"\n                              },\n                              {\n                                  \"pointOfSaleId\": 60004,\n                                  \"userId\": 6999808,\n                                  \"role\": \"Fraud Manager\",\n                                  \"status\": \"ACTIVE\"\n                              },\n                              {\n                                  \"pointOfSaleId\": 60095,\n                                  \"userId\": 6999819,\n                                  \"role\": \"Travelshops Admin\",\n                                  \"status\": \"ACTIVE\"\n                              },\n                              {\n                                  \"pointOfSaleId\": 60006,\n                                  \"userId\": 6999261,\n                                  \"role\": \"Fraud Agent\",\n                                  \"status\": \"INACTIVE\"\n                              }\n                          ]\n                      }\n                  }\n              ]\n            }</pre>\n              </div>\n            </div>\n            <a name=\"Bookmark14\"></a>\n            <h4 class=\"auto-cursor-target\" id=\"Bookmark14\">\n              <span class=\"nh-number\">1.3.2. </span>Modals\n            </h4>\n            <a name=\"Bookmark15\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark15\">\n              <span class=\"nh-number\">1.3.2.1. </span>ListResponse\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 44.1644%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">schemas</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[String]</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">resources</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[ <a href=\"#Bookmark16\" title=\"1.3.2.2. Resource\">Resource</a>] </span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark16\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark16\">\n              <span class=\"nh-number\">1.3.2.2. </span>Resource\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 44.1644%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">name</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">userName</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">emails</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">array[ <a href=\"#Bookmark9\" title=\"1.2.2.3. Email\">Email</a>] </span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">customAttributes</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <a href=\"#Bookmark17\" title=\"1.3.2.3. AdminResponse\">AdminResponse</a>\n                      </span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark17\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark17\">\n              <span class=\"nh-number\">1.3.2.3. </span>AdminResponse\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 44.1644%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">partner</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">department</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">geography</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">pointOfSales</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">\n                        <a href=\"#Bookmark18\" title=\"1.3.2.4. PosAssociationResponse\">PosAssociationResponse</a>\n                      </span>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark18\"></a>\n            <h5 class=\"auto-cursor-target\" id=\"Bookmark18\">\n              <span class=\"nh-number\">1.3.2.4. </span>\n              <span style=\"color: rgb(0,0,0);\">PosAssociationResponse</span>\n            </h5>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 71.041%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Name</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Type</span>\n                    </th>\n                    <th class=\"confluenceTh\">\n                      <span style=\"color: rgb(0,0,0);\">Notes</span>\n                    </th>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">pointOfSaleId</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Integer</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <br>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">userId</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">Integer</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <br>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">role</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">String</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <br>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">status</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">\n                      <span style=\"color: rgb(0,0,0);\">AdminStatus</span>\n                    </td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">See <a href=\"#Bookmark34\" title=\"3.2. AdminStatus\">Appendix 2</a> for possible values </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <h2 class=\"auto-cursor-target\" id=\"Bookmark32\">\n              <span class=\"nh-number\">3. </span>Appendix\n            </h2>\n            <a name=\"Bookmark33\"></a>\n            <h3 id=\"Bookmark33\">\n              <span class=\"nh-number\">3.1. </span>AdminRole\n            </h3>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"wrapped confluenceTable\" style=\"border-collapse:collapse;font-size:1.0em\">\n                <colgroup>\n                  <col>\n                  <col>\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FULFILLMENT_STAFF</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">2</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FULFILLMENT_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">3</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">GUEST</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">4</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FRAUD_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">5</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FRAUD_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">6</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">INTERNAL_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">7</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TS_LEAD_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">8</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TS_CALL_CENTER_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">9</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TS_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">10</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">REGIONAL_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">11</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SUPER_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">12</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TRAVELSHOPS_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">13</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">MERCHANT_ACCOUNT_HELP_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">14</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">15</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_AGENT_LEAD</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">16</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_CALL_CENTER_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">17</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_IMPLEMENTATIONS_STAFF</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">18</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_SALES_ACCOUNT_MANAGEMENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">19</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CRUISE_PROMO_MGR</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">20</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CHARTER_EXTRANET</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">21</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">DATA_AND_CONTENT_READ_ONLY_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">22</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">UBER_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">23</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FRAUD_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">24</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">FRAUD_INVESTIGATOR</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">25</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TRANSPORTATION_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">26</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">AGENCY_OPS_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">27</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CUSTOMER_SERVICE_REP</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">28</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">EXCEPTION_REFUNDS</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">29</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SME</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">30</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TS_ACCOUNTING_REP_CARS</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">31</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CCS_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">32</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CCS_LEAD_AGENT</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">33</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SITE_RELEASE_NORTHAM</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">34</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SITE_RELEASE_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">35</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CRUISE_CONTENT_ROLE_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">36</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TIER_III</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">37</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">AGENCY_OPS_HIMS</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">38</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CLIENT_SERVICES</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">39</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">CRUISE_GROUP_LEADER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">40</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">LOCAL_AIR_BUSINESS_MANAGER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">41</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ECT_REPORTING_ADMINISTRATOR</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">42</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">COUPON_CREATOR</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">43</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SUPER_TIER_III</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">44</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">REDEMPTION_LEAD</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">45</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">SENIOR_INTERNAL_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">46</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">GLOBAL_ADMIN</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">47</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">READ_ONLY_ITINERARY_USER</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">48</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">TRAVEL_PROMOTIONS</td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark34\"></a>\n            <h3 class=\"auto-cursor-target\" id=\"Bookmark34\">\n              <span class=\"nh-number\">3.2. </span>AdminStatus\n            </h3>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"wrapped confluenceTable\" style=\"border-collapse:collapse;font-size:1.0em\">\n                <colgroup>\n                  <col>\n                  <col>\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">ACTIVE</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">2</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">INACTIVE</td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark35\"></a>\n            <h3 class=\"auto-cursor-target\" id=\"Bookmark35\">\n              <span class=\"nh-number\">3.3. </span>Filter\n            </h3>\n            <a name=\"Bookmark36\"></a>\n            <h4 id=\"Bookmark36\">\n              <span class=\"nh-number\">3.3.1. </span>Mandatory Parameters\n            </h4>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 42.0274%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">userName</td>\n                    <td rowspan=\"4\" class=\"confluenceTd\" style=\"padding:0.5em\">At least one of these parameters should be present in the filter query. They can be given individually or simultaneously by combining these parameters by using \"and\" operator. The optional parameters, which are given in the following table can also be combined together with these mandatory parameters.</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">2</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">name[givenName]</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">3</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">name[familyName]</td>\n                  </tr>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">4</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">email</td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n            <a name=\"Bookmark37\"></a>\n            <h4 class=\"auto-cursor-target\" id=\"Bookmark37\">\n              <span class=\"nh-number\">3.3.2. </span>Optional Parameters\n            </h4>\n            <div class=\"table-wrap\">\n              <table border=\"1\" class=\"relative-table wrapped confluenceTable\" style=\"border-collapse:collapse;width: 41.589%;; font-size:1.0em\">\n                <colgroup>\n                  <col style=\"\">\n                  <col style=\"\">\n                  <col style=\"\">\n                </colgroup>\n                <tbody>\n                  <tr>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">1</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">status</td>\n                    <td class=\"confluenceTd\" style=\"padding:0.5em\">This parameter is used to filter out point of sales based on the status. This parameter can only be given along with the mandatory parameters. See <a href=\"#Bookmark34\" title=\"3.2. AdminStatus\">AdminStatus</
[...]
