{"openapi":"3.1.0","info":{"title":"Company Details API","version":"v1.0"},"servers":[{"url":"https://apis.egencia.com/openconnect/api","description":"API Server"}],"paths":{"/v1/companies":{"get":{"tags":["Company Details"],"description":"<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n           <tr><td colspan=\"3\"><strong>Query Parameters</strong></td></tr>\n           <tr>\n               <td>name</td>\n               <td>String</td>\n               <td>Company name to search for (optional)</td>\n           </tr>\n           <tr>\n               <td>company_id</td>\n               <td>Long</td>\n               <td>Specific company ID (optional)</td>\n           </tr>\n           <tr>\n               <td>status</td>\n               <td>List&lt;String&gt;</td>\n               <td>Filter by company status(es) (optional)</td>\n           </tr>\n           <tr>\n               <td>start</td>\n               <td>Integer</td>\n               <td>Pagination start index (default: 0, optional)</td>\n           </tr>\n           <tr>\n               <td>sfid</td>\n               <td>String</td>\n               <td>Salesforce ID (optional)</td>\n           </tr>\n           <tr>\n               <td>count</td>\n               <td>Integer</td>\n               <td>Number of results per page (default: 100, max: 100, optional)</td>\n           </tr>\n           <tr>\n               <td>sort_by</td>\n               <td>List&lt;String&gt;</td>\n               <td>Fields to sort by (default: [\"company_name\"], optional)</td>\n           </tr>\n           <tr>\n               <td>sort_direction</td>\n               <td>String</td>\n               <td>Sort direction: \"ASC\" or \"DESC\" (default: \"ASC\", optional)</td>\n           </tr>\n           <tr>\n               <td>has_finance_consultant</td>\n               <td>Boolean</td>\n               <td>Filter by finance consultant presence (optional)</td>\n           </tr>\n           <tr>\n               <td>comcode</td>\n               <td>Long</td>\n               <td>Company code filter (optional)</td>\n           </tr>\n        </tbody>\n    </table>\n</div>\n<p><b>Examples:</b></p>\n\n<p>Searching companies with multiple filters:</p>\n<pre>\n   <code>\n   GET https://apis-eu-west-1.lab.egencia.cloud/openconnect/api/v1/companies?name=Acme&status=ACTIVE&count=50&sort_by=company_name&sort_direction=ASC\n       -> 200 OK\n{\n    \"companies\": [\n        {\n            \"company_id\": 60806,\n            \"company_name\": \"Acme Corp\"\n        },\n        {\n            \"company_id\": 60807,\n            \"company_name\": \"Acme Industries\"\n        }\n    ],\n    \"total_results\": 2,\n    \"start\": 0,\n    \"count\": 50\n}   </code></pre>","operationId":"searchCompanies","parameters":[{"name":"name","in":"query","description":"Company name to search for","required":false,"schema":{"type":"string"}},{"name":"company_id","in":"query","description":"Specific company ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","description":"Filter by company status(es)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"start","in":"query","description":"Pagination start index (default: 0)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sfid","in":"query","description":"Salesforce ID","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of results per page (default: 100, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort_by","in":"query","description":"Fields to sort by (default: [\"company_name\"])","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_direction","in":"query","description":"Sort direction: \"ASC\" or \"DESC\" (default: \"ASC\")","required":false,"schema":{"type":"string"}},{"name":"has_finance_consultant","in":"query","description":"Filter by finance consultant presence","required":false,"schema":{"type":"boolean"}},{"name":"comcode","in":"query","description":"Company code filter","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"<b>Success</b>, indicating that the search request has succeeded. Returns a list of companies matching the criteria.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Search Response"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Search Response"}}}},"400":{"description":"<b>Bad Request</b> : invalid query parameters","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Search Response"}}}}}}},"/v1/companies/{company_id}":{"get":{"tags":["Company Details"],"description":"<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n           <tr><td colspan=\"3\"><strong>metadata</strong></td></tr>\n           <tr>\n               <td>companyId</td>\n               <td>Integer</td>\n               <td>Id of the company for which Company Display Name needs to be fetched</td>\n           </tr>\n        </tbody>\n    </table>\n</div>\n<p><b>Examples:</b></p>\n\n<p>Retrieving Company Display Name for company_id : 60806</p>\n<pre>\n   <code>\n   GET https://apis-eu-west-1.lab.egencia.cloud/openconnect/api/v1/companies/{companyId}\n       -> 200 OK\n{\n    \"company_id\": 60806,\n    \"company_name\": \"TMS Demo Aus\"\n}   </code></pre>","operationId":"retrieveCompany","parameters":[{"name":"company_id","in":"path","description":"Company Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"<b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Display Name"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Display Name"}}}},"404":{"description":"<b>Not Found</b> : the resource does not exist.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Display Name"}}}}}}},"/v1/companies/ecommerce-settings":{"get":{"tags":["ecommerce-settings-controller"],"operationId":"getSettings","parameters":[{"name":"billing_dk","in":"query","required":false,"schema":{"type":"string"}},{"name":"traveler_dk","in":"query","required":false,"schema":{"type":"string"}},{"name":"setting_type","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"<b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceSettingsApiResponse"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceSettingsApiResponse"}}}},"404":{"description":"<b>Not Found</b> : the resource does not exist.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceSettingsApiResponse"}}}}}}},"/v1/companies/ecommerce-settings/audit":{"get":{"tags":["ecommerce-settings-controller"],"operationId":"getAudit","parameters":[{"name":"start","in":"query","description":"Start Timestamp","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","description":"End Timestamp","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"setting_type","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"<b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceAuditApiResponse"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceAuditApiResponse"}}}},"404":{"description":"<b>Not Found</b> : the resource does not exist.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceAuditApiResponse"}}}}}}}},"components":{"schemas":{"ActivationStatusAudit":{"type":"object","properties":{"changedBy":{"type":"integer","format":"int64"},"changedAt":{"type":"integer","format":"int64"},"oldStatus":{"type":"string","enum":["PENDING_ACTIVATION","ACTIVE","BLOCKED_FOR_BOOKING","BLOCKED_FOR_BOOKING_AND_INVOICING","DISABLED","DEACTIVATED"]},"newStatus":{"type":"string","enum":["PENDING_ACTIVATION","ACTIVE","BLOCKED_FOR_BOOKING","BLOCKED_FOR_BOOKING_AND_INVOICING","DISABLED","DEACTIVATED"]},"salesforceCaseNumber":{"type":"string"}}},"Address":{"type":"object","properties":{"suite":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"province":{"type":"string"},"city":{"type":"string"},"romanizedCity":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"postalCode":{"type":"string"}}},"Company Display Name":{"type":"object","description":" Company Display Name with ComapnyId","properties":{"companyId":{"type":"integer","format":"int64","description":"company id"},"companyName":{"type":"string","description":"Company Display Name","maxLength":2147483647,"minLength":1},"id":{"type":"string"},"federalTaxId":{"type":"string"},"status":{"type":"string","enum":["READY_TO_CREATE","ENABLED","DISABLED","PENDING","DEACTIVATED_FOR_BOOKING","READY_FOR_ACTIVATION","UNCOMMITED","INVALID","DELETED"]},"companyAddress":{"$ref":"#/components/schemas/Address"},"productId":{"type":"integer","format":"int64"},"category":{"type":"string"},"travelManager":{"$ref":"#/components/schemas/User"},"createdAt":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"createdBy":{"type":"string"},"updatedBy":{"type":"string"},"language":{"type":"string"},"comcode":{"type":"integer","format":"int64"},"bookingBlocked":{"type":"boolean"},"active":{"type":"boolean"},"global":{"type":"boolean"},"activationStatus":{"type":"string","enum":["PENDING_ACTIVATION","ACTIVE","BLOCKED_FOR_BOOKING","BLOCKED_FOR_BOOKING_AND_INVOICING","DISABLED","DEACTIVATED"]},"auditActivationStatus":{"type":"array","items":{"$ref":"#/components/schemas/ActivationStatusAudit"}}},"required":["companyId","companyName"]},"Company Search Response":{"type":"object","description":"Company search results with pagination information","properties":{"count":{"type":"integer","format":"int32","description":"Number of results returned"},"start":{"type":"integer","format":"int32","description":"Start index for pagination"},"totalResults":{"type":"integer","format":"int32","description":"Total number of results found"},"companies":{"type":"array","description":"List of companies matching search criteria","items":{"$ref":"#/components/schemas/Company Display Name"}}}},"PhoneNumber":{"type":"object","properties":{"number":{"type":"string"},"label":{"type":"string"}}},"User":{"type":"object","properties":{"tuid":{"type":"integer","format":"int64"},"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"userId":{"type":"string"},"email":{"type":"string"},"alternateEmail":{"type":"string"},"role":{"type":"string","enum":["ACCOUNT_MANAGER","BILLING_CONTACT"]},"phoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/PhoneNumber"}}}},"ECommerceSetting":{"type":"object","properties":{"settingType":{"type":"string","enum":["INVOICE_SETTING","PAYMENT_SETTING","COMPANY_SETTING"]},"setting":{}}},"ECommerceSettingsApiResponse":{"type":"object","properties":{"ecommerceSettings":{"type":"array","items":{"$ref":"#/components/schemas/ECommerceSetting"}}}},"DkChange":{"type":"object","properties":{"dkNumber":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"},"settingType":{"type":"string","enum":["INVOICE_SETTING","PAYMENT_SETTING","COMPANY_SETTING"]}}},"ECommerceAuditApiResponse":{"type":"object","properties":{"billingDkChanges":{"type":"array","items":{"$ref":"#/components/schemas/DkChange"}},"travelerDkChanges":{"type":"array","items":{"$ref":"#/components/schemas/DkChange"}}}}},"securitySchemes":{"oAuth2":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://apis.egencia.com/auth/v1/token"}}}}}}