{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://apis.egencia.com/openconnect/api","description":"API Server"}],"paths":{"/v1/billing-entity/thirdparty/response/gbt-customer":{"post":{"tags":["Third Party Acknowledgement"],"operationId":"saveAcknowledgement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GbtCapAckRequest"}}},"required":true},"responses":{"200":{"description":"<b>Retrieve</b>, indicating that the acknowledgement request has succeeded.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty3, invalid or expired","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"404":{"description":"<b>Not Found</b> : the resource does not exist.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"201":{"description":"<b>Created</b>, indicating that the submitted creation request has succeed. The response HTTP header <i>Location</i> contains the resource identifier.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"403":{"description":"<b>403 - Forbidden</b>","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"422":{"description":"<b>Invalid input</b> : invalid or missing required input.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"500":{"description":"<b>Internal Server Error</b> : unable to process request","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}}}}},"/v1/companies":{"get":{"tags":["Company Details"],"description":"<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n           <tr><td colspan=\"3\"><strong>Query Parameters</strong></td></tr>\n           <tr>\n               <td>name</td>\n               <td>String</td>\n               <td>Company name to search for (optional)</td>\n           </tr>\n           <tr>\n               <td>company_id</td>\n               <td>Long</td>\n               <td>Specific company ID (optional)</td>\n           </tr>\n           <tr>\n               <td>status</td>\n               <td>List&lt;String&gt;</td>\n               <td>Filter by company status(es) (optional)</td>\n           </tr>\n           <tr>\n               <td>start</td>\n               <td>Integer</td>\n               <td>Pagination start index (default: 0, optional)</td>\n           </tr>\n           <tr>\n               <td>sfid</td>\n               <td>String</td>\n               <td>Salesforce ID (optional)</td>\n           </tr>\n           <tr>\n               <td>count</td>\n               <td>Integer</td>\n               <td>Number of results per page (default: 100, max: 100, optional)</td>\n           </tr>\n           <tr>\n               <td>sort_by</td>\n               <td>List&lt;String&gt;</td>\n               <td>Fields to sort by (default: [\"company_name\"], optional)</td>\n           </tr>\n           <tr>\n               <td>sort_direction</td>\n               <td>String</td>\n               <td>Sort direction: \"ASC\" or \"DESC\" (default: \"ASC\", optional)</td>\n           </tr>\n           <tr>\n               <td>has_finance_consultant</td>\n               <td>Boolean</td>\n               <td>Filter by finance consultant presence (optional)</td>\n           </tr>\n           <tr>\n               <td>comcode</td>\n               <td>Long</td>\n               <td>Company code filter (optional)</td>\n           </tr>\n        </tbody>\n    </table>\n</div>\n<p><b>Examples:</b></p>\n\n<p>Searching companies with multiple filters:</p>\n<pre>\n   <code>\n   GET https://apis-eu-west-1.lab.egencia.cloud/openconnect/api/v1/companies?name=Acme&status=ACTIVE&count=50&sort_by=company_name&sort_direction=ASC\n       -> 200 OK\n{\n    \"companies\": [\n        {\n            \"company_id\": 60806,\n            \"company_name\": \"Acme Corp\"\n        },\n        {\n            \"company_id\": 60807,\n            \"company_name\": \"Acme Industries\"\n        }\n    ],\n    \"total_results\": 2,\n    \"start\": 0,\n    \"count\": 50\n}   </code></pre>","operationId":"searchCompanies","parameters":[{"name":"name","in":"query","description":"Company name to search for","required":false,"schema":{"type":"string"}},{"name":"company_id","in":"query","description":"Specific company ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","description":"Filter by company status(es)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"start","in":"query","description":"Pagination start index (default: 0)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sfid","in":"query","description":"Salesforce ID","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"Number of results per page (default: 100, max: 100)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort_by","in":"query","description":"Fields to sort by (default: [\"company_name\"])","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort_direction","in":"query","description":"Sort direction: \"ASC\" or \"DESC\" (default: \"ASC\")","required":false,"schema":{"type":"string"}},{"name":"has_finance_consultant","in":"query","description":"Filter by finance consultant presence","required":false,"schema":{"type":"boolean"}},{"name":"comcode","in":"query","description":"Company code filter","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"<b>Success</b>, indicating that the search request has succeeded. Returns a list of companies matching the criteria.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Search Response"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Search Response"}}}},"400":{"description":"<b>Bad Request</b> : invalid query parameters","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Search Response"}}}}}}},"/v1/companies/{company_id}":{"get":{"tags":["Company Details"],"description":"<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n           <tr><td colspan=\"3\"><strong>metadata</strong></td></tr>\n           <tr>\n               <td>companyId</td>\n               <td>Integer</td>\n               <td>Id of the company for which Company Display Name needs to be fetched</td>\n           </tr>\n        </tbody>\n    </table>\n</div>\n<p><b>Examples:</b></p>\n\n<p>Retrieving Company Display Name for company_id : 60806</p>\n<pre>\n   <code>\n   GET https://apis-eu-west-1.lab.egencia.cloud/openconnect/api/v1/companies/{companyId}\n       -> 200 OK\n{\n    \"company_id\": 60806,\n    \"company_name\": \"TMS Demo Aus\"\n}   </code></pre>","operationId":"retrieveCompany","parameters":[{"name":"company_id","in":"path","description":"Company Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"<b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Display Name"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Display Name"}}}},"404":{"description":"<b>Not Found</b> : the resource does not exist.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Company Display Name"}}}}}}},"/v1/companies/{company_id}/agent-assist-notes":{"get":{"tags":["Agent Assist Notes"],"description":"<p><b>Request Parameters</b></p>\n<div>\n    <table>\n        <thead>\n        <tr>\n            <th>\n               Attribute\n            </th>\n            <th>\n                Type\n            </th>\n            <th>\n                Description\n            </th>\n        </tr>\n        </thead>\n        <tbody>\n           <tr><td colspan=\"3\"><strong>metadata</strong></td></tr>\n           <tr>\n               <td>companyId</td>\n               <td>Integer</td>\n               <td>Id of the company for which AgentAssistNotes needs to be fetched</td>\n           </tr>\n        </tbody>\n    </table>\n</div>\n<p><b>Examples:</b></p>\n\n<p>Retrieving AgentAssistNotes for company_id : 60806</p>\n<pre>\n   <code>\n   GET https://apis-eu-west-1.lab.egencia.cloud/openconnect/api/v1/companies/{companyId}/agent-assist-notes\n       -> 200 OK\n       {\n{\n    \"company_id\": 60806,\n    \"agent_assist_note\": [\n        {\n            \"note_id\": \"1675325615806-bb28fb98\",\n            \"title\": \"Travel Managers\",\n            \"message\": \"travel manager details\",\n            \"created_at\": 1675325615806,\n            \"updated_at\": 1678197261234\n        },\n        {\n            \"note_id\": \"1675751952010-15b89dc8\",\n            \"title\": \"Service Team\",\n            \"message\": \"Service Teams second \",\n            \"created_at\": 1675751952010,\n            \"updated_at\": 1675762783745\n        },\n        {\n            \"note_id\": \"1680240558150-ef44ae1a\",\n            \"title\": \"test\",\n            \"message\": \"tee\",\n            \"created_at\": 1680240558150,\n            \"updated_at\": 1680240558150\n        },\n        {\n            \"note_id\": \"1680324192666-a29143f7\",\n            \"title\": \"ff\",\n            \"message\": \"hh\",\n            \"created_at\": 1680324192666,\n            \"updated_at\": 1680324192666\n        },\n        {\n            \"note_id\": \"1680340488384-85cc5c67\",\n            \"title\": \"test title 5\",\n            \"message\": \"test message 6\",\n            \"created_at\": 1680340488384,\n            \"updated_at\": 1680340488384\n        }\n    ]\n}\n   </code></pre>","operationId":"getAgentAssistNotes","parameters":[{"name":"company_id","in":"path","description":"Company Id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"201":{"description":"<b>Created</b>, indicating that the submitted creation request has succeed. The response HTTP header <i>Location</i> contains the resource identifier.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Agent Assist Notes"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty3, invalid or expired","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Agent Assist Notes"}}}},"403":{"description":"<b>403 - Forbidden</b>","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Agent Assist Notes"}}}},"422":{"description":"<b>Invalid input</b> : invalid or missing required input.","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Agent Assist Notes"}}}},"500":{"description":"<b>Internal Server Error</b> : unable to process request","content":{"application/json;charset=utf-8":{"schema":{"$ref":"#/components/schemas/Agent Assist Notes"}}}}}}},"/v1/companies/ecommerce-settings":{"get":{"tags":["ecommerce-settings-controller"],"operationId":"getSettings","parameters":[{"name":"billing_dk","in":"query","required":false,"schema":{"type":"string"}},{"name":"traveler_dk","in":"query","required":false,"schema":{"type":"string"}},{"name":"setting_type","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"<b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceSettingsApiResponse"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceSettingsApiResponse"}}}},"404":{"description":"<b>Not Found</b> : the resource does not exist.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceSettingsApiResponse"}}}}}}},"/v1/companies/ecommerce-settings/audit":{"get":{"tags":["ecommerce-settings-controller"],"operationId":"getAudit","parameters":[{"name":"start","in":"query","description":"Start Timestamp","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","description":"End Timestamp","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"setting_type","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"<b>Retrieve</b>, indicating that the submitted retrieval request has succeeded. The response HTTP header <i>Location</i> contains the resource identifier.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceAuditApiResponse"}}}},"401":{"description":"<b>Unauthorized</b> : <i>authentication token</i> empty, invalid or expired","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceAuditApiResponse"}}}},"404":{"description":"<b>Not Found</b> : the resource does not exist.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ECommerceAuditApiResponse"}}}}}}},"/gdpr":{"get":{"tags":["gdpr-controller"],"operationId":"validate","parameters":[{"name":"user_id","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserGDPRValidationResponseBean"}}}}}},"delete":{"tags":["gdpr-controller"],"operationId":"process","parameters":[{"name":"user_id","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"501":{"description":"Not Implemented","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorNode"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 EARLY_HINTS","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]}}}}}}},"/base/readiness":{"get":{"tags":["availability-probes-controller"],"operationId":"readiness","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Health"}}}}}}},"/base/liveness":{"get":{"tags":["availability-probes-controller"],"operationId":"liveness","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Health"}}}}}}},"/base/version":{"get":{"tags":["version-controller"],"operationId":"version","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}}},"put":{"tags":["version-controller"],"operationId":"version_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}}},"post":{"tags":["version-controller"],"operationId":"version_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}}},"delete":{"tags":["version-controller"],"operationId":"version_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}}},"options":{"tags":["version-controller"],"operationId":"version_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}}},"head":{"tags":["version-controller"],"operationId":"version_5","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}}},"patch":{"tags":["version-controller"],"operationId":"version_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}}}}},"components":{"schemas":{"ErrorNode":{"type":"object","properties":{"errorCode":{"type":"string"},"errorDescription":{"type":"string"}}},"GbtCapAckRequest":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","ERROR"]},"code":{"type":"string"},"message":{"type":"string"},"transactionId":{"type":"string"},"errorTyp":{"type":"string"},"acknowledgementSuccessDetails":{"$ref":"#/components/schemas/GbtCapAckRequestData"}}},"GbtCapAckRequestData":{"type":"object","properties":{"dk_number":{"type":"string"},"reporting_id":{"type":"string"},"reporting_name":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"billing_dk_number":{"type":"string"},"client_id":{"type":"string"},"account_number":{"type":"string"}}},"ActivationStatusAudit":{"type":"object","properties":{"changedBy":{"type":"integer","format":"int64"},"changedAt":{"type":"integer","format":"int64"},"oldStatus":{"type":"string","enum":["PENDING_ACTIVATION","ACTIVE","BLOCKED_FOR_BOOKING","BLOCKED_FOR_BOOKING_AND_INVOICING","DISABLED","DEACTIVATED"]},"newStatus":{"type":"string","enum":["PENDING_ACTIVATION","ACTIVE","BLOCKED_FOR_BOOKING","BLOCKED_FOR_BOOKING_AND_INVOICING","DISABLED","DEACTIVATED"]},"salesforceCaseNumber":{"type":"string"}}},"Address":{"type":"object","properties":{"suite":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"province":{"type":"string"},"city":{"type":"string"},"romanizedCity":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"postalCode":{"type":"string"}}},"Company Display Name":{"type":"object","description":" Company Display Name with ComapnyId","properties":{"companyId":{"type":"integer","format":"int64","description":"company id"},"companyName":{"type":"string","description":"Company Display Name","maxLength":2147483647,"minLength":1},"id":{"type":"string"},"federalTaxId":{"type":"string"},"status":{"type":"string","enum":["READY_TO_CREATE","ENABLED","DISABLED","PENDING","DEACTIVATED_FOR_BOOKING","READY_FOR_ACTIVATION","UNCOMMITED","INVALID","DELETED"]},"companyAddress":{"$ref":"#/components/schemas/Address"},"productId":{"type":"integer","format":"int64"},"category":{"type":"string"},"travelManager":{"$ref":"#/components/schemas/User"},"createdAt":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"createdBy":{"type":"string"},"updatedBy":{"type":"string"},"language":{"type":"string"},"comcode":{"type":"integer","format":"int64"},"bookingBlocked":{"type":"boolean"},"active":{"type":"boolean"},"global":{"type":"boolean"},"activationStatus":{"type":"string","enum":["PENDING_ACTIVATION","ACTIVE","BLOCKED_FOR_BOOKING","BLOCKED_FOR_BOOKING_AND_INVOICING","DISABLED","DEACTIVATED"]},"auditActivationStatus":{"type":"array","items":{"$ref":"#/components/schemas/ActivationStatusAudit"}}},"required":["companyId","companyName"]},"Company Search Response":{"type":"object","description":"Company search results with pagination information","properties":{"count":{"type":"integer","format":"int32","description":"Number of results returned"},"start":{"type":"integer","format":"int32","description":"Start index for pagination"},"totalResults":{"type":"integer","format":"int32","description":"Total number of results found"},"companies":{"type":"array","description":"List of companies matching search criteria","items":{"$ref":"#/components/schemas/Company Display Name"}}}},"PhoneNumber":{"type":"object","properties":{"number":{"type":"string"},"label":{"type":"string"}}},"User":{"type":"object","properties":{"tuid":{"type":"integer","format":"int64"},"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"userId":{"type":"string"},"email":{"type":"string"},"alternateEmail":{"type":"string"},"role":{"type":"string","enum":["ACCOUNT_MANAGER","BILLING_CONTACT"]},"phoneNumbers":{"type":"array","items":{"$ref":"#/components/schemas/PhoneNumber"}}}},"Agent Assist Notes":{"type":"object","description":" List of Agent Assist Notes","properties":{"companyId":{"type":"integer","format":"int64","description":"company id"},"agent_assist_note":{"type":"array","description":"list of Agent Assist Notes","items":{"$ref":"#/components/schemas/AgentAssistNoteDTO"}}},"required":["companyId"]},"AgentAssistNoteDTO":{"type":"object","properties":{"noteId":{"type":"string"},"title":{"type":"string"},"message":{"type":"string"}}},"ECommerceSetting":{"type":"object","properties":{"settingType":{"type":"string","enum":["INVOICE_SETTING","PAYMENT_SETTING","COMPANY_SETTING"]},"setting":{}}},"ECommerceSettingsApiResponse":{"type":"object","properties":{"ecommerceSettings":{"type":"array","items":{"$ref":"#/components/schemas/ECommerceSetting"}}}},"DkChange":{"type":"object","properties":{"dkNumber":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"},"settingType":{"type":"string","enum":["INVOICE_SETTING","PAYMENT_SETTING","COMPANY_SETTING"]}}},"ECommerceAuditApiResponse":{"type":"object","properties":{"billingDkChanges":{"type":"array","items":{"$ref":"#/components/schemas/DkChange"}},"travelerDkChanges":{"type":"array","items":{"$ref":"#/components/schemas/DkChange"}}}},"UserGDPRValidationResponseBean":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"actionStatus":{"type":"string"},"validationMessages":{"type":"array","items":{"type":"string"}}}},"Health":{"type":"object","properties":{"description":{"type":"string"},"status":{"type":"string"},"details":{"type":"object","additionalProperties":{}}}},"Version":{"type":"object","properties":{"applicationName":{"type":"string"},"activeProfiles":{"type":"string"},"datacenter":{"type":"string"},"stage":{"type":"string"},"buildVersion":{"type":"string"},"buildNumber":{"type":"string"},"buildDate":{"type":"string"},"machineName":{"type":"string"},"deploymentDate":{"type":"string"},"applicationData":{"type":"object","additionalProperties":{"type":"string"}}}}},"securitySchemes":{"oAuth2":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://apis.egencia.com/auth/v1/token"}}}}}}